/**
 * Shipping Estimate extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_ProductPageShipping
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */

.block-shipping-estimate select,
.block-shipping-estimate input { width:100%; }
.block-shipping-estimate .radio input { width: 20px; }
.block-shipping-estimate .radio div.input-box { clear:both; }
.block-shipping-estimate .block-content li.item { padding:3px 9px; }
.block-shipping-estimate .block-content li.last { padding-bottom: 7px;}
.block-shipping-estimate .block-content li label { float:left; color:#666; font-weight:bold; position:relative; z-index:0; }
.block-shipping-estimate .block-content li label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.block-shipping-estimate .block-content li.odd { background: transparent;  }
.block-shipping-estimate .block-content li.even { background: transparent; }
.block-shipping-results .block-content { padding: 3px 9px;}
.block-shipping-results .block-content dl dt, 
.block-shipping-results .block-content .price { font-weight:bold;}
.block-shipping-results .block-content dl dd { padding: 0px 0px 5px 10px; }

.btnCalcularFrete {
  width: 100%;
  background: #000;
  background-image: -webkit-linear-gradient(top, #000, #000);
  background-image: -moz-linear-gradient(top, #000, #000);
  background-image: -ms-linear-gradient(top, #000, #000);
  background-image: -o-linear-gradient(top, #000, #000);
  background-image: linear-gradient(to bottom, #000, #000);
  border-radius: 0px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: 1.7em;
  margin-top: -8px;
}

.shiipingCart {
    margin-bottom: 5px !important;
    font-size: 0.73em;
    cursor: pointer;
}

.shiipingCart-no-pointer {
    color: #a94442;
    margin-bottom: 5px !important;
   font-size: 0.73em;
}