<?php

/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 
?>
<?php 
	$helper = Mage::helper('customaddress');
	$helper->checkStates();
	$storeCode = Mage::app()->getStore()->getLocaleCode();
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.maskedinput.min.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('dexxtz/customaddress/js/dexxtz.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('dexxtz/customaddress/js/jquery-2.1.1.js') ?>"></script>

<script type="text/javascript">
	
	var jQuery = jQuery.noConflict();
	jQuery(document).ready(function() {
		jQuery('.state_autocomplete').addClass('validate-select');
		jQuery('.state_autocomplete').addClass('required-entry');
	});
	
	function getStates() {
		return 	JSON.parse('<?php echo json_encode($_SESSION['states']) ?>');
	}

	function atribuirAncora() {
		alert('OK');
		jQuery('#nextStep').fadeIn(1000);
	}
</script>

<style>
	a:hover { background-color: transparent !important; text-decoration: none !important; }
</style>

<form id="co-billing-form" action="" >
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul>
            <fieldset class="fieldsetPadrao">
    		<legend class="legendPadrao">Dados Pessoais</legend>
            <div class="divBlocos">
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
             	<?php if ($helper->getCompany() == 1 || !$this->isCustomerLoggedIn()) { ?>
             	<li class="fields">
             	<?php } ?>
             		<?php if ($helper->getCompany() == 1) { ?>
                    <div class="field">
                        <label for="billing:company"><?php echo $helper->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text"  maxlength="50" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $helper->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                        </div>
                    </div>
                    <?php } ?>
                <?php if ($helper->getCompany() == 1 || !$this->isCustomerLoggedIn()) { ?>
             	</li>
             	<?php } ?>
             	  <li class="fields">
		        <?php if ($this->isTaxvatEnabled()):?>
		        		 <div class="field">
		               		<?php echo $this->getTaxvatHtml() ?>
		               	</div>
		        <?php endif; ?>
        
		        	<?php if(!$this->isCustomerLoggedIn()): ?>
		
				        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
				        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
				            <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
				                <?php if ($_dob->isEnabled()): ?>
				                    <div class="field">
				                        <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
				                    </div>
				                <?php endif; ?>
				                <?php if ($_gender->isEnabled()): ?>
				                    <div class="field">
				                        <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
				                    </div>
				                <?php endif ?>
				           <?php endif ?>
		          </li>
        	</div>
        	</fieldset>
        	<br/>
        	<div id="blocoEndereco"/>
        	<fieldset class="fieldsetPadrao">
    			<legend class="legendPadrao">telefones</legend>
	            <div class="divBlocos">
	                <li class="fields">
			                    <div class="field">
			                        <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
			                        <div class="input-box">
			                            <input placeholder="DDD + Telefone" style="width: 240px;"  type="text" name="billing[telephone]"<?php echo $helper->addMask(16, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
			                        </div>
			                    </div>
			                    <div class="field">
			                        <label for="billing:fax"><?php echo $helper->__('Fax') ?></label>
			                        <div class="input-box">
			                            <input type="text" placeholder="DDD + Telefone" style="width: 240px;" name="billing[fax]"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $helper->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
			                        </div>
			                    </div>
	                </li>
	           </div>
        	</fieldset>
        	<br/>
        	<fieldset class="fieldsetPadrao">
		    <legend class="legendPadrao">endere&ccedil;o</legend>
		    <div class="divBlocos">
                <li class="fields">
                	<div class="field">
                        <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input placeholder="Digite apanas n&uacute;meros"  id="billing:postcode" style="width: 240px;" type="tel"<?php echo $helper->getAutoComplete('zip_autocomplete', true, false) . $helper->addZipMask($storeCode);?> title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international<?php echo $helper->getAutoComplete(' zip_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" maxlength="9" />
                        </div>
                    </div>
                </li>
                 <li class="fields">
                 	<?php if ($storeCode == 'pt_BR' && $helper->getZipLink() == 1) { ?>
                    <div class="field">
	                	<a href="#blocoEndereco" onclick="window.open('http://www.buscacep.correios.com.br/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=0, LEFT=10, WIDTH=770, HEIGHT=400');">
	                		<img src="<?php echo $this->getSkinUrl('images/logo_consultar_cep.gif')?>" width="130" title="Consultar seu CEP" />
	                	</a>  
                	</div>
	                <?php } ?>   
                 </li>
                <li class="fields">
                	<div class="field">
	                    <label for="billing:street_1" class="required"><em>*</em><?php echo $helper->__('Address') ?></label>
	                    <div class="input-box">
	                        <input placeholder="Ex: Rua Alameda dos Santos"  type="text" style="border: 1px solid;" title="<?php echo $helper->__('Address') ?>" name="billing[street][]" id="billing:street_1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street1_autocomplete');?>" />
	                    </div>
	                </div>
	             	
	            	<div class="field">
	             		<label for="billing:street_2" class="required"><em>*</em><?php echo $helper->__('Number'); ?></label>
	             		<div class="input-box">
	                        <input  placeholder="Ex: 235"   style="border: 1px solid;" type="text" maxlength="20" title="<?php echo $helper->__('Number'); ?>" name="billing[street][]" id="billing:street_2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input-text required-entry" />
	                    </div>
	               </div>
	            </li>
	        	<li class="fields">
	        		<div class="field">
	        			<label for="sbilling:street_3" class="required"><em>*</em><?php echo $helper->__('Region'); ?></label>
	        			<div class="input-box">
	                        <input placeholder="Ex: Jardim Formosa" type="text"  style="border: 1px solid;" title="<?php echo $helper->__('Region'); ?>" name="billing[street][]" id="billing:street_3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street3_autocomplete');?>" />
	                    </div>
	                </div>
	                <div class="field">
	             		<label for="billing:street_4"><?php echo $helper->__('Complement'); ?></label>
	             		<div class="input-box">
	                        <input placeholder="Ex: Apto 84"  style="border: 1px solid;" type="text" maxlength="30" title="<?php echo $helper->__('Complement'); ?>" name="billing[street][]" id="billing:street_4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input-text" />
	                    </div>
	               </div>              	
	            </li>
				<?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                <li class="wide">
                    <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                    <div class="input-box">
                        <input type="text" maxlength="30" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                    </div>
                </li>
                <?php endif; ?>
                <li class="fields">
                     <div class="field">
                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" placeholder="Vila Maria" style="border: 1px solid;"  maxlength="50" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text<?php echo $helper->getAutoComplete(' city_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />
                        </div>
                    </div>
                    <div class="field" >
                        <label class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <select style="border: 1px solid;" id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select<?php echo $helper->getAutoComplete(' state_autocomplete');?>" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" maxlength="50" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text<?php echo $helper->getAutoComplete(' state_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                    </div>
                </li>                
                <li class="fields"<?php if ($helper->getCountry() == 0) { echo ' style="display:none;"'; } ?>>                    
                    <div class="field">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </li>     
                <br/>
         	    <?php if ($this->canShip()): ?>
         	    	<span><img src="<?php echo $this->getSkinUrl('images/atencao.gif')?>" width="32" /></span>
         	    	<br/>
         	    	<br/>
         	    	<div class="input-box">
				        <li class="radioPadrao">
				        	<label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label>
				            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" />
				        </li>
			        </div>
			        <div class="input-box">
				        <li class="radioPadrao">
				        	<label for="billing:use_for_shipping_no"><?php echo $this->__('Ship to different address') ?></label>
				            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->__('Ship to different address') ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" />
				        </li>
				    </div>
    			<?php endif; ?>
         	</div>
       	</fieldset>    
       	<br/>
       	
                
            <fieldset class="fieldsetPadrao">
		    <legend class="legendPadrao">Dados de Acesso</legend>
		    <div class="divBlocos">
                <li class="fields" id="register-customer-password">
                	 <?php if(!$this->isCustomerLoggedIn()): ?>
	                    <div class="field">
	                        <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
	                        <div class="input-box">
	                            <input placeholder="Ex: joaoalbertoroberto@seuemail.com"  style="border: 1px solid;" type="email" maxlength="50" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
	                        </div>
	                    </div>
       	 			<?php endif; ?>
                </li>
                <li>
                	<div class="field">
                        <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" onfocus="this.style.border = '3px solid'; this.style.borderColor='#FF0000'" onblur="this.style.border = '1px solid'; this.style.borderColor='#000000'" style="border: 1px solid;"  maxlength="50" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                        </div>
                     </div>
                     <div class="field">
                        <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" onfocus="this.style.border = '3px solid'; this.style.borderColor='#FF0000'" onblur="this.style.border = '1px solid'; this.style.borderColor='#000000'" style="border: 1px solid;"  maxlength="50" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                </li>
                </div>
                </fieldset>
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
     </li>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>
    <div class="buttons-set" id="billing-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button id="nextStepBilling" style="float: right;" type="button" title="<?php echo $this->__('Continue') ?>" class="btnContinuar" onclick="billing.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="billing-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');

    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    if ($('onepage-guest-register-button')) {
        Event.observe($('onepage-guest-register-button'), 'click', function(event) {
            var billingRememberMe = $('co-billing-form').select('#remember-me-box');
            if (billingRememberMe.length > 0) {
                if ($('login:guest') && $('login:guest').checked) {
                    billingRememberMe[0].hide();
                } else if ($('login:register') && ($('login:register').checked || $('login:register').type == 'hidden')) {
                    billingRememberMe[0].show();
                }
            }
        });
    }
//]]>
</script>