.product-view .product-img-box {position: relative; margin-right: 100px;}
.colorswatches-container {margin: 0 0 10px 0 }
.colorswatches-container .colorswatch { display: inline-block; margin:0 4px 4px 0; text-align: center}
.colorswatches-container .colorswatch img { cursor: pointer; border:2px solid transparent; }
.colorswatches-container .colorswatch span {display: block; margin: 8px 4px 0; font-size: 12px; }
.colorswatches-container .colorswatch a { cursor: pointer }
.colorswatches-container .colorswatch.current { }
.colorswatches-container .colorswatch.current img{ border:2px solid #000; }
.colorswatches-loading{ 
    display: none; 
/*  position: absolute; z-index: 10; top: 0; left: 0;
    border:1px solid #ddd; background: #eee; padding: 5px; color: #777;*/
    font-size: 11px; color: #fff; background:#000; text-transform: uppercase;
    width: 156px; padding:11px 26px; 
    position: absolute; left: 0; right: 0; top: 50%!important; margin: 0 auto; text-align: center;
    opacity: 1 !important;  z-index: 999;
}