/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div.owl-prev:before{
	content: "\f053";
    font: normal normal normal 30px/1.3 FontAwesome;
    margin-right: 10px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next:before{
	content: "\f054";
    font: normal normal normal 30px/1.3 FontAwesome;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev.disabled {
	opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons div.owl-next.disabled {
	opacity: 0.5;
}
.owl-theme .owl-controls .owl-buttons div{ */
	display: inline-block;
	zoom: 1;
	display: inline;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}



/**
 *  Horizontal Buttons
 */
.owl-carousel li.item {
	width: 76% !important;
}

.padraoCarrossel {
	left: 4px !important;
	top: 10px !important;
	background-color : transparent !important;
}
