*{ margin: 0; padding: 0;}

body{ height:100%; width:100%; background-image:url(../images/bg_geometrico2.jpg); background-repeat:no-repeat; background-position:0 0; background-size:cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='../images/bg_geometrico2.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_geometrico2.jpg', sizingMethod='scale')"; background-color:#B3B3B3; text-align:center; font-family:Arial, Helvetica, sans-serif;   margin:0;}

/* Header */
#header{ padding:20px; text-align: center; color:#fff; font-size:18px;  background-color: #ba1400;  margin: 20px 0; }
#header .logo {  margin: 0 0 40px; }
#header h2{ text-transform: uppercase; padding-bottom: 12px;}

/* Counter */
.numbers { padding: 0px; width: 45px; text-align: center; font-family: Arial;  font-size: 28px; font-weight: bold;  font-style: normal; color: #FFFFFF;   }
.title { border-style: none; padding: 0px 0px 3px 0px; width: 45px; text-align: center; font-family: Arial; font-size: 10px; font-weight: bold;  color: #FFFFFF;  }
#timer-table { }
.countdown { display: block; text-align: center; width: auto; margin-bottom: 30px;}
.countdown .timer{  clear: both;  display: inline-block;   height: 85px;  margin: 0 auto;    padding: 0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;    background: url("../images/bg-header.png") repeat; } 
.timer div {  clear: right;  display: block;  float: left;  font-size: 14px; padding: 14px 9px; border-right:1px solid rgba(0, 0, 0, 0.1); color:#fff; font-weight: bold; }
.timer div.last {  border-right: 0 none; }
.timer strong { color: #FFFFFF;  display: block;  font-size: 24px;  font-weight: bold; letter-spacing: 0;  margin: 3px 0 7px;  color:#fff; }

.main-container{ margin: 0 auto; width: 780px; padding: 20px;}

#launch-text{   /* border-bottom: 5px solid rgba(0, 0, 0, 0.2);  border-top: 5px solid rgba(0, 0, 0, 0.2); */ color: #fff;  text-transform: uppercase; text-decoration: underline; padding-bottom: 20px;}

/* notification-container */
.notification-container { 
	background-color: #e2e2e2;  
	border: 1px solid rgba(0, 0, 0, 0.36);    
	margin: 0 auto;  padding: 15px 15px 3px !important;   
	width: 40%; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; border-radius: 4px; 
	-webkit-box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); 
	-moz-box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); 
	box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); 
	border: solid 1px rgba(0,0,0,.36);
}

.notification-title{  
	text-transform: uppercase; 
	border-bottom: 1px solid #cdcdcd;  
	color: #c3181f;  font-size: 15px;  
	font-weight: bold;  
	padding: 0 0 8px;  
	text-align: center;}
.notification-content{ text-align: left;}
.notification-content .button-feedback{ margin: 0;}

/* Messages*/
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold;  }
.notice { color:#e26703; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; margin-top: 10px; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:14px !important; padding:8px 8px 8px 8px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }

/* notification-container form  */

 ul, ol{ list-style: none outside none;}
.form-list{ margin: 20px 0 0;}
.form-list li { margin: 0 0 12px 0;}
.form-list button.button{margin-top:10px;}
.form-list input,select .feedback-content , .feedback-content textarea, .feedback-content button { 
	font:12px/30px Arial, Helvetica, sans-serif !important; 
	vertical-align:middle; color:#343434 !important;  
	-webkit-border-radius: 5px !important;  
	-moz-border-radius: 5px !important; 
	border-radius: 5px !important; 
	height: 36px !important;}
 .form-list input.input-text, .form-list select.input-text {
 	height: 30px !important; 
 	width: 100% !important;  
 	-webkit-border-radius: 7px/8px !important; 
 	-moz-border-radius: 7px/8px !important; 
 	border-radius: 7px/8px !important; 
 	background-color: #ececec !important; 
 	-webkit-box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	-moz-box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	border: solid 1px #b8b8b8 !important; 
 	background-image: -webkit-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: -moz-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: -o-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: linear-gradient(to top, #ececec, #fff) !important; 
 }
 
 .form-list textarea {
 	height: 100px !important; 
 	width: 100% !important;  
 	-webkit-border-radius: 7px/8px !important; 
 	-moz-border-radius: 7px/8px !important; 
 	border-radius: 7px/8px !important; 
 	background-color: #ececec !important; 
 	-webkit-box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	-moz-box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	box-shadow: inset 0 0 4px rgba(255,255,255,.75) !important; 
 	border: solid 1px #b8b8b8 !important; 
 	background-image: -webkit-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: -moz-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: -o-linear-gradient(bottom, #ececec, #fff) !important; 
 	background-image: linear-gradient(to top, #ececec, #fff) !important; 
 }
 
 .form-list input.input-text.validation-failed, .form-list select.validation-failed, .form-list textarea.validation-failed{ border-color: red;}
.form-list input.input-text, .form-list textarea { padding:2px; }
.form-list textarea { height: 5em;}
.form-list label {  
	color: #343434; 
	display: inline-block; 
	font-size: 13px;
	font-weight: bold;  
	padding-bottom: 3px; 
	width: 100%;  
	z-index: 0;
}
.form-list label .required{ color: red;}

 @media (min-width: 800px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }

@media (max-width: 980px) {
	.main-container{ width: 90%; padding: 15px 5%;}
	.notification-container{ padding: 15px 5% 3px;  width: 80%; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 980px) {
	.notification-container{ padding: 15px 5% 3px;  width: 100%; }
}

@media (max-width: 480px) {
	
	.main-container{ width: 90%; padding: 15px 5%;}
	.notification-container{ padding: 15px 5% 3px;  width: 80%; }
	
}