 .side-feedback { 
	 border:none; 
	 left: 0px; 
	 padding: 0px; 
	 position: fixed; 
	 *position:  absolute; 
	 *left:0; top: 315px;  
	 width: 135px; 
	 height:30px; 
	 z-index:9;
 }
 .side-feedback a { 
	 height:100%; 
	 width:100%; 
	 float:left;
/* 	 background:url(../images/feedbacktab.png) no-repeat -10px 0;  */
/* 	 z-index:200; */
  background: #ba1400;
  background-image: -webkit-linear-gradient(top, #ba1400, #ff2207);
  background-image: -moz-linear-gradient(top, #ba1400, #ff2207);
  background-image: -ms-linear-gradient(top, #ba1400, #ff2207);
  background-image: -o-linear-gradient(top, #ba1400, #ff2207);
  background-image: linear-gradient(to bottom, #ba1400, #ff2207);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
 padding: 16px 16px 0px 16px;
  text-decoration: none;
 }
 .side-feedback a:hover { 
	 height:100%; 
	 width:100%; 
	 float:left;
/* 	 background:url(../images/feedbacktab.png) no-repeat -6px 0; */
/* 	 z-index:200; */
  background: #ba1400;
  background-image: -webkit-linear-gradient(top, #ff2207, #ff2207);
  background-image: -moz-linear-gradient(top, #ff2207, #ff2207);
  background-image: -ms-linear-gradient(top, #ff2207, #ff2207);
  background-image: -o-linear-gradient(top, #ff2207, #ff2207);
  background-image: linear-gradient(to bottom, #ff2207, #ff2207);
  text-decoration: none;
}
 
.rotate {  
    transform:  translateX(-200%) translateY(-50%) rotate(-90deg);
}

.rotateBotao {  
    transform:  translateX(195%) translateY(-3%);
}
 
 

 .background-opacity { background: none repeat scroll 0 0 #000000; display: none; height: 100%; left: 0; opacity: 0.7; filter:alpha(opacity=70); position: fixed; top: 0; width: 100%; z-index: 9999;}
 .feedback-container {  
 	position:fixed;
	 -webkit-border-radius: 4px; 
	 -moz-border-radius: 4px; 
	 border-radius: 4px; 
	 height: 470px; 
	 background: #fff; 
	 border: 3px solid #cccccc;   
	 bottom: 0;   
	 left: 0;  
	 margin: auto;  
	 padding: 20px 20px 5px 20px; 
	 right: 0; 
	 text-align: left; top: 0;
	 width: 400px;  
	 z-index: 9999;
	 top: 5%;
 }
 
 
 
 .feedback-container .feedback-popup-content{ overflow-y: auto; height: 470px;}
 .feedback_close { background: url("../images/closebox.png") no-repeat scroll 0 0 transparent; height: 30px; position: absolute; right: -13px; top: -18px; width: 30px;}

.feedback-title{ border-bottom: 1px solid #e8e8e8; padding-bottom: 8px; font-weight: bold;} 
.button-feedback { 
	overflow:visible; 
	width:auto; border:0; 
	padding:0; margin:0;
	background:transparent; 
	cursor:pointer; height:auto; 
	*height:40px !important;
	margin-top: 10px; 
	position: relative; 
	left: 0;
 }
.button-feedback span { 
	float:left; height:30px; 
	background:transparent url(../images/general-btn.gif) 0 0 no-repeat; 
	padding:0 0 0 3px; 
	font:bold 11px/30px Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; white-space:nowrap; color:#fff; 
}

.button-feedback span span { 
	background-position:100% 0; 
	padding:0 30px 0 8px; 
}
.feedback-content button.disabled span { border-color:#bbb !important; background:#bbb !important; }
.feedback-content .feedback-error-msg { background-color: #FAEBE7;  ;  border-color: #F16048;  color: #DF280A; }
.feedback-content .feedback-success-msg, .feedback-content .feedback-error-msg {
    background-position: 10px 9px !important;
    background-repeat: no-repeat !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 11px !important;
    font-weight: bold !important;
    min-height: 14px !important;
    padding: 8px 8px 8px 8px !important;
    margin-top: 15px;
}
.feedback-content .feedback-success-msg { background-color: #EFF5EA !important;   border-color: #446423; color: #3D6611; }

.validation-advice{ /*bottom: -16px;*/ color: red;   font-size: 12px;  padding-top: 3px; /* position: absolute;*/}
.form-list li {   /*margin: 0 0 15px; position: relative; */ margin: 0 0 8px; position: relative; }



/* @media (max-width: 480px) { */


/* .feedback-container{ width: 250px; height: 460px;} */


/* } */

.fonteDetalhes {
	 font-size: 15px;
	 color: gray;
	 text-align: center;
}