<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    tip
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>

<style>
.header-container  {
	position: initial !important;
}

.h1_blog {
	font-size: 2.6vw; !important;
	font-weight: 600;
}

.h1_post {
	font-size: 2vw; !important;
	font-weight: 600;
}


</style>


<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/social/social.js' ?>" ></script>


<script>
var a2a_config = a2a_config || {};
a2a_config.overlays = a2a_config.overlays || [];
a2a_config.overlays.push({
    services: ['whatsapp', 'facebook', 'twitter'],
    size: '50',
    style: 'horizontal',
    position: 'top center'
});
</script>

<?php $post = $this->getPost(); ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="postWrapper">
    <div class="postTitle">
        <h1 class="h1_blog"><?php echo $post->getTitle(); ?></h1>
        <h3><?php echo $post->getCreatedTime(); ?></h3>
    </div>

  
    <div class="postContent std"><?php echo $post->getPostContent(); ?></div>
    <?php echo $this->getBookmarkHtml($post) ?>
    
    <div class="tags"><?php echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>
    <div class="postDetails">
        <?php $postCats = $post->getCats(); ?>
        <?php if (!empty($postCats)): ?>
            <?php echo Mage::helper('blog')->__('Posted by'); ?>
        <?php endif; ?><?php echo $this->__("By author"); ?> <h4 class="poster"><?php echo $post->getUser(); ?></h4>
    </div>
    <div class="tags"><?php echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>
    <div class="postDetails">
        <?php $postCats = $post->getCats(); ?>
        <?php if (!empty($postCats)): ?>
            <?php echo Mage::helper('blog')->__('Posted in'); ?>
            <?php foreach ($postCats as $title => $url): ?>
                <a href="<?php echo $url; ?>"><?php echo $title; ?></a>
            <?php endforeach; ?>
        <?php else: ?>
        <?php endif; ?>
    </div>
    <br/><br/>
     <!-- AddToAny BEGIN -->
	<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
	<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
	<a class="a2a_button_facebook"></a>
	<a class="a2a_button_twitter"></a>
	<a class="a2a_button_google_plus"></a>
	</div>
	<!-- AddToAny END -->

</div>


<!-- Comment Section -->

<?php if ($this->getCommentsEnabled()): ?>
<fieldset style="width: 80%;border: 1px solid #CCC;padding: 20px;" >
<div class="commentWrapper ">
    <?php $comments = $this->getComment(); ?>
    <div class="commentTitle divFundo3" ><a name="commentBox" ></a>
        <div><h1 class="h1_post"><?php echo $this->__('Post Comments Here') ?></h1></div>
         <div><h3 class="h1_post_red"><?php echo $this->__('Your email address will not be published') ?></h1></div>
        
		</br></br>
        <?php foreach ($comments as $comment) : ?>
            <div class="commentWrapper commentFundo">
                <div class="commentDetails"><h4 class="username"><?php echo $this->getClearComment($comment->getUser()); ?></h4> <?php echo $this->__("posted on") ?> <?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
                <div class="commentContent"><?php echo nl2br($this->getClearComment($comment->getComment())); ?></div>
            </div>
        <?php endforeach; ?>

    </div>
    
    <br/>

    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form action="" id="postComment" method="post">
                    <div class="fieldset">
                        <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                        <ul class="form-list">
                            <li>

                                <div class="input-box aw-blog-comment-area">
                                    <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-set" style="width:96%">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button"  type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form action="" id="postComment" method="post">
                <div >
                    <div>
                    <div class="form-list">
                            <div class="input-box expand">
                                <label for="user" ><em>*</em></label>
                                <span class="label-input100"><?php echo $this->__('Name') ?></span>
                                <input name="user" autocomplete="off" maxlength="100"  id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="input100 required-entry input-text" type="text" />
                            	<div class="border"></div>
                            </div>
							<br/>
                            <div class="input-box expand">
                                <label for="email" ><em>*</em></label>
                                <span class="label-input100"><?php echo Mage::helper('blog')->__('Email') ?></span>
                                <input name="email" autocomplete="off" maxlength="100" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text" />
                            	<div class="border"></div>
                            </div>
							<br/>
                            <div class="clear"></div>

                            <div class="input-box aw-blog-comment-area expand">
                                <label for="comment" ><em>*</em></label>
                                <span class="label-input100"><?php echo Mage::helper('blog')->__('Comment') ?></span>
                                <textarea name="comment" maxlength="500" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            	<div class="border"></div>
                            </div>

                        <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li>
                            <script src='https://www.google.com/recaptcha/api.js'></script><?php
                            require_once 'recaptcha/recaptchalib-aw.php';

                            // Get a key from https://www.google.com/recaptcha
                            $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');

                            ?></li>
                            <div class="g-recaptcha" data-sitekey="<?php echo $publickey?>"></div><?php
                        }
                        ?>
                    </div>
                </div>
                <div class="button-set">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="btnFinalizar" style="width: 100%; text-align: centger;" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
                </div>
                  <div class="buttons-set">
			    </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
</div>
</fieldset>
<?php endif; ?>