<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    tip
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($posts = $this->getRecent()): ?>
    <div class="widget-latest containerMain parceiroMain" style="margin-top: 100px;">
        <h2 class="tituloGaleria section-heading text-center"><?php echo Mage::helper('blog')->__('Latest Posts'); ?></h2>
        <ul>
            <?php foreach ($posts as $post): ?>
                <li class="postTitle op-blog">
                    <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
                	<h3><?php echo $post->getCreatedTime(); ?></h3>
                    <div><?php echo $post->getShortContent()  ?></div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>