.cms-page-view .owl-carousel li { font-style: normal }
.productslider-container { margin: 0 0 25px}
.productslider-container .owl-carousel, .productslider-container .owl-carousel ul {list-style: none; margin: 0; padding: 0 }
.productslider-container .owl-carousel .owl-buttons {position: absolute; right: 0; top: -40px;}
.productslider-container .owl-carousel li { margin: 0 }
.productslider-container .owl-carousel .add-to-links { margin-top: 10px }
.productslider-container .owl-carousel p { margin: 0 }
.productslider-container .owl-carousel li.item{ margin: 0 7px}
.productslider-container .owl-carousel li.item img{ max-width: 100%}

.productslider-container-rtl { direction: rtl}
.productslider-container-rtl .owl-carousel .owl-buttons {left: 0; right: inherit }
.productslider-container-rtl .owl-carousel .owl-item {float: right}