<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
				<td>Hello {{var customer_name}},</td>
			</tr>
			<tr>
				<td>Support ticket has been created for you with Ticket Id: <b>{{var ticket_id}}</b>.</td>
			</tr>
			<tr>
				<td>Our support team will reply for this ticket in next some hours. You can check your ticket from your account.</td>
			</tr>
			{{depend guest_url}}
			<tr>
				<td>You can access ticket from here <a href="{{var guest_url}}">{{var guest_url}}</a></td>
			</tr>
			{{/depend}}
	</td>
</tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
</table>
</body>

