.jssocials-theme-flat .jssocials-share-reddit .jssocials-share-link { background: #FF4500; }

.jssocials-theme-flat .jssocials-share-reddit .jssocials-share-link:hover { background: #E02903; }

.jssocials-theme-flat .jssocials-share-tumblr .jssocials-share-link { background: #36465D; }

.jssocials-theme-flat .jssocials-share-tumblr .jssocials-share-link:hover { background: #23334A; }

.jssocials-theme-flat .jssocials-share-twitter .jssocials-share-link { background: #00aced; }

.jssocials-theme-flat .jssocials-share-twitter .jssocials-share-link:hover { background: #0087ba; }

.jssocials-theme-flat .jssocials-share-facebook .jssocials-share-link { background: #3b5998; }

.jssocials-theme-flat .jssocials-share-facebook .jssocials-share-link:hover { background: #2d4373; }

.jssocials-theme-flat .jssocials-share-googleplus .jssocials-share-link { background: #dd4b39; }

.jssocials-theme-flat .jssocials-share-googleplus .jssocials-share-link:hover {	background: #c23321; }

.jssocials-theme-flat .jssocials-share-linkedin .jssocials-share-link { background: #007bb6; }

.jssocials-theme-flat .jssocials-share-linkedin .jssocials-share-link:hover { background: #005983; }

.jssocials-theme-flat .jssocials-share-pinterest .jssocials-share-link { background: #cb2027; }
  
.jssocials-theme-flat .jssocials-share-pinterest .jssocials-share-link:hover { background: #9f191f; }

.jssocials-theme-flat .jssocials-share-email .jssocials-share-link { background: #3490F3; }
 
.jssocials-theme-flat .jssocials-share-email .jssocials-share-link:hover { background: #0e76e6; }

.jssocials-theme-flat .jssocials-share-whatsapp .jssocials-share-link { background: #29a628; }

.jssocials-theme-flat .jssocials-share-whatsapp .jssocials-share-link:hover { background: #1f7d1e; }

.jssocials-theme-flat .jssocials-share-link {
	padding: .5em .6em;
	color: #fff;
	-webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
	transition: background 200ms ease-in-out, border-color 200ms ease-in-out; 
}

.jssocials-theme-flat .jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active { color: #fff; }

.jssocials-theme-flat .jssocials-share-count-box {
	position: relative;
	height: 2.5em;
	padding: 0 .3em;
	margin-left: 0.3em;
	background: #f5f5f5;
	-webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
	transition: background 200ms ease-in-out, border-color 200ms ease-in-out; 
}
 
.jssocials-theme-flat .jssocials-share-count-box:hover { background: gainsboro; }
.jssocials-theme-flat .jssocials-share-count-box:hover:after { border-color: transparent gainsboro transparent transparent; }
.jssocials-theme-flat .jssocials-share-count-box:after {
	content: "";
	display: block;
	position: absolute;
	top: 0.85em;
	left: -0.3em;
	width: 0;
	height: 0;
	border-width: 0.4em 0.4em 0.4em 0;
	border-style: solid;
	border-color: transparent #f5f5f5 transparent transparent;
	-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
			transform: rotate(360deg);
	-webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
			transition: background 200ms ease-in-out, border-color 200ms ease-in-out; 
}
.jssocials-theme-flat .jssocials-share-count-box .jssocials-share-count {
	line-height: 2.5em;
	color: #444; 
}
