<div style="text-align: center;">
	<ul>
		<ul>
			<li style="text-transform: uppercase; color: #fff"><strong><?php echo $this->__('Payment methods') ?></strong></li>
		</ul>
	</ul>
	<ul>
		<li>
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_visa.jpg')?>" width="50" alt="Visa" title="Visa" />
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_master.jpg')?>" width="50" alt="Master" title="Master" />
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_diners.jpg')?>" width="50" alt="Diners" title="Diners" />
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_elo.jpg')?>" width="50" alt="Elo" title="Elo" />
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_amex.jpg')?>" width="50" alt="Amex" title="Amex" />
			<img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/logo_boleto.jpg')?>" width="50" alt="Boleto" title="Boleto" />
			<a href="javascript:vopenabcommvindi()"><img class="imagemCinza" src="<?php echo $this->getSkinUrl('images/bandeiras/vindi-logo.png')?>" alt="VINDI" title="VINDI" width="50" /></a>
		</li>
	</ul>
</div>
<style>
		.imagemCinza {
			filter: grayscale(100%);
		}
</style>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mcaffe/mcaffe.js') ?>" async=""></script> 
<script type="text/javascript">
	function vopenabcommvindi() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('https://www.vindi.com.br/sobre', 'CRSN_Splash', tbar);
	    sw.focus();
	}
</script>