<?php echo $this->getChildHtml('athlete_brands'); ?>
<?php echo $this->getChildHtml('bottomContainer'); ?>

<style>
.fundoBranco {
 	background-color: white;
 	margin-bottom: -30px;
}
</style>

<div class="footer-container">
	<div class="footer row clearfix">
		<div class="grid_18">
			<div class="footerService">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId(Mage::helper('athlete')->getCfg('footer/cms_block'))->toHtml(); ?>
			</div>
			
			<div class="footerFormaPagamento" style="display: none;">
				<?php echo $this->getLayout()->createBlock('page/html')->setTemplate('page/html/footerFormasPagamento.phtml')->toHtml(); ?>
			</div>
			<div  class="footerPadrao" style="display: none;">
				<?php echo $this->getLayout()->createBlock('page/html')->setTemplate('page/html/footer2colunas.phtml')->toHtml(); ?>
			</div>
			<div style="display: none;">
			<?php echo $this->getChildHtml('athlete_footer_customer_service');?>
			</div>
		</div>
	</div>
</div>
<div class="copyright-container">
	<div class="row clearfix">
		<div class="grid_18">
			<div class="cc-icons"><?php echo $this->getChildHtml('athlete_cc_icons');?></div>
			<address><?php echo $this->getCopyright() ?></address>
		</div>
	</div>
</div>

<p><a class="whatsappBotaoWeb" target="_blank" href="<?php echo $this->__('Call WhatsApp') ?>">
	<img title="WhtasApp +55 11 3135-5886" alt="WhtasApp +55 11 3135-5886" src="<?php echo $this->getSkinUrl('images/botao-whatsapp-hunterforce-1.png')?>" width="60" />
</a></p>