
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mcaffe/mcaffe.js') ?>" async=""></script> 


	<div class="info info-content clearfix">
		<div class="one_third">
			<h4><?php echo $this->__('Institutional.') ?></h4>
			<ul>
				<li><a href="<?php echo $this->__('URL About the Company') ?>" target="_self"><?php echo $this->__('About the Company') ?></a></li>
				<li><a href="<?php echo $this->__('URL Privacy Policy') ?>" target="_self" ><?php echo $this->__('Privacy Policy') ?></a></li>
			<!-- 	<li><a href="<?php echo $this->__('URL Blog') ?>" target="_blank"><?php echo $this->__('Blog') ?></a></li>  -->
			</ul>
		</div>
	
		<div class="one_third">
			<h4><?php echo $this->__('Help and Support.') ?></h4>
			<ul>
				<li><a href="<?php echo $this->__('URL Register') ?>" target="_self"><?php echo $this->__('Register') ?></a></li>
				<li><a href="<?php echo $this->__('URL How to buy') ?>" target="_self"><?php echo $this->__('How to buy') ?></a></li>
				<li><a href="<?php echo $this->__('URL Delivery and Freight') ?>" target="_self"><?php echo $this->__('Delivery and Freight') ?></a></li>
				<li><a href="<?php echo $this->__('URL Payments') ?>" target="_self"><?php echo $this->__('Payments') ?></a></li>
				<li><a href="<?php echo $this->__('URL Exchange of Returns') ?>" target="_self"><?php echo $this->__('Exchange of Returns') ?></a></li>
				<li><a href="<?php echo $this->__('URL Consumer rights') ?>" target="_self"><?php echo $this->__('Consumer rights') ?></a></li>
				<li><a href="<?php echo $this->__('URL Contact us') ?>" target="_self"><?php echo $this->__('Contact us') ?></a></li>
			</ul>
		</div>
		<div class="one_third last">
			<h4><?php echo $this->__('Customers area.') ?></h4>
			<ul>
				<li><a href="<?php echo $this->__('URL Service Channels') ?>" target="_self"><?php echo $this->__('Service Channels') ?></a></li>
				<li><a href="<?php echo $this->__('URL Loyalty') ?>" target="_self"><?php echo $this->__('Loyalty') ?></a></li>
				<li><a href="<?php echo $this->__('URL Common questions') ?>" target="_self"><?php echo $this->__('Common questions') ?></a></li>
			</ul>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>

	<div class="info-two info-content clearfix" style="margin-top: 20px;">
		<div class="one_third" style="width: 27%;">
			<ul>
				<ul>
					<li style="text-transform: uppercase;"><strong><?php echo $this->__('Payment methods') ?></strong></li>
				</ul>
			</ul>
			<ul class="col3">
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_visa.jpg')?>" width="50" alt="Visa" title="Visa" /></li>
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_master.jpg')?>" width="50" alt="Mastercard" title="Mastercard" /></li>
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_diners.jpg')?>" width="50" alt="Diners" title="Diners" /></li>
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_elo.jpg')?>" width="50" alt="Elo" title="Elo" /></li>
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_amex.jpg')?>" width="50" alt="Amex" title="Amex" /></li>
				<li><img src="<?php echo $this->getSkinUrl('images/bandeiras/logo_boleto.jpg')?>" width="50" alt="Boleto" title="Boleto" /></li>
				<li><a href="javascript:vopenabcommvindi()"><img src="<?php echo $this->getSkinUrl('images/bandeiras/vindi-logo.png')?>" alt="VINDI" title="VINDI" width="100" /></a></li>
			</ul>
		</div>

		<div class="one_third" style="width: 23%">
				<ul>
					<li style="text-transform: uppercase;"><strong><?php echo $this->__('Logistic operator') ?></strong></li>
				</ul>
				<ul class="col3seg">
					<li>
						<a href="javascript:vopenabcommpratika()">
							<img src="<?php echo $this->getSkinUrl('images/logistico/pratika.jpg')?>" 
						 	  	 title="<?php echo $this->__('Pratika Logistica') ?>" alt="<?php echo $this->__('Pratika Logistica') ?>" width="80" 
						 	  	 style="margin-bottom: 10px;"/>
						</a>
					</li>
				</ul>
				<ul>
					<li style="text-transform: uppercase;"><strong><?php echo $this->__('Shipping Company') ?></strong></li>
				</ul>
				<ul>
					<li>
						<img style="margin-left: 5px;" title="<?php echo $this->__('Correios') ?>" alt="<?php echo $this->__('Correios') ?>"
								  src="<?php echo $this->getSkinUrl('images/transportadora/correios-logo.jpg')?>" />
					</li>
				</ul>
		</div>
		<div class="one_third last" >
				<ul>
					<ul>
						<li style="text-transform: uppercase;"><strong><strong><?php echo $this->__('Safety') ?></strong></strong></li>
					</ul>
				</ul>
				<ul class="col3seg">
					<li><a href="javascript: vopenabcommkonduto()">
						<img alt="Konduto" 
							 title="Konduto" 
							 src="<?php echo $this->getSkinUrl('images/seguranca/selo-konduto.jpg')?>" 
							 width="130px" /></a></li>
					<li><span id="siteseal">
						<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=wwbsWnfgaO7RNmip7QXPDRWWJPW4khDgnyQ3rf5NB7vplwHJad8bQPl0nTlL" async=""></script>
						</span></li>
					<li><a href="javascript:vopenw()">
							<img alt="McafeeSecure" title="McafeeSecure" 
							src="<?php echo $this->getSkinUrl('images/seguranca/McafeeSecure.jpg')?>" 
							width="100px" />
						</a>
					</li>
				
					<li><a href="javascript:vopenabcommselo()">
							<img style="margin-top: 4px;" 
								 alt="<?php echo $this->__('Silver Profissional') ?>" 
								 title="<?php echo $this->__('Silver Profissional') ?>" 
								 src="<?php echo $this->getSkinUrl('images/selos/certificado-ecommerce-prata.png')?>" 
								 width="100px" />
						 </a>
					</li>
					<li><a href="javascript:vopenabcomm()">
							<img style="margin-top: 4px;" 
								 alt="<?php echo $this->__('Association abcomm') ?>" 
								 title="<?php echo $this->__('Association abcomm') ?>" 
								 src="<?php echo $this->getSkinUrl('images/selos/selo_empresa_associada.png')?>" 
								 width="80px" />
							</a>
					</li>
					<li><a onclick="window.open('https://www.sitelock.com/verify.php?site=hunterforcesuplementos.com.br','SiteLock','width=400,height=400,left=160,top=170');" href="#"><img class="img-responsive" title="SiteLock" alt="SiteLock" src="//shield.sitelock.com/shield/hunterforcesuplementos.com.br" /></a></li>
					
				</ul>
		</div>
	</div>
<style>
.one_fourth {
			WIDTH: 17.8% !important; 
			margin-top: 75px;
		}

		UL.col3 
		{ 
			PADDING-RIGHT: 0px; 
			PADDING-LEFT: 0px; 
			FLOAT: left; 
			PADDING-BOTTOM: 0px; 
			WIDTH: 71%; 
			PADDING-TOP: 0px; 
			LIST-STYLE-TYPE: none 
		} 

		UL.col3 LI 
		{ 
			PADDING-RIGHT: 2px; 
			DISPLAY: inline; 
			PADDING-LEFT: 2px; 
			FLOAT: left; 
			PADDING-BOTTOM: 2px; 
			WIDTH: 30%; 
			PADDING-TOP: 2px 
		}
		
		UL.col3seg 
		{ 
			PADDING-RIGHT: 0px; 
			PADDING-LEFT: 0px; 
			FLOAT: left; 
			PADDING-BOTTOM: 0px; 
			WIDTH: 217%; 
			PADDING-TOP: 0px; 
			LIST-STYLE-TYPE: none 
		} 

		UL.col3seg LI 
		{ 
			PADDING-RIGHT: 2px; 
			DISPLAY: inline; 
			PADDING-LEFT: 2px; 
			PADDING-BOTTOM: 2px; 
			WIDTH: 30%; 
			PADDING-TOP: 2px 
		}
</style>
<script type="text/javascript">
function vopenw() {
                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
                sw = window.open('https://www.mcafeesecure.com/verify?host=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
                sw.focus();
            }
function vopenabcomm() {
                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
                sw = window.open('http://abcomm.org/certificado.php?url=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
                sw.focus();
            }
function vopenabcommselo() {
                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
                sw = window.open('http://certificados.comschool.com.br/hunterforce', 'CRSN_Splash', tbar);
                sw.focus();
            }

function vopenabcommvindi() {
    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
    sw = window.open('https://www.vindi.com.br/sobre', 'CRSN_Splash', tbar);
    sw.focus();
}

function vopenabcommpratika() {
    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
    sw = window.open('http://www.pratikalogistica.com.br/servicos', 'CRSN_Splash', tbar);
    sw.focus();
}

function vopenabcommkonduto() {
    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
    sw = window.open('https://www.konduto.com/pt', 'CRSN_Splash', tbar);
    sw.focus();
}

function vopentransfolha() {
    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
    sw = window.open('http://transfolha.folha.com.br/', 'CRSN_Splash', tbar);
    sw.focus();
}

</script>