<style>
#tudoPg {
	width: 100%;
}

#tudoPg1 {
	position:relative;
	width: 30%;
	margin-left: 10px;
}
#tudoPg2 {
	position: relative;
	width:  30%;
}

#tudoPg3 {
	position: relative;
	width:  30%;
}

.estiloPg {
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
    font-weight: 720;
    line-height: 15px;
}

.estiloPg2 {
	text-transform: uppercase;
	color: #808080;
	font-size: 12px;
    font-weight: 720;
    line-height: 15px;
}

#logo_home_mobile ul {
    margin:0;
    padding:0;
    display:inline-block;
    margin-top: 5px;
}

#logo_home_mobile ul > li{
	float:left;
	padding:1px 1px;
	list-style-type:none;
}

main {
    display: grid;
  }

@media(min-width: 100px) {
  main {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media(min-width: 300px) {
  main {
    grid-template-columns: repeat(3, 1fr)
  }
  figure:nth-child(3) {
    grid-row: span 2
  }
  figure:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2
  }
}

img {
  max-width: 100%
}

</style>

<div id="logo_home_mobile">
	<ul id="tudoPg" style="text-align: center;">
		<li id="tudoPg1" style="line-height: 9px;">
			<a href="/frete-gratis">
				<div>
					<i class="fa fa-truck" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Tracking Title Shipping') ?></span>
				</div>
				<div>
					<span class="estiloPg2"><?php echo $this->__('Tracking Title Description') ?></span>
				</div>
			</a>
		</li>
		<li id="tudoPg2" style="line-height: 9px;">
				<div>
					<i class="fa fa-barcode" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Barcode Title') ?></span>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Barcode Description') ?></span>
				</div>
		</li>
		<li id="tudoPg3" style="line-height: 9px;">
			<a href="/hunter-points">
				<div>
					<i class="fa fa-trophy" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Hunterpoints Title') ?></span> 
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Hunterpoints Description') ?></span>
				</div>
				<div>
					<span class="estiloPg2"><?php echo $this->__('Hunterpoints More') ?></span>
				</div>
			</a>
		</li>
	</ul>
</div>
