
<div class="account-login">
    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
    <form action="<?php echo $this->getUrl('ticketsystem/index/save', array("_secure" => true)); ?>" id="ticketForm" method="post" enctype="multipart/form-data">
        <div class="fieldset">
        <fieldset class="fieldsetPadrao">
            <legend class="legendPadrao"><?php echo $this->__('Create New Support Ticket') ?></legend>
            <div class="divBlocos">
            <ul class="form-list">
                <?php if (!Mage::getSingleton("customer/session")->isLoggedIn()): ?>
                    <li>
                        <div class="field">
                            <label for="name" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Name') ?></label>
                            <div class="input-box">
                                <input maxlength="50" name="customer_name" id="name" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Name') ?>"   type="text" class="input-text required-entry" />
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="field">
                            <label for="email" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Email') ?></label>
                            <div class="input-box">
                                <input maxlength="50" name="customer_email" id="mail" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Email') ?>"   type="text" class="input-text required-entry" />
                            </div>
                        </div>
                    </li>      
                <?php endif; ?>    
                <li>
                    <div class="field">
                        <div class="input-box">
                            <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Department') ?>" name="department_id" id="department_id">
                                <option value=""><?php echo $this->__('Please Select Department'); ?></option>
                                <?php
                                $department = Mage::getModel('emipro_ticketsystem/ticketdepartment')->getCollection();
                                foreach ($department as $value) {
                                    if ($value["status"] != 0):
                                        ?>
                                        <option value=<?php echo $value["department_id"]; ?>><?php echo $this->__($value["department_name"]); ?></option>
                                        <?php
                                    endif;
                                }
                                ?>	
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <div class="input-box">
                            <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Priority') ?>" name="priority_id" id="priority_id">
                                <option value=""><?php echo $this->__('Please Select Priority'); ?></option>
                                <?php
                                $priority = Mage::getModel('emipro_ticketsystem/ticketpriority')->getCollection();
                                foreach ($priority as $value) {
                                    ?>
                                    <option value=<?php echo $value["priority_id"]; ?>><?php echo $this->__($value["priority"]); ?></option>
                                    <?php
                                }
                                ?>

                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field" />
                        <div class="input-box">
                            <?php 
									$customerId = Mage::getSingleton("customer/session")->getCustomer()->getId();
									$allOrderIds=Mage::helper("emipro_ticketsystem")->getCustomerOrderIds($customerId);
							?>
							<select id="customer-order" name="customer-order">
								<option value=""><?php echo $this->__('please select Order Id'); ?></option>
								<?php foreach($allOrderIds as $key=>$orderid){ ?>
									<option value="<?php echo $key ?>"><?php echo $orderid ?></option>
								<?php } ?>
							</select>
							<input name="orderid" id="orderid" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Order Id') ?>"   type="hidden"   value="" />
                        </div>
                </li>

                <li>
                    <div class="field">
                        <div class="input-box">
                            <input maxlength="30" name="subject" placeholder="<?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?>" id="subject" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?>"  class="input-text required-entry" type="text" />
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <div class="input-box">
                        <textarea maxlength="1000" placeholder="<?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?>" name="message" id="message" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>
                </li>

                <li id="attach-msg">
                    <div class="choose_file" id="attach_file">
                            <span><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Attachment') ?></span> 
                            <label id="uploadFile"></label>
                            <input id="uploadBtn" name="file" type="file" class="file">
                    </div>
                </li> 
                <li>
                    <input type="hidden" name="customer_id" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getId(); ?>" id="customer_id">
                </li> 

            </ul>
		</div>
		</fieldset>
		
		</br>
            <div class="buttons-set espacamentoBotao">
                <button type="submit" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Submit') ?>" class="has-spinner btnPadraoCreateCall"><span><span><?php echo Mage::helper('emipro_ticketsystem')->__('Submit') ?></span></span></button>
            </div>
           	<div class="buttons-set espacamentoBotao">
           		<button type="button" class="has-spinner btnPadraoEdicaoCallCinza"  onclick="window.location='<?php echo $this->getUrl('ticketsystem/index/tickethistory') ?>';"><?php echo $this->__('Back') ?></button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
//<![CDATA[
    var ticketForm = new VarienForm('ticketForm', true);
    Validation.add('file', 'Tamanho m&aacute;ximo do arquivo 5MB', function(v, elm) {
        var maxSize = 1024 * 1024 * 5;
        if (navigator.appName == "Microsoft Internet Explorer")
        {
            if (elm.value)
            {
                var oas = new ActiveXObject("Scripting.FileSystemObject");
                var e = oas.getFile(elm.value);
                var size = e.size;
            }
        }
        else
        {
            if (elm.files[0] != undefined)
            {
                size = elm.files[0].size;
            }
        }
        if (size != undefined && size > maxSize)
        {

            return false;
        }
        return true;
    });


    jQuery.noConflict();
    jQuery(function(){
    	jQuery('#department_id').change(function() {
        	var departamentoId = jQuery(this).val();
        	jQuery('#customer-order').val('');
			if(departamentoId == 1){
				jQuery('#customer-order').css('display','none');
			} else {
				jQuery('#customer-order').css('display','block');
			}
    	 });
    });
//]]>
</script>
<script>
    document.getElementById('customer-order').onchange = function(){
          document.getElementById('orderid').value = this.value; 
    }
    document.getElementById("uploadBtn").onchange = function () 
    {
        document.getElementById("uploadFile").innerHTML = this.value;
    };
</script>


