<?php
$id = Mage::getSingleton('customer/session')->getCustomer()->getId();
$collection = Mage::getModel('emipro_ticketsystem/ticketsystem')->getCollection()->addFieldToFilter("customer_id", $id);
$collection->getSelect()->join(array("ticket" => Mage::getConfig()->getTablePrefix() . "ticket_status"), "main_table.status_id=ticket.status_id")->where("main_table.customer_id=" . $id);
$collection->getSelect()->join(array("priority" => Mage::getConfig()->getTablePrefix() . "ticket_priority"), "main_table.priority_id=priority.priority_id")->order("main_table.ticket_id DESC");
?>
<div class="page-title">
    <h1><?php echo $this->__('My Tickets') ?></h1>
</div>
<div class="buttons-set">
     <button type="button" onclick="window.location='<?php echo $this->getUrl('ticketsystem/index/newticket') ?>';" class="has-spinner btnPadraoCreateCall"><?php echo $this->__('Create New Ticket'); ?></button>
</div>
</br>
<?php echo $this->getPagerHtml(); ?>
<?php if ($collection->getSize()): ?>
	<div class="page-title">
	    <h1><?php echo $this->__('Details') ?></h1>
	</div>

<div class="recent-orders" >
    <table class="data-table" id="my-orders-table" >
        <thead>
            <tr>
                <th><?php echo $this->__('Subject') ?></th>
                <th><?php echo $this->__('Status') ?></th>
                <th><?php echo $this->__('Last Updated Date') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collection as $ticket_info): ?>
                <?php $lastUpdatedDate = Mage::helper("emipro_ticketsystem")->getLastupdatedDate($ticket_info->getTicketId()); ?>
                <tr>
	                <td colspan="3"><button class="button btn-cart btnPadraoEdicaoCallCinzaClaroMenor"onclick="window.location.href='<?php echo $this->getUrl('ticketsystem/index/viewticket', array('ticket_id'=>$ticket_info->getTicketId())) ?>';"><?php echo $ticket_info->getTicketId(); ?></button></td>
	            </tr>
                <tr style="font-size: 11px;">
                    <td><?php echo $ticket_info->getSubject() ?>&nbsp;</td>
                    <td><?php echo $this->__($ticket_info->getStatus()) ?>&nbsp;</td>
                    <td><?php echo $this->formatDate($lastUpdatedDate, "medium", true); ?>&nbsp;</td>
                </tr>
                <tr>
                	<td colspan="3"><p>&nbsp</p></td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
</div>
    <script type="text/javascript">decorateTable('my-orders-table')</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
	<div align="center">
    	<p><?php echo $this->__('You have not created any support ticket.') ?></p>
    </div>
<?php endif ?>