<?php
$session_customerId = Mage::getSingleton('customer/session')->getCustomer()->getId();
$isguest = $this->getRequest()->getActionName();
$currentDate = date('Y-m-d H:i');
if ($session_customerId && $isguest != "viewguest") {
    $ticketId = $this->getRequest()->getParam('ticket_id');
    $collection = Mage::getModel('emipro_ticketsystem/ticketsystem')->load($ticketId, "ticket_id");
} else {
    $ticketId = $this->getRequest()->getParam('ticket_id');
    $collection = Mage::getModel('emipro_ticketsystem/ticketsystem')->load($ticketId, "external_id");
    if ($collection->getTicketId()) {
        $ticketId = $collection->getTicketId();
    } else {
        $ticketId = 0;
    }
}
$ticket_customerId = $collection->getCustomerId();
$customer_name = $collection->getCustomerName();
if ($ticket_customerId && $session_customerId) { //$session_customerId=Mage::getSingleton('customer/session')->getCustomer()->getId();
    if ($session_customerId != $ticket_customerId) {
        Mage::app()->getResponse()->setRedirect($this->getUrl('ticketsystem/index/tickethistory'));
        Mage::getSingleton('core/session')->addError(Mage::helper('emipro_ticketsystem')->__('You can not edit other user ticket.'));
    }
    $customer_name = Mage::getSingleton('customer/session')->getCustomer()->getName();
}
$status = $collection->getStatusId();
$ticketStatus = Mage::getSingleton('emipro_ticketsystem/ticketstatus')->load($status);
$ticketPriority = Mage::getSingleton('emipro_ticketsystem/ticketpriority')->load($collection->getPriorityId());
$ticketDepatment = Mage::getSingleton('emipro_ticketsystem/ticketdepartment')->load($collection->getDepartmentId());
?>
<style>
    .ticket_span{	
        width: 200px;
    }
    .value{
        padding-right: 5px !important;
        width: 300px;
    }
</style>	

<div class="my-account divBlocos2">
   
    <?php if ($ticketId): ?>
        <div class="page-title">
            <h1><?php echo $this->__('Ticket Information'); ?></h1>
        </div>
        <div class="fieldset recent-orders">
            <table>
                <tr style="background-color: #f2f2f2;">
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket ID') ?>:</span></strong></td>
                    <td class="value"><?php echo $collection->getTicketId(); ?></td>
                </tr>  
				<tr>
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Order ID') ?>:</span></strong></td>
                    <td class="value" ><?php echo $collection->getOrderid(); ?></td>
                </tr>  
                <tr style="background-color: #f2f2f2;">
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Status') ?>:</span></strong></td>
                    <td class="value"><?php echo $this->__($ticketStatus->getStatus()); ?></td>
				</tr>  
				<tr >
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Created Date') ?>:</span></strong></td>
                    <td class="value"><?php echo $this->formatDate($collection->getdate(), "medium", true); ?></td>
                </tr> 
                <tr style="background-color: #f2f2f2;">
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Department') ?>:</span></strong></td>
                    <td class="value"><?php echo $this->__($ticketDepatment->getDepartmentName()); ?></td>
				</tr>
				<tr>
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Priority') ?>:</span></strong></td>
                    <td class="value"><?php echo $this->__($ticketPriority->getPriority()); ?></td>

                </tr> 
                <tr style="background-color: #f2f2f2;">
                    <td class="ticket_span"><strong><span><?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?>:</span></strong></td>
                    <td class="value" colspan="2"><?php echo $collection->getSubject(); ?></td>
                </tr >  
            </table>

            <div>
                <form action="<?php echo $this->getUrl('*/*/savereplay', array("_secure" => true)); ?>" id="ticketForm" method="post" enctype="multipart/form-data">
					</br>
                    <fieldset class="fieldsetPadrao2">
                    <legend class="legendPadrao"><?php echo Mage::helper('emipro_ticketsystem')->__('Post Reply') ?></legend>
                    <div class="divBlocos2">
	                    <ul class="form-list">
	                        <li class="wide">
	                            <div class="input-box">
	                                <textarea placeholder="<?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?>" name="message" id="message" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?>" class="required-entry input-text" cols="5" rows="3"><?php echo Mage::getSingleton('customer/session')->getMessage(); ?></textarea>
	                            </div>
	                        </li>
	                        <li class="wide">
	                            <span class="normal" for="status"><?php echo Mage::helper('sales')->__('Set Ticket Status') ?></span>
	                            </br>
	                            <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Status') ?>" name="status">
	                                <?php echo $this->__($status_options = Mage::helper("emipro_ticketsystem")->getStatusOptionsForCustomer($status)); ?>
	                            </select>
	                        </li>
	
	                        <li class="wide">
	                            <span for="file"><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Attachment') ?></span>
	                            <div class="input-box">
	                                <input type="file" name="file" id="file" class="file">
	                            </div>
	                        </li>
	                        <li>
	                            <input type="hidden" name="ticket_id" id="ticket_id" value="<?php echo $ticketId; ?>">
	                            <input type="hidden" name="name" id="name" value="<?php echo $customer_name; ?>">
	                            <input type="hidden" name="date" id="date" value="<?php echo $currentDate; ?>" >
	                        </li>
	                    </ul>
	                    <div class="buttons-set">
	                        <?php if ($status != 2) { ?>
	                            <button type="submit" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Reply') ?>" class="btnPadraoCreateCall has-spinner-submit"><?php echo Mage::helper('emipro_ticketsystem')->__('Reply') ?></button>
	                        <?php } else { ?>
	                            <button type="submit" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Reopen') ?>" class="btnPadraoCreateCall has-spinner-submit"><?php echo Mage::helper('emipro_ticketsystem')->__('Reopen') ?></button>
	                        <?php } ?>    
	                    </div>
                    </div>
                    </fieldset>
            </div>


            </form>

            <div style="clear:both;padding-top:20px;">
                <?php
                $conversation = Mage::getModel('emipro_ticketsystem/ticketconversation')->getCollection();
                $conversation->getSelect()->join(array("ticket" => Mage::getConfig()->getTablePrefix() . "ticket_status"), "main_table.status_id=ticket.status_id")->where("main_table.ticket_id=" . $ticketId)->order("main_table.conversation_id DESC");
                $ticket_email = Mage::getStoreConfig('emipro/emipro_group/ticket_email', Mage::app()->getStore());
                $ticket_admin_name = Mage::getStoreConfig('trans_email/ident_' . $ticket_email . '/name');
                foreach ($conversation->getData() as $value) {
                    if ($value["message_type"] == "public"):
                        $attachment = Mage::getModel('emipro_ticketsystem/ticketattachment')->getCollection();
                        $attachment->addFieldToFilter("conversation_id", $value["conversation_id"]);
                        $attachments = $attachment->getData();
                        ?>
                        <div class="msg-box2">
                            <div style="padding-top:5px;background-color:#EDEDED;">
                                <div Style="float:right;padding-right:5px" class="cyan"><span style="margin-right:20px;color:#8E8E8E"><?php echo $this->__($value["status"]); ?> </span><?php echo $this->formatDate($value["date"], "medium", true); ?></div>
                                <?php
                                if ($value["current_admin"] == 0) {
                                    $name = $value["name"];
                                } else {
                                    $name = $ticket_admin_name;
                                }
                                ?>
                                <div style="padding-left:5px;text-transform: capitalize;" class="cyan"><?php echo $name; ?></div>
                            </div>
                            <div  style="clear:both;border-top:1px solid #4D4D4D;min-height:50px;padding:5px"><?php echo nl2br($value["message"]); ?></div>
                            <?php if (count($attachments)): ?>
                                <?php foreach ($attachments as $attachment): ?>
                                    <?php
                                    $params = array('ticket_id' => $value['ticket_id'],
                                        'conversation_id' => $value["conversation_id"],
                                        'attach_id' => $attachment['attachment_id']);
                                    if ($isguest == "viewguest") {
                                        $params = array('external_id' => $this->getRequest()->getParam('ticket_id'),
                                            'conversation_id' => $value["conversation_id"],
                                            'attach_id' => $attachment['attachment_id']);
                                    }
                                    ?>
                                    <div  style="padding:15px">		
                                        <span><b><?php echo $attachment['current_file_name']; ?> </b></span>
                                        <button class="btnPadraoEdicaoCallCinza" style="margin-top:-15px;" onclick="window.location='<?php echo $this->getUrl('*/*/checkAttachmentLink', $params) ?>';" ><?php echo $this->__('Download'); ?></button>
                                    </div>
                                <?php endforeach;
                            endif;
                            ?>
                        </div>
                        <?php
                    endif;
                }
                ?>
            </div>
<?php else: ?>
            <div class="page-title">
                <h1><?php echo $this->__('Ticket ID is not valid'); ?></h1>
            </div>
<?php endif; ?>
    </div>
 <?php if ($session_customerId): ?>
        <button type="button" class="btnPadraoEdicaoCallCinza espacamentoBotao"  onclick="window.location='<?php echo $this->getUrl('ticketsystem/index/tickethistory') ?>';"><?php echo $this->__('Back') ?></button>
    <?php endif; ?>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
    var ticketForm = new VarienForm('ticketForm', true);
    Validation.add('file', 'Allow Maximum attachment size 4MB', function(v, elm) {
        var maxSize = 1024 * 1024 * 4;
        if (navigator.appName == "Microsoft Internet Explorer")
        {
            if (elm.value)
            {
                var oas = new ActiveXObject("Scripting.FileSystemObject");
                var e = oas.getFile(elm.value);
                var size = e.size;
            }
        }
        else
        {
            if (elm.files[0] != undefined)
            {
                size = elm.files[0].size;
            }
        }
        if (size != undefined && size > maxSize)
        {

            return false;
        }
        return true;
    });
//]]>
</script>
<style>
    .msg-box
    {
        border:1px solid #BFBFBF;
        margin:5px 20px 20px 20px;
        -webkit-box-shadow: 0 10px 6px -6px #E5E5E5;
        -moz-box-shadow: 0 10px 6px -6px #E5E5E5;
        box-shadow: 0 10px 6px -6px #E5E5E5;"

    }
</style>



