<?php
/**
 * @see Olegnax_Athlete_Block_Social_Twitter
 */
$tweets = $this->getTweets();
?>
<!-- Twitter -->
<div class="block block-tw">
	<div class="block-title">
		<strong><span><?php echo $this->__('Twitter'); ?></span></strong>
	</div>
	<div class="block-content">
		<?php if ( !empty($tweets->errors) ) : ?>
			<ul class="block-tw-list">
			<?php foreach ($tweets->errors as $_err): ?>
				<li><?php echo '<b>Error '.$_err->code . ':</b> ' . $_err->message; ?></li>
			<?php endforeach; ?>
			</ul>
		<?php else : ?>
			<ul class="block-tw-list">
				<?php foreach ($tweets as $_tw): ?>
					<li>
						<p class="linkPadraoVermelho"><?php echo $_tw->text; ?></p>
						<span class="tw-date"><?php echo $_tw->created_at; ?></span>
					</li>
				<?php endforeach; ?>
			</ul>
		<?php endif; ?>
		<button type="button" title="<?php echo $this->getTwitterName(); ?>" class="padraoVermelho" onclick="window.location='https://twitter.com/<?php echo $this->getTwitterName(); ?>';"><span><span><?php echo $this->getTwitterName(); ?></span></span></button>
	</div>
</div>
<!-- Twitter -->