.aw-blog-read-more {
  background: #000;
  background-image: -webkit-linear-gradient(top, #000, #000);
  background-image: -moz-linear-gradient(top, #000, #000);
  background-image: -ms-linear-gradient(top, #000, #000);
  background-image: -o-linear-gradient(top, #000, #000);
  background-image: linear-gradient(to bottom, #000, #000);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #ffffff !important;
  padding: 10px 20px  10px 20px !important;
  text-decoration: none;
  float: left;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-right: 5px;
  font-size: 1em;
  border-radius: 4px;
}

.aw-blog-read-cinza {
  background: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #808080);
  background-image: -moz-linear-gradient(top, #808080, #808080);
  background-image: -ms-linear-gradient(top, #808080, #8080800);
  background-image: -o-linear-gradient(top, #808080, #808080);
  background-image: linear-gradient(to bottom, #808080, #808080);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #ffffff !important;
  padding: 10px 20px  10px 20px !important;
  text-decoration: none;
  float: left;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-right: 5px;
  font-size: 1em;
  border-radius: 4px;
}

.btnFinalizar {
  background: #ba1400;
  background-image: -webkit-linear-gradient(top, #ba1400, #ba1400);
  background-image: -moz-linear-gradient(top, #ba1400, #ba1400);
  background-image: -ms-linear-gradient(top, #ba1400, #ba1400);
  background-image: -o-linear-gradient(top, #ba1400, #ba1400);
  background-image: linear-gradient(to bottom, #ba1400, #ba1400);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
/*   font: bold 12px/24px arial, helvetica, sans-aerif; */
  color: #ffffff;
/*   font-size: 18px; */
  padding: 10px 20px 10px 20px;
  text-decoration: none;
/*   text-transform: uppercase; */
  float: right;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  
  font-size: 1.7em;
  border-radius: 4px;
}


.divFundo {
    background: #e5e5e5;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}