<?php
/**
 * Top menu for store
 *
 * @see Olegnax_Megamenu_Block_Megamenu
 */

$menuHelper = $this->helper('olegnaxmegamenu');
if ( $menuHelper->getCfg('general/status') ) :

	$_menu = $this->getHtml('level-top', 'megamenu-dropdown');
	?>
	<?php if ($_menu): ?>
	<div class="nav-container">
		<ul id="olegnaxmegamenu">
			<?php if ($menuHelper->getCfg('additional/home')) : ?>
				<li class="level0 level-top home-block">
					<a class="has-spinner" href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
				</li>
			<?php endif; ?>
			<?php echo $_menu; ?>
			<?php
			$customBlock = $menuHelper->getCfg('additional/custom_block_id');
			if ( !empty($customBlock) ) {
				$customBlock = Mage::getModel('cms/block')
					->setStoreId( Mage::app()->getStore()->getId() )
					->load($customBlock);
				if($customBlock->getIsActive()) {
					$customBlockWidth = $menuHelper->getCfg('additional/custom_block_width');
					$style = '';
					if ($customBlockWidth) {
						$style = 'style="width:'.intval($customBlockWidth).'px"';
					}
					echo '
	            <li class="level0 level-top parent custom-block">
	                <a href="#" class="level-top has-spinner">
	                    <span>'.$customBlock->getTitle().'</span>
	                </a>
	                <ul class="level0"><li '.$style.'>'.$menuHelper->processCmsBlock($customBlock->getContent()).'</li></ul>
	            </li>';
				}
			}
			?>
		</ul>
	</div>
<?php endif ?>
<?php endif; //if ( $menuHelper->getCfg('general/status') ) : ?>