<style>
.fontePadrao {
	font-size: 14px;
}

.campoInput {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  text-align: center;
}

</style>

<script type="text/javascript">
//<![CDATA[
           
document.observe("dom:loaded", function() {
	if ( $('postcode').value == '' ) $('postcode').value = "<?php echo Mage::getModel('core/cookie')->get('cep-correios'); ?>";
});
           
jQuery.noConflict();
jQuery(document).ready(function () {
	jQuery("#buttonPostcode").click(function(){
		    var cep = jQuery('#postcode').val();
		    if ( cep.length > 7 ) {
		        document.cookie = "cep-correios="+cep+"; -1";
		        var urlAjax = location.href; var validarUrl = /^https:\/\//;
		        if ( urlAjax.match( validarUrl ) ) {
		            urlAjax = '<?php echo Mage::getBaseUrl("link", true)."autocep/ajax" ?>';
		        } else {
		            urlAjax = '<?php echo $this->getUrl("autocep/ajax") ?>';
		        }
		        //verifica valor do cep via ajax
		        <?php $_product = $this->getProduct(); ?>
	
		        new Ajax.Request( urlAjax, {method: 'POST',
		            parameters: {cepDestino: jQuery('#postcode').val(), cepOrigem: '<?php echo Mage::getStoreConfig('shipping/origin/postcode'); ?>', cepPeso: '<?php echo $_product->getWeight(); ?>' },
		            evalScripts: true,
		            onLoading: function(transport) {
		            	jQuery('#cep-valor').html('<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif');?>" /> <span style="color: #888;"><?php echo $this->__('Loading...') ?></span>');
		            },
		            onComplete: function(transport) {},
		            onSuccess: function(transport) {
		            if (200 == transport.status) {
		                try {
		                    var res = transport.responseText.evalJSON();
		                    jQuery('#cep-valor').html("<span class='fontePadrao'><strong>" + res.sedex.tipo + "</strong>: R$ "+ res.sedex.valor  + " - <strong>Prazo</strong>: " + res.sedex.prazo + " dias </span><span class='fontePadrao'><br/><strong>" + res.pac.tipo + "</strong>: R$ " + res.pac.valor + " - <strong>Prazo</strong>: " + res.pac.prazo + " dias</span>");
		                } catch(e) {
		                    alert( e.message );
		                }
		            }
		        },
		        onFailure: function() { /*$('cep-valor').update( 'naodeu' ); */ }
		        });
		    }
	});
});
//]]>

function somenteNumeros(num) {
    var er = /[^0-9.]/;
    er.lastIndex = 0;
    var campo = num;
    if (er.test(campo.value)) {
      campo.value = "";
    }
}

</script>

<div class="calccep">
	<input type="text" onkeyup="somenteNumeros(this);" maxlength="8" id="postcode" class="campoInput" name="estimate_postcode" value="" /> 
    <input type="button" class="btnPadraoComum" id="buttonPostcode" value="<?php echo $this->__('Postcode Calc') ?>">
    <br/>
    <div id="cep-valor"></div>
</div>
