<style>
.header-container  {
	position: initial !important;
}
</style>
<script type="text/javascript">
jQuery.noConflict();
jQuery(function(){
		jQuery(".footerPadrao").css('display', 'none');
		jQuery(".footerService").css('display', 'none');
		jQuery(".footerFormaPagamento").css('display', 'block');
		jQuery("div").removeClass("header-switch");
		
});
</script>

<?php
$id = Mage::getSingleton('customer/session')->getCustomer()->getId();
$collection = Mage::getModel('emipro_ticketsystem/ticketsystem')->getCollection()->addFieldToFilter("customer_id", $id);
$collection->getSelect()->join(array("ticket" => Mage::getConfig()->getTablePrefix() . "ticket_status"), "main_table.status_id=ticket.status_id")->where("main_table.customer_id=" . $id);
$collection->getSelect()->join(array("priority" => Mage::getConfig()->getTablePrefix() . "ticket_priority"), "main_table.priority_id=priority.priority_id")->order("main_table.ticket_id DESC");
?>
<div class="page-title">
    <h1><?php echo $this->__('Support') ?></h1>
    <h3><?php echo $this->__('My Tickets Info') ?></h3>
    <p><?php echo $this->__('Info Subtitle') ?></p>
</div>
<div class="buttons-set">
     <button type="button" onclick="window.location='<?php echo $this->getUrl('ticketsystem/index/newticket') ?>';" class="has-spinner btnContinuar"><?php echo $this->__('Create New Ticket'); ?></button>
</div>
</br>
<?php echo $this->getPagerHtml(); ?>
<?php if ($collection->getSize()): ?>
    <table class="data-table" id="my-orders-table" >
        <thead>
            <tr>
                <th><?php echo $this->__('Ticket Id') ?></th>
                <th><?php echo $this->__('Order Id') ?></th>
                <th><?php echo $this->__('Subject') ?></th>
                <th><?php echo $this->__('Status') ?></th>
                <th><?php echo $this->__('Priority') ?></th>
                <th><?php echo $this->__('Last Updated Date') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($collection as $ticket_info): ?>
                <?php $lastUpdatedDate = Mage::helper("emipro_ticketsystem")->getLastupdatedDate($ticket_info->getTicketId()); ?>
                <tr>
                    <td><a href="<?php echo $this->getUrl('ticketsystem/index/viewticket', array('ticket_id' => $ticket_info->getTicketId())) ?>"><?php echo $ticket_info->getTicketId(); ?>&nbsp;</a></td>
                    <td><?php echo $ticket_info->getOrderid() ?>&nbsp;</td>
                    <td><?php echo $ticket_info->getSubject() ?>&nbsp;</td>
                    <td><?php echo $this->__($ticket_info->getStatus()) ?>&nbsp;</td>
                    <td><?php echo $this->__($ticket_info->getPriority()) ?>&nbsp;</td>
                    <td><?php echo $this->formatDate($lastUpdatedDate, "medium", true); ?>&nbsp;</td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-orders-table')</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have not created any support ticket.') ?></p>
<?php endif ?>
