<?php

/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 
?>
<?php 
	$helper = Mage::helper('customaddress');
	$helper->checkStates();
	$storeCode = Mage::app()->getStore()->getLocaleCode();
	
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.maskedinput.min.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('dexxtz/customaddress/js/dexxtz.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('dexxtz/customaddress/js/jquery-2.1.1.js') ?>"></script>

<script type="text/javascript">
	
	var jQuery = jQuery.noConflict();
	jQuery(document).ready(function() {
		jQuery('.state_autocomplete').addClass('validate-select');
		jQuery('.state_autocomplete').addClass('required-entry');

	});
	
	function getStates() {
		return 	JSON.parse('<?php echo json_encode($_SESSION['states']) ?>');
	}

	function atribuirAncora() {
		jQuery('#nextStep').fadeIn(1000);
	}

	function submitenter(myfield,e)
	{
		var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;
		else return true;
	
		if (keycode == 13)
		{
		myfield.form.submit();
		return false;
		}
		else
		return true;
	}

</script>

<style>
	a:hover { background-color: transparent !important; text-decoration: none !important; }
	
#tudoBilling {
	width: 100%;
}

#tudoBilling1 {
	position:relative;
	width: 30%;
	height: 100px;
	float: left;
}
#tudoBilling2 {
	position: relative;
	width: 50%;
	height: 100px;
	float: left;
    margin-left: 70px;
    margin-top: -26px;
}

.inscricaoEstadual {
	margin-top: 3px;
}

.registroGeral {
	margin-top: -13px;
}

.dataNascimentoQuebra{
	padding-bottom: -10px;
}

.dataNascimento{
	margin-top: 0px;
}

.quebraLinhaPessoaFisica{
	white-space: nowrap;
    padding-bottom: 18px;
    margin-top: 0px;
}



.base-set-icon-user:before {
    content: "\f007";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.base-set-icon-phone:before {
    content: "\f095";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group-phone2 base-set-icon-"]:before {
    position: absolute;
    left: 37px;
    margin-top: 7px;
}

[class*=" form-group-phone2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


[class*=" form-group-cellphone2 base-set-icon-"]:before {
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
}

[class*=" form-group-cellphone2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.base-set-icon-address:before {
    content: "\f041";
    font: normal normal normal 14px/2 FontAwesome;
}


[class*=" form-group-address-billing base-set-icon-"]:before {
    position: absolute;
    left: 39px;
    margin-top: 7px;
}

[class*=" form-group-address-billing base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address2 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address2 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 5px;
}

[class*=" form-group-address2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address3 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address3 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 5px;
}

[class*=" form-group-address3 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address4 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address4 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    margin-top: 5px;
}

[class*=" form-group-address4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address5 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address5 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 5px;
}

[class*=" form-group-address5 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address6 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address6 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 5px;
}

[class*=" form-group-address6 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

.form-list .field {
	width: 350px !important;
}

#camposCPFData {
	margin-top: 20px;
}

.line-top {
     border: 0.5px solid #999999;
}

</style>

<?php 
	$customer = Mage::getSingleton('customer/session')->getCustomer();
	$customerSenha= $customer->getPasswordHash();

	$cpf = false; 
	$documentoValor = $customer->getTaxvat();
	$tamanho =  strlen($documentoValor); 
	if($tamanho < 12) {
		$cpf = true;
	}
?>

<script>
	jQuery.noConflict();
	jQuery(function(){
		var tam = "<?php echo $tamanho; ?>";
		jQuery('label[for="rg_personalizado"]').css('display', 'none');
		jQuery("#rg_personalizado").hide();
		
		if(tam < 12){
			jQuery("#ie_personalizado").hide();
			jQuery('label[for="ie_personalizado"]').css('display', 'none');
			jQuery('.camposCNPJFirstName').css('display', 'none');
            jQuery('.camposCNPJ').css('display', 'none');
			jQuery('label[for="rg_personalizado"]').addClass('registroGeral');
			jQuery('label[for="billing:month"]').addClass('dataNascimentoQuebra');
			jQuery('#idDataNascimento').removeClass('quebraLinha');
			jQuery('#idDataNascimento').addClass('quebraLinhaPessoaFisica');
		}

		if(tam > 12){
			jQuery('.camposCPFFirstName').css('display', 'none');
            jQuery('.camposCPF').css('display', 'none');

			jQuery("#rg_personalizado").hide();
			jQuery('label[for="rg_personalizado"]').css('display', 'none');
			jQuery('label[for="ie_personalizado"]').addClass('inscricaoEstadual');
			jQuery('label[for="billing:month"]').css('display', 'none');

		}
	});
</script>



<form id="co-billing-form" action="" >


    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            		

            <ul>
            		
            		<fieldset class="label-input100" style="height: 190px;">
    				<legend><?php echo $this->__('Personal Information') ?></legend>
    				<div class="label-input100"><?php echo $this->__('Personal Information') ?></div>
            		<div class="line-top" ></div>
            		
            		<div class="divBlocos">
		             <div id="tudoBilling">     
		  				<div id="tudoBilling1"> 
				                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
				             	<?php if ($helper->getCompany() == 1 || !$this->isCustomerLoggedIn()) { ?>
				             	<li class="fields">
				             	<?php } ?>
				             		<?php if ($helper->getCompany() == 1) { ?>
				                    <div class="field">
				                        <label for="billing:company"><?php echo $helper->__('Company') ?></label>
				                        <div class="input-box">
				                            <input type="text"  maxlength="50" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $helper->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
				                        </div>
				                    </div>
				                    <?php } ?>
				                <?php if ($helper->getCompany() == 1 || !$this->isCustomerLoggedIn()) { ?>
				             	</li>
				             	<?php } ?>
				             	  <li class="fields">
						        <?php if ($this->isTaxvatEnabled()):?>
						        		 <div class="field" >
						               		<?php echo $this->getTaxvatHtml() ?>
						               	</div>
						        <?php endif; ?>
								       
						          </li>
		          		 </div>
		          		<div id="tudoBilling2"> 
						           <!-- custom attributes -->
						        <?php $attributeCollection = $this->helper('clarion_customerattribute/customerattribute')->getUserDefinedAttribures(); ?>
						        <?php if($attributeCollection->count() > 0) : ?>
						        
						         <div>
						             <!-- For all user defined attributes -->
						             <?php foreach($attributeCollection as $attribute):?>
						                <!-- For all user defined attributes which are set for customer edit account -->
						                <?php if($this->helper('clarion_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit($attribute->getAttributeCode())):?>
						             
						                    <?php $frontEndLabel = $attribute->getStoreLabel($this->helper('clarion_customerattribute/customerattribute')->getStoreId()); ?>
						                    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
						                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '' ?>
						                    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
						                    <?php $fieldValue = $this->escapeHtml($this->getCustomer()->$getAttributeCodeFunction()); ?>
						                        <li class="fields">
						                           <div class="field">
						                               <label for="<?php echo $attribute->getAttributeCode(); ?>" <?php if($attribute->getIsRequired()):?>class="required"><em>*</em> <?php  else :?>><?php endif;?><?php echo $this->__($frontEndLabel) ?></label>
						                               <div class="input-box">
						                                   
						                                   <?php if($attribute->getFrontendInput()== 'text'):?>
						                                   		<?php if($idgrupo == 1):  ?>
						                                       		<input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-text <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
						                                   		<?php elseif($idgrupo == 0):  ?>
						                                   			<?php echo $fieldValue; ?>
						                                   		<?php endif; ?>		
						                                   <?php endif; ?>		
						                                   
						                                   <?php if($attribute->getFrontendInput()== 'textarea'):?>
						                                       <textarea class=" textarea <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" cols="15" rows="2" title="<?php echo $this->__($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>"><?php echo $fieldValue; ?></textarea>
						                                     
						                                   <?php elseif($attribute->getFrontendInput()== 'date'):?>
						                                    <input type="text" style="width:110px !important;" class=" input-text <?php echo $fieldRequiredClass; ?> " title="<?php echo $this->__($frontEndLabel); ?>" value="<?php echo $this->helper('clarion_customerattribute/customerattribute')->getFormattedDate($fieldValue); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>">
						                                    <img style="" title="Select Date" id="<?php echo $attribute->getAttributeCode(); ?>_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl('images/clarion/customerattribute/grid-cal.gif') ?>">
						                                        <script type="text/javascript">
						                                        //&lt;![CDATA[
						                                            Calendar.setup({
						                                                inputField: "<?php echo $attribute->getAttributeCode(); ?>",
						                                                ifFormat: "%m-%d-%Y",
						                                                showsTime: false,
						                                                button: "<?php echo $attribute->getAttributeCode(); ?>_trig",
						                                                align: "Bl",
						                                                singleClick : true
						                                            });
						                                        //]]&gt;
						                                        </script>
						                                     
						                                    <?php elseif($attribute->getFrontendInput()== 'boolean'):?>
						                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
						                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
						                                        <?php foreach ($options as $option):?>
						                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
						                                        <?php endforeach;?>
						                                    </select>
						                                        
						                                    <?php elseif($attribute->getFrontendInput()== 'select'):?>
						                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
						                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
						                                        <?php foreach ($options as $option):?>
						                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
						                                        <?php endforeach;?>
						                                    </select>
						                                        
						                                    <?php elseif($attribute->getFrontendInput()== 'multiselect'):?>
						                                    <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo $this->__($frontEndLabel); ?>"  class=" multiselect <?php if ($attribute->getIsRequired()):?> validate-select required-entry<?php endif; ?> ">
						                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
						                                        <?php foreach ($options as $option):?>
						                                            <option value="<?php echo $option['value'] ?>"<?php if (in_array($option['value'], explode(',', $fieldValue))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
						                                        <?php endforeach;?>
						                                    </select>
						                                        
						                                   <?php endif;?>
						                               </div>
						                           </div>
						                       </li>
							              <?php endif;?>
							             <?php endforeach;?>
							         </div>
							    <?php endif; ?>
							    <div style="margin-top: -17px;">
                                      <li class="fields">
                                            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                                            <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
        						            <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
        						                <?php if ($_dob->isEnabled()): ?>
        						                    <div class="field">
        						                        <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
        						                    </div>
        						                <?php endif; ?>
        						                <?php if ($_gender->isEnabled()): ?>
        						                    <div class="field">
        						                        <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
        						                    </div>
        						             <?php endif ?>
                                     </li>
                             	</div>
				        	</div>
				        </div>
				        </div>
        	</fieldset>
        	<br/>
        	<div id="blocoEndereco"/>
        	<br/>
        	<br/>
        	<fieldset>
    			<legend class="label-input100"></legend>
    			
    			<div class="label-input100"><?php echo $this->__('Personal Phones') ?></div>
            	<div class="line-top" ></div>
            		
            		
	            <div class="divBlocos">
	                <li class="fields">
	                    <div class="field expand">
	                        <label for="billing:telephone" class="label-input100"><em>*</em></label>
	                        <span class="label-input100"><?php echo $this->__('Telephone') ?></span>
	                        <input placeholder="DDD + Telefone"  type="text" name="billing[telephone]"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input100 inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
	                        <div class="border"></div>
	                    </div>
	                    <div class="field expand">
	                        <label for="billing:fax"></label>
	                        <span class="label-input100"><?php echo $this->__('Fax') ?></span>
	                        <input type="text" placeholder="DDD + Telefone"  name="billing[fax]"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $helper->__('Fax') ?>" class="input100 inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
	                        <div class="border"></div>
	                    </div>
            		</li>
	           </div>
        	</fieldset>
        	<br/>
        	<fieldset>
		    <legend class="label-input100"></legend>
		    
    		    <div class="label-input100"><?php echo $this->__('Personal Address') ?></div>
               	<div class="line-top" ></div>
            	
		    <div class="divBlocos">
                <li class="fields">
                	<div class="field expand">
                        <label for="billing:postcode" class="required"><em>*</em></label>
                        <span style="text-transform: uppercase;" class="label-input100"><?php echo $this->__('Zip/Postal Code') ?></span>
                        <input onKeyPress="return submitenter(this,event)" placeholder="Digite apanas n&uacute;meros"  id="billing:postcode" type="tel"<?php echo $helper->getAutoComplete('zip_autocomplete', true, false) . $helper->addZipMask($storeCode);?> title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input100 input-text validate-zip-international<?php echo $helper->getAutoComplete(' zip_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" maxlength="8" />
                    	<div class="border"></div>
                    </div>
                </li>
                 <li class="fields">
                 	<?php if ($storeCode == 'pt_BR' && $helper->getZipLink() == 1) { ?>
	                <?php } ?>   
                 </li>
                <li class="fields">
                	<div class="field expand">
	                    <label class="label-input100" for="billing:street_1"><em>*</em></label>
	                    <span class="label-input100"><?php echo $this->__('Address') ?></span>
	                    <input onKeyPress="return submitenter(this,event)"  placeholder="Ex: Rua Alameda dos Santos"  type="text" style="border: 1px solid;" title="<?php echo $helper->__('Address') ?>" name="billing[street][]" id="billing:street_1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input100 input-text required-entry<?php echo $helper->getAutoComplete(' street1_autocomplete');?>" />
	                	<div class="border"></div>
	                </div>
	             	
	            	<div class="field expand">
	             	   <label for="billing:street_2" class="label-input100"><em>*</em><?php echo $helper->__('Number'); ?></label>
	                   <input onKeyPress="return submitenter(this,event)" placeholder="Ex: 235"   style="border: 1px solid;" type="text" maxlength="20" title="<?php echo $helper->__('Number'); ?>" name="billing[street][]" id="billing:street_2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input100 input-text required-entry" />
	                   <div class="border"></div>
	               </div>
	            </li>
	        	<li class="fields">
	        		<div class="field expand">
	        			<label class="label-input100" for="sbilling:street_3"><em>*</em></label>
	        			<span class="label-input100"><?php echo $this->__('Region') ?></span>
	                    <input onKeyPress="return submitenter(this,event)"  placeholder="Ex: Jardim Formosa" type="text"  style="border: 1px solid;" title="<?php echo $helper->__('Region'); ?>" name="billing[street][]" id="billing:street_3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input100 input-text required-entry<?php echo $helper->getAutoComplete(' street3_autocomplete');?>" />
	                	<div class="border"></div>
	                </div>
	                <div class="field expand">
	             		<label for="billing:street_4"></label>
	             		<span class="label-input100"><?php echo $this->__('Complement') ?></span>
	                    <input onKeyPress="return submitenter(this,event)"  placeholder="Ex: Apto 84"  style="border: 1px solid;" type="text" maxlength="30" title="<?php echo $helper->__('Complement'); ?>" name="billing[street][]" id="billing:street_4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input100 input-text" />
	               		<div class="border"></div>
	               </div>              	
	            </li>
				<?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                <li class="wide">
                    <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                    <div class="input-box">
                        <input onKeyPress="return submitenter(this,event)"  type="text" maxlength="30" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                    </div>
                </li>
                <?php endif; ?>
                <li class="fields">
                    <div class="field expand">
                        <label for="billing:city" class="label-input100"><em>*</em></label>
                        <span class="label-input100"><?php echo $this->__('City') ?></span>
                        <input type="text" placeholder="Ex: Vila Maria" style="border: 1px solid;"  maxlength="50" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input100 input-text<?php echo $helper->getAutoComplete(' city_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />
                    	<div class="border"></div>
                    </div>
                    <div class="field expand">
                        <label class="label-input100"><em>*</em></label>
                        <span class="label-input100"><?php echo $this->__('State/Province') ?></span>
                        <div class="input-box">
                            <select style="border: 1px solid;" id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="input100 validate-select<?php echo $helper->getAutoComplete(' state_autocomplete');?>" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" maxlength="50" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input100 input-text<?php echo $helper->getAutoComplete(' state_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                    </div>
                </li>                
                <li class="fields"<?php if ($helper->getCountry() == 0) { echo ' style="display:none;"'; } ?>>                    
                    <div class="field">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </li>     
               
         	</div>
       	</fieldset>    
       	<br/>

           <?php if(!$this->isCustomerLoggedIn()): ?>

            <fieldset>
		    	<legend class="label-input100"></legend>
		    	
               	<div class="line-top" ></div>
			    	<div class="divBlocos">
	                	<li class="fields" id="register-customer-password" style="">
	                			<input type="hidden" name="billing[email]" id="billing:email" value=""/>
		                     	<input type="hidden" name="billing[customer_password]" id="billing:customer_password" value="" />
		                     	<input type="hidden" name="billing[confirm_password]" id="billing:confirm_password" value="" />
	                	</li>
	                </div>
                </fieldset>
                
         	    <?php if ($this->canShip()): ?>
         	    	<span><img src="<?php echo $this->getSkinUrl('images/atencao.gif')?>" width="32" /></span>
         	    	<br/>
         	    	<div class="input-box">
				        <li class="radioPadrao">
				        	<label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label>
				            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" />
				        </li>
			        </div>
			        <div class="input-box">
				        <li class="radioPadrao">
				        	<label for="billing:use_for_shipping_no"><?php echo $this->__('Ship to different address') ?></label>
				            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->__('Ship to different address') ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" />
				        </li>
				    </div>
    			<?php endif; ?>
    			
                <?php endif; ?>

                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
     </li>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>
    <div class="buttons-set" id="billing-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <br/>
        <button id="nextStepBilling" type="button" title="<?php echo $this->__('Continue') ?>" class="btnContinuar enviarData" ><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="billing-please-wait" style="display:none;float: left;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</form>
<script type="text/javascript">

    $('nextStepBilling').on('click',function(e) {
        
    	billing.save();
    	//alert("FOI");
    });


//<![CDATA[
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');

    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    if ($('onepage-guest-register-button')) {
        Event.observe($('onepage-guest-register-button'), 'click', function(event) {
            var billingRememberMe = $('co-billing-form').select('#remember-me-box');
            if (billingRememberMe.length > 0) {
                if ($('login:guest') && $('login:guest').checked) {
                    billingRememberMe[0].hide();
                } else if ($('login:register') && ($('login:register').checked || $('login:register').type == 'hidden')) {
                    billingRememberMe[0].show();
                }
            }
        });
    }
    
//]]>
</script>