<?php

/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 
?>
<?php 
	$helper = Mage::helper('customaddress'); 
	$helper->checkStates();
	$storeCode = Mage::app()->getStore()->getLocaleCode();
?>

<style>
.base-set-icon-phone:before {
    content: "\f095";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group-phone base-set-icon-"]:before {
    position: absolute;
    margin-top: 5px;
    left: 37px;
}

[class*=" form-group-phone base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


[class*=" form-group-cellphone base-set-icon-"]:before {
    position: absolute;
    margin-top: 5px;
    left: 408px;
}

[class*=" form-group-cellphone base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.base-set-icon-address:before {
    content: "\f041";
    font: normal normal normal 14px/2 FontAwesome;
}


[class*=" form-group-address base-set-icon-"]:before {
    position: absolute;
    margin-top: 5px;
    left: 39px;
}

[class*=" form-group-address base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address2 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address2 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address3 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address3 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address3 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address4 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address4 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address5 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address5 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address5 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address6 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address6 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address6 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}
</style>

<script type="text/javascript">
	var jQuery = jQuery.noConflict();
	jQuery(document).ready(function() {
		jQuery('#shipping-new-address-form .state_autocomplete').addClass('validate-select');
		jQuery('#shipping-new-address-form .state_autocomplete').addClass('required-entry');
	});
	
	function getStates() { 
		return 	JSON.parse('<?php echo json_encode($_SESSION['states']) ?>');
	}
</script>
<div id="nextStep"></div>
<form action="" id="co-shipping-form">
	
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
       <li class="wide">
           <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
           <div class="input-box">
               <?php echo $this->getAddressesHtmlSelect('shipping') ?>
           </div>
       </li>
    <?php endif ?>    	
        <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
                <ul>
	                <fieldset cclass="label-input100">
		    		<legend></legend>
		    		
		    		<div class="label-input100"><?php echo $this->__('Personal Information') ?></div>
            		<div class="line-top" ></div>
            		
		             <div class="divBlocos">
		                    <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->setFieldParams('onchange="shipping.setSameAsBilling(false)"')->toHtml() ?></li>
		              </div>
	                  </fieldset>
			                    <?php if ($helper->getCompany() == 1) { ?>
			                    <li class="fields">
			                        <div class="fields">
			                            <label for="shipping:company"><?php echo $helper->__('Company') ?></label>
			                            <div class="input-box">
			                                <input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $helper->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" onchange="shipping.setSameAsBilling(false);" />
			                            </div>
			                        </div>
			                    </li>
		                 
                    
                    <?php } ?>
                    <br/>
                    <div id="blocoEnderecoEntrega"/>
                    <fieldset>
	    			
	    			<legend class="label-input100"></legend>
    			
        			<div class="label-input100"><?php echo $this->__('Personal Phones') ?></div>
                	<div class="line-top" ></div>
            		
            		
		            <div class="divBlocos">
	                    <li class="fields">
				            <div class="field expand">
				                <label for="shipping:telephone" class="label-input100"><em>*</em></label>
				                <span class="label-input100"><?php echo $this->__('Telephone') ?></span>
				                <input placeholder="DDD + Telefone" type="text" style="border: 1px solid;"  onfocus="this.style.border = '3px solid'; this.style.borderColor='#FF0000'" onblur="this.style.border = '1px solid'; this.style.borderColor='#000000'" name="shipping[telephone]"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input100 inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" onchange="shipping.setSameAsBilling(false);" />
				                <div class="border"></div>
				                <script type="text/javascript">
									    new MaskedInput('#shipping:telephone', '(99)99999-9999');
								</script>
				            </div>
				            <div class="field expand">
				                <label for="shipping:fax"></label>
				                <span class="label-input100"><?php echo $this->__('Fax') ?></span>
				                <input placeholder="DDD + Telefone" type="text" style="border: 1px solid;"  onfocus="this.style.border = '3px solid'; this.style.borderColor='#FF0000'" onblur="this.style.border = '1px solid'; this.style.borderColor='#000000'" name="shipping[fax]"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $helper->__('Fax') ?>" class="input100 inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="shipping:fax" onchange="shipping.setSameAsBilling(false);" />
				               	<div class="border"></div>
				                <script type="text/javascript">
									    new MaskedInput('#shipping:fax', '(99)99999-9999');
								</script>
				            </div>
				        </li>
				      </div>
				      </fieldset>
				      <br/>
				   <fieldset>
				   
				   
				   <legend class="label-input100"></legend>
		    
        		   <div class="label-input100"><?php echo $this->__('Personal Address') ?></div>
                   <div class="line-top" ></div>
				   
				   
				   <div class="divBlocos">
			        <li class="fields">
			        	<div class="field expand">
			                <label for="shipping:postcode" class="label-input100"><em>*</em></label>
			                <span style="text-transform: uppercase;" class="label-input100"><?php echo $this->__('Zip/Postal Code') ?></span>
			                <input style="border: 1px solid;" placeholder="Digite somente n&uacute;meros" type="tel"<?php echo $helper->getAutoComplete('zip_autocomplete', true, true) . $helper->addZipMask($storeCode);?> title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input100 input-text validate-zip-international<?php echo $helper->getAutoComplete(' zip_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" onchange="shipping.setSameAsBilling(false);" maxlength="8"/>
			            	<div class="border"></div>
			            </div>
			            
			        </li>
				    <li class="fields">
	                 	<?php if ($storeCode == 'pt_BR' && $helper->getZipLink() == 1) { ?>
		                <?php } ?>   
	                 </li>
	                <li class="fields">
	                	<div class="field expand">
		                    <label for="shipping:street_1" class="label-input100"><em>*</em></label>
		                    <span class="label-input100"><?php echo $this->__('Address') ?></span>
		                    <input type="text" style="border: 1px solid;" placeholder="Ex: Rua Alameda dos Santos" title="<?php echo $helper->__('Address') ?>" name="shipping[street][]" id="shipping:street_1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input100 input-text required-entry<?php echo $helper->getAutoComplete(' street1_autocomplete');?>" />
		            		<div class="border"></div>
		            	</div>
		            	<div class="field expand">
		                    <label for="shipping:street_2" class="label-input100"><em>*</em></label>
		                    <span class="label-input100"><?php echo $this->__('Number') ?></span>
		                    <input type="tel" placeholder="Ex: 235"  style="border: 1px solid;"  onfocus="this.style.border = '3px solid'; this.style.borderColor='#FF0000'" onblur="this.style.border = '1px solid'; this.style.borderColor='#000000'" title="<?php echo $helper->__('Number') ?>" name="shipping[street][]" id="shipping:street_2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input100 input-text required-entry" />
		                    <div class="border"></div>
		            	</div>
	                </li>
	                <li class="fields">
	                	<div class="field expand">
		                    <label for="shipping:street_3" class="label-input100"><em>*</em></label>
		                    <span class="label-input100"><?php echo $this->__('Region') ?></span>
		                    <input type="text" style="border: 1px solid;" placeholder="Ex: Jardim Vila Maria" title="<?php echo $helper->__('Region') ?>" name="shipping[street][]" id="shipping:street_3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input100 input-text required-entry<?php echo $helper->getAutoComplete(' street3_autocomplete');?>" />
		                    <div class="border"></div>
		            	</div>
		            	<div class="field expand">
		                    <label for="shipping:street_4"></label>
		                    <span class="label-input100"><?php echo $this->__('Complement') ?></span>
		                    <input type="text" style="border: 1px solid;"  placeholder="Ex: Apto 98" title="<?php echo $helper->__('Complement') ?>" name="shipping[street][]" id="shipping:street_4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input100 input-text" />
		                    <div class="border"></div>
		            	</div>
	                </li>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                    <li class="wide">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                        </div>
                    </li>
                    <?php endif; ?>
                    <li class="fields">
                        <div class="field expand">
                            <label for="shipping:city" class="label-input100"><em>*</em></label>
                            <span class="label-input100"><?php echo $this->__('City') ?></span>
                            <input type="text" style="border: 1px solid;" placeholder="Ex: Vila Maria" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input100 input-text<?php echo $helper->getAutoComplete(' city_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="shipping:city" onchange="shipping.setSameAsBilling(false);" />
                            <div class="border"></div>
                        </div>
                        <div class="field expand" >
                            <label class="label-input100"><em>*</em></label>
                             <span class="label-input100"><?php echo $this->__('State/Province') ?></span>
                            <div class="input-box">
                                <select style="border: 1px solid;" id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="input100 validate-select<?php echo $helper->getAutoComplete(' state_autocomplete');?>" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                //<![CDATA[
                                    $('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                //]]>
                                </script>
                                <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text<?php echo $helper->getAutoComplete(' state_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                    </li>
                    <li class="fields"<?php if ($helper->getCountry() == 0) { echo ' style="display:none;"'; } ?>>
                        <div class="field">
                            <label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>           
                 
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="checkboxPadrao">
                    	<label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                        <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" />
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
                <?php endif;?>
                </div>
                </fieldset>
                </ul>
        </li>
    </ul>
    <div class="buttons-set" id="shipping-buttons-container" >
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>'
        <button type="button" class="btnContinuar" title="<?php echo $this->__('Continue') ?>" onclick="shipping.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span id="shipping-please-wait" class="please-wait" style="display:none; float: left;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var shipping = new Shipping('co-shipping-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveShipping') ?>',
        '<?php echo $this->getUrl('checkout/onepage/shippingMethod') ?>');
    var shippingForm = new VarienForm('co-shipping-form');
    shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';
    //shippingForm.setElementsRelation('shipping:country_id', 'shipping:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('shipping-address-select') && shipping.newAddress(!$('shipping-address-select').value);

    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
//]]>
</script>
