<?php

/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 
 ?>
 
<style>

.header-container  {
	position: initial !important;
}

.base-set-icon-user:before {
    content: "\f007";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    margin-left: 8px;
    margin-top: 11px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.base-set-icon-phone:before {
    content: "\f095";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group-phone base-set-icon-"]:before {
    position: absolute;
    margin-top: 8px;
    left: 37px;
}

[class*=" form-group-phone base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


[class*=" form-group-cellphone base-set-icon-"]:before {
    position: absolute;
    left: 334px;
    margin-top: 8px;
}

[class*=" form-group-cellphone base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.base-set-icon-address:before {
    content: "\f041";
    font: normal normal normal 14px/2 FontAwesome;
}


[class*=" form-group-address base-set-icon-"]:before {
    position: absolute;
    margin-top: 2px;
    left: 39px;
}

[class*=" form-group-address base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address2 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address2 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 8px;
}

[class*=" form-group-address2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address3 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address3 base-set-icon-"]:before {
    position: absolute;
    margin-top: 8px;
    left: 14px;
}

[class*=" form-group-address3 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address4 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address4 base-set-icon-"]:before {
    position: absolute;
    left: 14px;
    margin-top: 8px;
}

[class*=" form-group-address4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address5 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address5 base-set-icon-"]:before {
    position: absolute;
   	margin-top: 8px;
    left: 14px;
}

[class*=" form-group-address5 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


.form-group-address6 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group-address6 base-set-icon-"]:before {
    position: absolute;
    top: 2px;
    left: 14px;
}

[class*=" form-group-address6 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

.dropdown select{
    background: #eee;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
.dropdown select option:not(:checked) { 
    background-color: white; 
    color:#000;
   
}

</style>
 
<?php 
	$helper = Mage::helper('customaddress');
	$helper->checkStates();
	$storeCode = Mage::app()->getStore()->getLocaleCode();
?>

<?php 
	$customer = Mage::getSingleton('customer/session')->getCustomer();
	$customerSenha= $customer->getPasswordHash();

	$cpf = false; 
	$documentoValor = $customer->getTaxvat();
	$tamanho =  strlen($documentoValor); 
	if($tamanho < 12) {
		$cpf = true;
	}
?>

<script>
	jQuery.noConflict();
	jQuery(function(){
		var tam = "<?php echo $tamanho; ?>";
		
		if(tam < 12){
			jQuery('.camposCNPJFirstName').css('display', 'none');
		}

		if(tam > 12){
			jQuery('.camposCPFFirstName').css('display', 'none');
		}
	});
</script>

<script type="text/javascript">
	var jQuery = jQuery.noConflict();
	jQuery(document).ready(function() {
		jQuery('.state_autocomplete').addClass('validate-select');
		jQuery('.state_autocomplete').addClass('required-entry');
	});
	function getStates() {
		return 	JSON.parse('<?php echo json_encode($_SESSION['states']) ?>');
	}

	jQuery.noConflict();
	jQuery(function(){
		
	});
</script>


<script type="text/javascript">
jQuery.noConflict();
jQuery(function(){
		jQuery(".footerPadrao").css('display', 'none');
		jQuery(".footerService").css('display', 'none');
		jQuery(".footerFormaPagamento").css('display', 'block');
		jQuery("div").removeClass("header-switch");
		
});
</script>

<?php if($this->getTitle()): ?>
<div class="page-title">

    <h1><?php echo $this->getTitle() ?></h1>
    <?php if($this->isDefaultShipping()): ?>
          <?php echo 'EDIT SHIPPING'; ?>
          <h2><?php echo $this->__('Default Shipping Address Edit') ?></h2>
    <?php endif; ?>
    
    <?php if($this->isDefaultBilling()): ?>
         <?php echo 'EDIT BILLING'; ?>
         <h2><?php echo $this->__('Default Billing Address Edit') ?></h2>
    <?php endif; ?>
</div>
<?php endif; ?>

<?php 
   $defaultBilling = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();
    $defaultBillingOriginal = $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($defaultBilling));
    $defaultBillingValidacao =  str_replace("<br/>","", $defaultBillingOriginal);
    $defaultBillingValidacao = trim($defaultBillingValidacao);
    
    $defaultShipping = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping();
    $defaultShippingOriginal = $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($defaultShipping));
    $defaultShippingValidacao =  str_replace("<br/>","", $defaultShippingOriginal);
    $defaultShippingValidacao = trim($defaultShippingValidacao);
    
    if($defaultBillingValidacao != '' ){
        Mage::getSingleton('core/session')->setBillingContentValue($defaultBillingValidacao);
    }
    
    if($defaultShippingValidacao != '' ){
        Mage::getSingleton('core/session')->setShippingContentValue($defaultShippingValidacao);
    }

?>

	<?php $_billing = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling() ?>
	<?php $_shipping = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping() ?>
        
	<?php $cobranca = false; ?>
    <?php $entrega = false; ?>
	
	<?php if(($defaultBillingValidacao == '') && ($defaultShippingValidacao == '') && ($_billing == '')): ?>
    		<?php $cobranca = true; ?>
    		<?php $entrega = false; ?>
	<?php endif; ?> 

	<?php if(($_shipping == '')  && ($_billing != '')): ?>
			<?php $cobranca = false; ?>
    		<?php $entrega = true; ?>
	<?php endif; ?>
	
	 <?php if($this->isDefaultShipping()): ?>
	 	<?php $cobranca = false; ?>
         <?php $entrega = true; ?>
    <?php endif; ?>
    
    <?php if($this->isDefaultBilling()): ?>
    	  <?php $entrega = false; ?>
         <?php $cobranca = true; ?>
    <?php endif; ?>
    
    <?php if($_billing == $_shipping): ?>
     <?php $entrega = false; ?>
         <?php $cobranca = true; ?>
     <?php endif; ?>

<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate">

    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    
    <div id="blocoEndereco"></div>
	<fieldset>
	<div class="divBlocos">   
        <ul class="form-list">
            <li class="fields">
               <?php echo $this->getNameBlockHtml() ?>
            </li>
            <?php if ($helper->getCompany() == 1) { ?>
            <li class="wide">
                <label for="company"><?php echo $this->__('Company') ?></label>
                <div class="input-box">
                    <input type="text" name="company" id="company" title="<?php echo $helper->__('Company') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $helper->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                </div>
            </li>
            <?php } ?>
            
            <li class="fields">
                <div class="field">
                    <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                    <div class="input-box expand">
                        <input type="tel" placeholder="DDD + Telefone" style="width: 240px;" name="telephone"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="inputMask input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" />
                    </div>
                </div>
                <div class="field">
                    <label for="fax"><?php echo $this->__('Fax') ?></label>
                    <div class="input-box expand">
                        <input type="tel" placeholder="DDD + Telefone" style="width: 240px;" name="fax" id="fax" <?php echo $helper->addMask(17, $storeCode);?> title="<?php echo $helper->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" class="inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
                    </div>
                </div>
            </li>
        </ul>
      </div>
      </fieldset>
      
     <br/>
     
     <fieldset>
	  <div class="divBlocos">       
        <ul class="form-list">
        	<li class="fields">        		
                <div class="field">
                    <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                    <div class="input-box expand">
                        <input placeholder="00000-000" type="tel"<?php echo $helper->getAutoComplete('zip_autocomplete', true, false) . $helper->addZipMask($storeCode);?> name="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international<?php echo $helper->getAutoComplete(' zip_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                    </div>
                </div>
                <?php if ($storeCode == 'pt_BR' && $helper->getZipLink() == 1) { ?>
                <br />
                <?php } ?>
        	</li>
            <li class="fields">
            	<div class="field">
                    <label for="street_1" class="required"><em>*</em><?php echo $helper->__('Address') ?></label>
                    <div class="input-box expand">
                        <input type="text" title="<?php echo $helper->__('Address') ?>" placeholder="Ex: Rua Alameda dos Santos" name="street[]" id="street_1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street1_autocomplete');?>" />
                    </div>
				</div>
				<div class="field">
                    <label for="street_2" class="required"><em>*</em><?php echo $helper->__('Number') ?></label>
                    <div class="input-box expand">
                        <input type="text" title="<?php echo $helper->__('Number') ?>" placeholder="Ex: 235" name="street[]" id="street_2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input-text required-entry" />
                    </div>
				</div>
			</li>
			<li class="fields">
            	<div class="field">
                    <label for="street_3" class="required"><em>*</em><?php echo $helper->__('Region') ?></label>
                    <div class="input-box expand">
                        <input type="text" placeholder="Ex: Jardim Formosa" title="<?php echo $helper->__('Region') ?>" name="street[]" id="street_3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street3_autocomplete');?>" />
                    </div>
				</div>
				<div class="field">
                    <label for="street_4"><?php echo $helper->__('Complement') ?></label>
                    <div class="input-box expand">
                        <input type="text" title="<?php echo $helper->__('Complement') ?>" name="street[]" id="street_4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input-text" />
                    </div>
				</div>
			</li>
            <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
            <li class="wide">
                <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>
                <div class="input-box">
                    <input type="text" name="vat_id" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" id="vat_id" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                </div>
            </li>
            <?php endif; ?>
            <li class="fields">
                <div class="field">
                    <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                    <div class="input-box expand">
                        <input type="text" placeholder="Ex: Vila Maria" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text<?php echo $helper->getAutoComplete(' city_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                    </div>
                </div>
                <div class="field">
                    <label class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                    <div class="input-box dropdown">
                        <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select required-entry<?php echo $helper->getAutoComplete(' state_autocomplete');?>" style="display:none;">
                           <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                        </select>
                        <script type="text/javascript">
                        //<![CDATA[
                            $('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                        //]]>
                        </script>
                        <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' state_autocomplete') . $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
                    </div>
                </div>
            </li>
            <li class="fields"<?php if ($helper->getCountry() == 0) { echo ' style="display:none;"'; } ?>>
                <div class="field">
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <div class="input-box">
                        <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                </div>
            </li>
            
            <li>
                <?php if($cobranca): ?>
                	   <?php echo 'COBRANCA' ?>
 					<input type="hidden" name="default_billing" value="1" /> 
            	 <?php endif; ?>
            </li>
            <li>
                <?php if($entrega): ?>
                	  <?php echo 'HOMOLOGACAO' ?>
                    <input type="hidden" name="default_shipping" value="1" />
                <?php endif; ?>
            </li>
            
        </ul>
    </div>
    </fieldset>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div>
        	<button data-action="save-customer-address" style="float: left;" type="submit" title="<?php echo $this->__('Save Address') ?>" class="btnContinuar"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
	        <button type="button" class="btnPadraoComumCinzaGrande" style="margin-left: 10px;" onclick="window.location.href='<?php echo $this->escapeUrl($this->getBackUrl()) ?>'"><?php echo $this->__('Back') ?></button>
	    </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>
