<?php $_code = $this->getMethodCode() ?>
<div id="payment_form_<?php echo $_code ?>" style="display:none;">
    <div class="block-payment-bankslip">
<!--         Um Boleto Bancário será enviado mensalmente para o seu endereço de e-mail. -->
    </div>
</div>
