<?php
$code = $this->getMethodCode();
$class = 'required-entry';
?>

<style>

.tamanhoCampo {
	position:relative;
	width: 70%;
    margin-left: 24px;
}

#tudo {
	width: 100%;
}

#tudo1 {
	position:relative;
	width: 70%;
    margin-left: 24px;
}
#tudo2 {
	position: relative;
	width: 50%;
}

#tudo3 {
	position: inherit;
	width: 50%;
	float: left;
	padding: 170px 15px;
}

.campo {
	width: 350px;;
}

.campoCartaoNumero {
	width: 200px;;
}

#payment-tool-tip {
	margin-right: 260px !important;
}

.campoDiv {
	margin-left: 220px;
	margin-top: -80px;
}

.divFundo {
    width: 425px;
    background: #e5e5e5;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 35px;
}

.float-left {
	    float: left;
}

.float-right {
    float: right;
}

.text-green {
	text-transform: uppercase;
    color: #00c655;
    float: left;
	margin-left: 25px;
	font-size: 18px;
}
.icon-lock:AFTER {
 content: "\f023";
 font: normal normal normal 20px/2 FontAwesome;
}
	
</style>

	<ul class="form-list" id="payment_form_<?php echo $code ?>" style="display:none;">
					<div class="title-message text-green float-right">
						<span><?php echo $this->__('Safe environment total') ?></span>
						<span class="icon-lock"></span>
					</div>
					<div class="divBlocos divFundo tamanhoCampo"> <!--  BLOCO INICIO -->
			    	<br/>
				       <?php if($installments = $this->getInstallments()): ?>
				        <li>
				            <div id="<?php echo $code ?>_cc_type_installments_div" class="wide campo">
				                <label for="<?php echo $code ?>_cc_cid" class="required">
				                    <em>*</em><?php echo $this->__('Installment') ?> 
				                </label>
				
				                <div class="input-box">
				                    <select name="payment[cc_installments]" class="required-entry">
				                        <?php echo $installments; ?>
				                    </select>
				                </div>
				            </div>
				        </li>
				        <?php endif; ?>
                      
				         <?php if ($savedCc = $this->getSavedCc()): ?>
				            <?php $class = 'not-required-entry';?>
					            <br/>
					            <li class="payment-choice-saved-cc payment-choice">
						                <label class="label-choice label-choice-saved-cc">
						                    <input type="radio" name="payment[cc_choice]" checked="checked" value="saved"/>
						                    <?php echo $this->__('Use Saved Card') ?> 
						                </label>
						                <br/>
						
						                <div class="block-choice-saved-cc block-choice">
						                    <img alt="<?php echo $ccType = $savedCc['payment_company']['name']; ?>"
						                         title="<?php echo $ccType; ?>"
						                         src="https://s3.amazonaws.com/recurrent/payment_companies/<?php echo $savedCc['payment_company']['code']; ?>.png"/>
						
						                    <div class="block-choice-saved-cc-details">
						                        <div class="nowrap block-choice-saved-cc-holder-name">
						                            <span class="text-upper">Portador</span>
						                            <span title="<?php echo $name = $savedCc['holder_name']; ?>"><?php echo $name ?></span>
						                        </div>
							                    <span class="nowrap">
							                        <span class="text-upper">Final</span>
							                        <?php echo $savedCc['card_number_last_four']; ?>&nbsp;
							                    </span>
							                    <span class="nowrap">
							                        <span class="text-upper">Validade</span>
							                        <?php echo date("m/Y", strtotime($savedCc['card_expiration'])); ?>
							                    </span>
						                    </div>
						                </div>
						            </li>
					           		<br/>
				       	   <?php endif; ?>
		        
		                  <li class="payment-choice-new-cc payment-choice">
						            <?php if ($savedCc): ?>
						                <label class="label-choice label-choice-new-cc">
						                    <input type="radio" name="payment[cc_choice]" value="new"/>
						                    <?php echo $this->__('New Credit Card') ?> 
						                </label>
						            <?php else : ?>
						                <input type="hidden" name="payment[cc_choice]" value="new"/>
						            <?php endif; ?>
						          	<br/>
					
					            	<div class="block-choice-new-cc block-choice" <?php if ($savedCc): ?>style="display:none;"<?php endif; ?>>
								            <div class="payment-companies" style="margin-left: -170px;">
								                <?php foreach ($ccs = $this->getCcAvailableTypes() as $typeCode => $typeName) {
								                    echo '<img alt="' . $typeName . '" title="' . $typeName . '"
								                         src="https://s3.amazonaws.com/recurrent/payment_companies/' . $typeCode . '.png"/>';
								                }
								                ?>
								            </div>
							            
									          
					            				<br/>
							       				<div class="wide campo">
								                    <label for="<?php echo $code ?>_cc_type" class="required">
								                        <em>*</em><?php echo $this->__('Type Credit') ?>
								                    </label>
					
						                    	    <div class="input-box">
								                        <select id="<?php echo $code ?>_cc_type" name="payment[cc_type]" class="<?php echo $class; ?>"
								                                title="<?php echo $this->__('Type Credit') ?>">
								                            <option value=""><?php echo $this->__('--Please Select--') ?></option>
								                            <?php foreach ($this->getCcAvailableTypes() as $typeCode => $typeName): ?>
								                                <option value="<?php echo $typeCode ?>">
								                                    <?php echo $typeName ?>
								                                </option>
								                            <?php endforeach ?>
								                        </select>
								                    </div>
							              		</div>
						              
						        	  	  		<br/>
						        	  	  
									          	<div class="wide campoCartaoNumero">
								                    <label for="<?php echo $code ?>_cc_number" class="required">
								                        <em>*</em><?php echo $this->__('Credit Number') ?>
								                    </label>
								
								                    <div class="input-box">
								                        <input type="text" id="<?php echo $code ?>_cc_number" name="payment[cc_number]"  maxlength="16"
								                        	   onKeyPress="return numbersonly(this, event)"
								                               title="<?php echo $this->__('Credit Number') ?>" class="input-text" value=""
								                              placeholder="0000 0000 0000 0000"/>
								                    </div>
								                    
								                    
								                </div>
				                
				                		   		<br/>
				                
								                <div id="<?php echo $code ?>_cc_type_cvv_div" class="wide campoDiv">
								                    <label for="<?php echo $code ?>_cc_cid" class="required">
								                        <em>*</em><?php echo $this->__('Security Number') ?> 
								                    </label>
								                    <div class="input-box campo">
								                        <div class="v-fix">
								                            <input type="text" title="<?php echo $this->__('Security Number') ?>" maxlength="4"
								                            	   onKeyPress="return numbersonly(this, event)"
								                                   class="input-text cvv <?php echo $class; ?>" id="<?php echo $code ?>_cc_cid"
								                                   name="payment[cc_cid]" value=""/>
								                                   
								                                    <a href="#" class="cvv-what-is-this"><span style="color: red;text-transform: uppercase;"><?php echo $this->__('What is this?') ?></span></a>
								                        </div>
								                    </div>
								                </div>
							                
							                	<br/>
							                	<br/>
							                  	<br/>
					            	
								                <div class="wide campo">
								                    <label for="<?php echo $code ?>_cc_owner" class="required">
								                        <em>*</em><?php echo $this->__('Name on Card') ?>
								                    </label>
								                    <div class="input-box">
								                        <input type="text" maxlength="50" title="<?php echo $this->__('Name on Card') ?>"
								                               class="input-text <?php echo $class; ?>"
								                               id="<?php echo $code ?>_cc_owner" name="payment[cc_owner]"
								                               value="<?php echo $this->escapeHtml($this->getInfoData('cc_owner')) ?>"/>
								                    </div>
								                </div>
							                
							                	<br/>
		                  
								                <div id="<?php echo $code ?>_cc_type_exp_div" class="wide">
								                    <label for="<?php echo $code ?>_expiration" class="required">
								                        <em>*</em><?php echo $this->__('Expiration Date') ?>
								                    </label>
								                    <div class="input-box">
									                        <div class="v-fix">
									                            <select id="<?php echo $code ?>_expiration" name="payment[cc_exp_month]"
									                                    class="month validate-cc-exp <?php echo $class; ?>">
									                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
									                                    <option value="<?php echo $k ? $k : '' ?>">
									                                        <?php echo $v ?>
									                                    </option>
									                                <?php endforeach ?>
									                            </select>
									                        </div>
									                        <div class="v-fix">
									                            <select id="<?php echo $code ?>_expiration_yr" name="payment[cc_exp_year]"
									                                    class="year <?php echo $class; ?>">
									                                <?php foreach ($this->getCcYears() as $k => $v): ?>
									                                    <option value="<?php echo $k ? $k : '' ?>">
									                                        <?php echo $v ?>
									                                    </option>
									                                <?php endforeach ?>
									                            </select>
									                        </div>
								                    </div>
								                </div>
		                				</div>
						                <br/>
								        <br/>
						        </li>
						</div> <!--  BLOCO FIM -->
	</ul>

<?php if ($savedCc): ?>
    <script type="text/javascript">
        var VindiSubscriptionCC = new VindiSubscriptionCreditCard({
            paymentChoiceSavedCcSelector: '.payment-choice-new-cc',
            paymentChoiceNewCcSelector: '.payment-choice-saved-cc',
            blockChoiceSavedCcSelector: '.block-choice-saved-cc',
            blockChoiceNewCcSelector: '.block-choice-new-cc',
        });

        function numbersonly(myfield, e, dec) { 
        	var key; var keychar; 
        		if (window.event) key = window.event.keyCode; else if (e) key = e.which; else return true; keychar = String.fromCharCode(key); 
        		if ((key==null) || (key==0) || (key==8) || (key==9) || (key==13) || (key==27) ) return true; 
        		else if ((("0123456789").indexOf(keychar) > -1)) return true; 
        		else if (dec && (keychar == ".")) { myfield.form.elements[dec].focus(); return false; } else return false; 
        } 
        
    </script>
<?php endif; ?>