<?php
    $customer=Mage::helper('customer');
    if($customer->isLoggedIn()){
        $name=Mage::getSingleton('customer/session')->getCustomer()->getName();
        $email=Mage::getSingleton('customer/session')->getCustomer()->getEmail();
    }else{
        $name = '';
        $email = '';
    }
    Mage::getSingleton('core/translate')->setLocale(Mage::app()->getLocale()->getLocaleCode())->init('frontend', true);
?>

<div id="backgroundpopup" class="background-opacity" style="display: none; background: none repeat scroll 0% 0% rgb(0, 0, 0);"></div>  
<div id="notify_information" class="notification-container">    

    <?php
        $storeId = Mage::app()->getStore()->getStoreId();
        $title = Mage::getStoreConfig('easymaintanance/notify/title',$storeId);
        $message = Mage::getStoreConfig('easymaintanance/notify/message',$storeId);

        isset($title) ? $title : $this->__('Notify Me');
    ?>
    <div class="notification-title"> <?php echo $this->__($title) ?>  <?php if(isset($message) && $message != null): ?>
        <span class="notification-message"> <?php echo $message ?>  </span>
        <?php endif; ?></div>
    <div>
     <h3><?php echo $this->__('Discount Promotion') ?></h3>
    </div>
    
    <div class="notification-content">
        <form action="<?php echo $this->getUrl("easymaintanance/index/postnotify") ?>" method="post" id="frm_notify">       
        <div id="success_message_notify" style="display: none;" class="message success-msg"></div>         
            <ul class="form-list" id="notify_options">
                <li>
                    <label for="fname"><?php echo $this->__('Your Full Name').":" ?> <span class="required">*</span></label>
                    <input name="notifyuname" value="<?php echo $this->htmlEscape($name) ?>" title="<?php echo $this->__('Name') ?>" id="notifyfname" type="text" class="input-text required-entry"  />
                </li>
                <li>      
                    <label for="email"><?php echo $this->__('Your E-mail').":" ?> <span class="required">*</span></label>
                    <input name="notifymail" value="<?php echo $this->htmlEscape($email) ?>" title="<?php echo $this->__('Email Address') ?>" id="notifyemail" type="text" class="input-text required-entry validate-email" />
                </li>                   
                <li>
                    <button id="notifybtnsubmit" name="notifybtnsubmit"  type="button" class="button-feedback" onclick="easysiteNotify('<?php echo $this->getUrl("easymaintanance/index/postnotify"); ?>')">
                        <span><span><?php echo $this->__('Submit') ?></span></span></button>
                         <span id="loader_notify" class="loader-feedback" style="display: none; ">
						<img src="<?php echo $this->getSkinUrl('easymaintanance/images/loader.gif') ?>" alt='' title=''/></span>
                </li>   
            </ul>

            
           
        </form>

        <script type="text/javascript">
            var notify_form = new Validation($('frm_notify'));
        </script>
    </div>

</div>  
