<?php 
$config = Mage::getStoreConfig('easymaintanance/contactus/active'); 
$customer=Mage::helper('customer');
if($customer->isLoggedIn()){
    $name=Mage::getSingleton('customer/session')->getCustomer()->getName();
    $email=Mage::getSingleton('customer/session')->getCustomer()->getEmail();
}else{
    $name = '';
    $email = '';
}
Mage::getSingleton('core/translate')->setLocale(Mage::app()->getLocale()->getLocaleCode())->init('frontend', true);
?>
<?php if($config=="1") { ?>
<div class="side-feedback rotateBotao" >
    <a href="javascript:void(0)" onclick="openFeedbackWindow('feedback_information')" title="Feedback" id="link_feedback" class="rotate"> <?php echo $this->__('Contact Us') ?></a>
</div>
<div id="backgroundpopup" class="background-opacity" style="display: none; background: none repeat scroll 0% 0% rgb(0, 0, 0);"></div>  
<div style="display: none;" id="feedback_information" class="feedback-container">
    <a class="feedback_close" title="close" href="#" onclick="closeFeedbackWindow('feedback_information'); return false;"></a>
    <div class="feedback-popup-content">
        <div class="feedback-title"> <?php echo $this->__('Contact Us') ?>  </div>
        <div class="feedback-content">
            <form action="<?php echo $this->getUrl("easymaintanance/index/postFeedback") ?>" method="post" id="frm_feedback">
                <div id="success_message" style="display: none;" class="feedback-success-msg"></div>
                
                
                <ul class="form-list" id="feedback_options">
                    <li>
                        <label for="fname"><?php echo $this->__('Your Full Name').":" ?> <span class="required">*</span></label>
                        <input name="feedbackbuname" value="<?php echo $this->htmlEscape($name) ?>" title="<?php echo $this->__('Name') ?>" id="fname" type="text" class="input-text required-entry"  />
                    </li>
                    <li>      
                        <label for="email"><?php echo $this->__('Your E-mail').":" ?> <span class="required">*</span></label>
                        <input name="feedbackmail" value="<?php echo $this->htmlEscape($email) ?>" title="<?php echo $this->__('Email Address') ?>" id="email" type="text" class="input-text required-entry validate-email" />
                    </li> 
                    <li>      
                        <label for="heard_about_us"><?php echo $this->__('Where did you hear about us')."?" ?> <span class="required">*</span></label>
                    	<select name="feedbackheard" class="input-text required-entry" value="" title="<?php echo $this->__('Where did you hear about us') ?>" id="heard_about_us" >
						  <option value="">Selecione</option>
						  <option value="Site de busca">Site de busca</option>
						  <option value="Indicacao de Amigo">Indica&ccedil;&atilde;o de Amigo</option>
						  <option value="Rede Social">Rede Social</option>
						  <option value="Eventos">Eventos</option>
						  <option value="Contato com Representante">Contato com Representante</option>
						  <option value="Outros">Outros</option>
						</select>
                    </li> 
                    <li>
                        <label for="details"><?php echo $this->__('Message').":" ?> <span class="required">*</span></label>
                        <textarea id="details" class="input-text required-entry"  name="feedbackdetails" rows="10" col="50"></textarea>
                    </li> 
                    <li>
                        <button id="btnsubmit" name="btnsubmit"  type="button" class="button-feedback" onclick="sendFeedback('<?php echo Mage::getUrl('easymaintanance/index/postFeedback',array('_secure'=>true)); ?>')">
                            <span><span><?php echo $this->__('Submit') ?></span></span></button>
				<span id="loader" class="loader-feedback" style="display: none;">
				<img src="<?php echo $this->getSkinUrl('easymaintanance/images/loader.gif') ?>" alt='' title=''/></span>
                    </li>   
                </ul>
                <div class="fonteDetalhes">
                	<?php echo $this->__('Details Contact Email') ?> </br>
                	<?php echo $this->__('Details Contact') ?>
                </div>
            </form>
   
            <script type="text/javascript">
                var feedback_form = new Validation($('frm_feedback'));
            </script>
        </div>
    </div>
</div>
<?php } ?>
