<?php
/**
 * Nwdthemes Productslider Extension
 *
 * @package     Productslider
 * @author      Nwdthemes <mail@nwdthemes.com>
 * @link        http://nwdthemes.com/
 * @copyright   Copyright (c) 2014. Nwdthemes
 * @license     http://themeforest.net/licenses/terms/regular
 */

/**
count
title
columns
random

slider_autoscroll
slider_scroll_items
slider_rewind
slider_slide_speed
slider_stop_on_hover
slider_navigation
slider_pagination
slider_pagination_numbers
slider_rtl

slide_item_img_width
slide_item_name
slide_item_price
slide_item_rating
slide_item_cart
slide_item_wishlist
slide_item_compare
 */

$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$psHelper = Mage::helper('productslider');
$slider_id = uniqid('nwd_ps_');

?>

<?php if($_productCollection->count()): ?>
<div class="productslider-container <?php echo ( $this->getCfg('slider/rtl') == 'true' ? 'productslider-container-rtl' : '' ); ?> category-products">
	<?php if ($this->getShowTitle() == 'true') : ?>
		<div class="clearfix title-container">
			<h2 class="subtitle"><?php echo $this->__($this->getTitle());?></h2>
		</div>
	<?php endif; ?>
    <ul id="<?php echo $slider_id; ?>" class="owl-carousel productslider-col-<?php echo $this->getColumns() ?> clearfix"
        data-items="<?php echo $psHelper->getSliderItems($this->getColumns()) ?>"
        data-autoscroll="<?php echo $this->getCfg('slider/autoscroll'); ?>"
        data-scroll="<?php echo $this->getCfg('slider/scroll_items'); ?>"
        data-rewind="<?php echo $this->getCfg('slider/rewind'); ?>"
        data-slidespeed="<?php echo $this->getCfg('slider/slide_speed'); ?>"
        data-stoponhover="<?php echo $this->getCfg('slider/stop_on_hover'); ?>"
        data-navigation="<?php echo $this->getCfg('slider/navigation'); ?>"
        data-pagination="<?php echo $this->getCfg('slider/pagination'); ?>"
        data-paginationnumbers="<?php echo $this->getCfg('slider/pagination_numbers'); ?>"
        data-rtl="<?php echo $this->getCfg('slider/rtl'); ?>"
	>
    <?php foreach ($_productCollection as $_product): ?>
	    <li class="item" >
	    <div class="divBlocos itemFix">
	    	<div style="text-align: center;">
			    <a onMouseOver="this.style.background='none'" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
				    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($this->getCfg('slide_item/img_width')); ?>" data-retina="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($this->getCfg('slide_item/img_width')*2); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
				    <?php echo $this->helper('athlete')->getLabel($_product);  ?>
			    </a>
			    
		    </div>
		    <div class="product-information" style="text-align: center;">
			    <?php if ($this->getCfg('slide_item/name')) : ?>
			    <h2 class="product-name">
			    	<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
				<!-- <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
					    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
				    </a>
				 -->    
			    </h2>
			    <?php endif; ?>
			    <?php if($_product->getRatingSummary() && $this->getCfg('slide_item/rating')): ?>
				    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
			    <?php endif; ?>
			    <?php if ($this->getCfg('slide_item/price')) : ?>
			        <?php echo $this->getPriceHtml($_product, true) ?>
			    <?php endif; ?>
		    </div>
		    <div class="actions" style="text-align: center;">
			    <?php if ($this->getCfg('slide_item/cart')) : ?>
				    <?php if($_product->isSaleable()): ?>
				    	<br/>
					    <button type="button" title="<?php echo $this->__('Add') ?>" class="btnAdicionar icon-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add') ?></span></span></button>
				    <?php else: ?>
					    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				    <?php endif; ?>
			    <?php endif; ?>
			    <ul class="add-to-links fundoPadraoLink">
				    <?php if ($this->helper('wishlist')->isAllow() && $this->getCfg('slide_item/wishlist')) : ?>
					    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
				    <?php endif; ?>
				    <?php if($_compareUrl=$this->getAddToCompareUrl($_product) && $this->getCfg('slide_item/compare')): ?>
					    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
				    <?php endif; ?>
			    </ul>
		    </div>
		    </div>
	    </li>
    <?php endforeach ?>

   </ul>
</div>
<?php endif; ?>
