<style>
.olegnaxmegamenu #nav li.wide div div.megamenu-block-right {
	margin-left: 0px;
}

.atendimento {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 27px;
	padding: 0 9px 1px;
	color: #fff;
	font-size: 16px;
	float: right;
	background-color: #ba1400;
}

.atendimento-drop {
    width: 400px;
}

.atendimento-drop {
    background: #fff;
    position: absolute;
    right: 0;
    top: 105px;
    border: 1px solid #ba1400;
    display: none;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 9999;
}

.text-contact {
    background: #ba1400;
    padding: 12px 9px 5px 9px;
}

.phone {
    padding: 0px 10px;
    border-bottom: 1px solid #bab9b9;
    color: #4c4c4c;
}
.phone-font {
	font-size: 18px;
	margin-top: -8px;
}

.atendimento:hover .atendimento-drop {
    display: block;
}

.atendimento-drop .email {
    border-top: 1px solid #ba1400;
}

.atendimento-drop .btn-contact {
    display: block;
    border-top: 1px solid #ba1400;
    font: 18px 'Proxima Nova Bold', Arial, sans-serif;
    text-transform: uppercase;
    color: #bf2328;
    text-align: center;
    padding: 20px 0;
    transition: all .1s linear;
}

.atendimento-drop .btn-contact:HOVER {
	background-color: #ba1400;
	color: #fff;
}

.custom {
	 padding: 5px 10px;
}

.tudo {
	width: 100%;
	margin-bottom: 25px;
}

.tudo-metade-1 {
	position:relative;
	width: 10%;
	height: 10px;
	float: left;
}
.tudo-metade-2 {
	position: relative;
	width: 60%;
	height: 10px;
	float: left;
}

</style>

<?php
/**
 * Top menu for store
 *
 * @see Olegnax_Megamenu_Block_Megamenu
 */

$menuHelper = $this->helper('olegnaxmegamenu');
if ( $menuHelper->getCfg('general/status') ) :

	$_menu = $this->getHtml('level-top', 'megamenu-dropdown');
	?>
	<?php if ($_menu): ?>
	<div class="nav-container olegnaxmegamenu icons-<?php echo Mage::helper('athlete')->getAppearanceCfg('navigation/sub_nav_icons'); ?>">
		<div class="nav-top-title"><div class="icon"><span></span><span></span><span></span></div><a href="#"><?php echo $this->__('Navigation Tool'); ?></a></div>
			<ul id="nav">
				<?php if ($menuHelper->getCfg('additional/home')) : ?>
					<li class="level0 level-top home-block">
						<a href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
					</li>
				<?php endif; ?>
				<?php echo $_menu; ?>
				<?php
				$customBlock = $menuHelper->getCfg('additional/custom_block_id');
				if ( !empty($customBlock) ) {
					$customBlock = Mage::getModel('cms/block')
						->setStoreId( Mage::app()->getStore()->getId() )
						->load($customBlock);
					if($customBlock->getIsActive()) {
						echo '
		            <li class="level0 level-top parent wide custom-block">
		                <a href="#" class="level-top">
		                    <span>'.$customBlock->getTitle().'</span>
		                </a>
		                <div class="megamenu-dropdown"><div class="std megamenu-block megamenu-block-top">'.$menuHelper->processCmsBlock($customBlock->getContent()).'</div></div>
		            </li>';
					}
				}
		
				
				$additionalBlock = $menuHelper->getCfg('additional/additional_block_id');
				if ( !empty($additionalBlock) ) {
					$additionalBlock = Mage::getModel('cms/block')
						->setStoreId( Mage::app()->getStore()->getId() )
						->load($additionalBlock);
					if($additionalBlock->getIsActive()) {
						echo $menuHelper->processCmsBlock($additionalBlock->getContent());
					}
				}
	
				?>
				<div class="atendimento"> 	
					<span class="atendimento"><?php echo $this->__('Attendance') ?></span> 
					<div class="atendimento-drop">
						<div class="text-contact">	
							<div class="tudo">					
								<p>
									<div class="tudo-metade-1"><i class="fa fa-question-circle-o" style="font-size: 25px;"></i></div>
									<div class="tudo-metade-2"><span><?php echo $this->__('Contact info1') ?></span></div>
								</p> 	
							</div>				
						</div> 	
						<div class="phone">
							<p class="custom">
								<div class="tudo">
									<div class="tudo-metade-1"><i class="fa fa-phone" style="font-size: 25px;"></i></div>					
									<div class="tudo-metade-2"><span class="phone-font"><?php echo $this->__('Number Phone') ?></span></br></div>
								</div>
								<small><?php echo $this->__('Contact info schedule') ?></small>
							</p>
							<div class="email"> 	
								<p class="custom">	
									<div class="tudo">
										<div class="tudo-metade-1"><i class="fa fa-envelope" style="font-size: 25px;"></i></div>								
										<div class="tudo-metade-2">
											<a href="mailto:<?php echo $this->__('Contact email') ?>" itemprop="email">
											<span style="font-size: 85%;"><?php echo $this->__('Contact email') ?></span>
											</a> 	
										</div>
									 </div>				
								</p>
							</div>
						</div> 	
						<a href="<?php echo $this->__('URL Contact us') ?>" class="btn-contact"><?php echo $this->__('Contact us') ?></a>
					</div>				
				</div>
			</ul>
	</div>
<?php endif ?>
<?php endif; //if ( $menuHelper->getCfg('general/status') ) : ?>