<div class="footer-subscribe">
	<div class="title"><?php echo $this->__('News By Email') ?></div>
	<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="footer-newsletter-validate-detail">
		<p><?php echo $this->__('Register your email for news and special offers') ?></p>
		<button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="btnAssinar"><?php echo $this->__('Subscribe') ?></button>
		<div class="input-box">
		<input type="email" name="email" id="footer-newsletter"
		       title="<?php echo $this->__('Sign up for our newsletter') ?>"
		       class="input-text required-entry validate-email"
		       value="<?php echo $this->__('Type your email here') ?>"
		       onfocus="if ( this.value == '<?php echo $this->__('Type your email here') ?>' ) { this.value = '' }"
		       onblur="if ( this.value == '' ) { this.value = '<?php echo $this->__('Type your email here') ?>' }"
			/>
		</div>
		<div class="clear"></div>
	</form>
	<script type="text/javascript">
		//<![CDATA[
		var newsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
		//]]>
	</script>
</div>