<?php
/**
 * Create account form template
 * 
 * @category    design
 * @package     base_default
 * @author      Clarion Magento Team
 */
?>
<?php
/**
 * edit account form template
 *
 * @var $this Mage_Customer_Block_form_edit
 */
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/prototype/jquery/jquery-3.1.0.min.js' ?>" ></script>


<div class="page-title">
    <h1><?php echo $this->__('Account Information') ?></h1>
</div>

<?php 
	$cpf = false; 
	$documentoValor = $this->escapeHtml($this->getCustomer()->getTaxvat());
	$tamanho =  strlen($documentoValor); 
	if($tamanho < 12) {
		$cpf = true;
	}
?>
	
<script>
	jQuery.noConflict();
	jQuery(function(){
		var tam = "<?php echo $tamanho; ?>";

		jQuery("#rg_personalizado").hide();
		jQuery('label[for="rg_personalizado"]').css('display', 'none');
		jQuery('.form-group5ajuste').css('display', 'none');

		jQuery("#ie_personalizado").hide();
		jQuery('label[for="ie_personalizado"]').css('display', 'none');
		
		if(tam < 12){
			jQuery("#ie_personalizado").hide();
			jQuery('label[for="ie_personalizado"]').css('display', 'none');
			
// 			jQuery("#idCorrente").removeClass('field form-group2 base-set-icon-secure');
// 			jQuery("#idCorrente").addClass('field form-group2 base-set-icon-secure');

			jQuery("#idPassword").removeClass('field form-group3 base-set-icon-secure');
// 			jQuery("#idPassword").addClass('field form-group3ajuste base-set-icon-secure');

			jQuery("#idPasswordConfirm").removeClass('field form-group4 base-set-icon-secure');
// 			jQuery("#idPasswordConfirm").addClass('field form-group4ajuste base-set-icon-secure');
			jQuery('.camposCNPJFirstName').css('display', 'none');
			return;
		}
	
		if(tam > 12){
			jQuery("#rg_personalizado").hide();
			jQuery('label[for="rg_personalizado"]').css('display', 'none');
			jQuery(".form-group5ajuste").css('top', '20px');
			jQuery('.camposCPFFirstName').css('display', 'none');
		}
	});

</script>

<style>
.header-container  {
	position: initial !important;
}
</style>
<script type="text/javascript">
jQuery.noConflict();
jQuery(function(){
		jQuery(".footerPadrao").css('display', 'none');
		jQuery(".footerService").css('display', 'none');
		jQuery(".footerFormaPagamento").css('display', 'block');
		jQuery("div").removeClass("header-switch");
		jQuery('label[for="month"]').css('margin-top', '-20px');
		
});
</script>

<style>
.base-set-icon-email:before {
    content: "\f0e0";
    font: normal normal normal 14px/2 FontAwesome;
}

.base-set-icon-secure:before {
    content: "\f023";
    font: normal normal normal 17px/2 FontAwesome;
}

.base-set-icon-card:before {
    content: "\f09d";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group5 base-set-icon-"]:before {
    position: absolute;
    margin-left: 10px;
    margin-top: 38px;
}

.form-group5 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group5 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
}

[class*=" form-group2 base-set-icon-"]:before {
    position: absolute;
    margin-top: 23px;
	left: 73px;
}

[class*=" -form-group2ajuste base-set-icon"]:before {
    position: absolute;
    margin-left: -55px;
    margin-top: 22px;
}

[class*=" form-group3 base-set-icon-"]:before {
    position: absolute;
   	margin-top: 25px;
    margin-left: 10px;
}

[class*=" form-group3ajuste base-set-icon-"]:before {
    position: absolute;
    left: 73px;
    margin-top: 22px;
}

[class*=" form-group4 base-set-icon-"]:before {
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}

[class*=" form-group4ajuste base-set-icon-"]:before {
    position: absolute;
    margin-top: 22px;
    left: 73px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group3 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group4ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group2ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group3ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

.paddingIncial input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group2 base-set-icon-secure-"]:before {
    position: absolute;
    margin-left: -55px;
     margin-top: 22px;
}

</style>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" autocomplete="off">
	<div class="divFundo" style="width: 50%;">
    <div class="divBlocos" >
        <?php echo $this->getBlockHtml('formkey')?>
        <ul class="form-list">
            <li class="fields">
                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getCustomer())->toHtml() ?>
            </li>
            <li>
               <label for="email" class="label-input100 required"><em>*</em><?php echo $this->__('Email Address') ?></label>
               <div class="input-box">
                    <input type="text" autocomplete="off" style="width: 100%;" maxlength="150" name="email" id="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input100 input-text required-entry validate-email" />
                </div>
            </li>
            
        <?php if($cpf == TRUE) : ?>
        	<br/>
	        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
	        <?php if ($_dob->isEnabled()): ?>
	            <li><?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?></li>
	        <?php endif ?>
	        
        <?php endif; ?>	
        
        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <li><?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?></li>
        <?php endif ?>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <li><?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?></li>
        <?php endif ?>
            
        <!-- custom attributes -->
        
        <div class="input-box form-group5ajuste form-group5 base-set-icon-card" >
		       	<input type="hidden" />
		</div>
		
        <?php $attributeCollection = $this->helper('clarion_customerattribute/customerattribute')->getUserDefinedAttribures(); ?>
        <?php if($attributeCollection->count() > 0) : ?>
      
		       
         <div>
             <!-- For all user defined attributes -->
             <?php foreach($attributeCollection as $attribute):?>
                <!-- For all user defined attributes which are set for customer edit account -->
                <?php if($this->helper('clarion_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit($attribute->getAttributeCode())):?>
             
                    <?php $frontEndLabel = $attribute->getStoreLabel($this->helper('clarion_customerattribute/customerattribute')->getStoreId()); ?>
                    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '' ?>
                    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
                    <?php $fieldValue = $this->escapeHtml($this->getCustomer()->$getAttributeCodeFunction()); ?>
                        <li class="fields">
                           <div class="field paddingIncial">
                               <label for="<?php echo $attribute->getAttributeCode(); ?>" <?php if($attribute->getIsRequired()):?>class="required"><em>*</em> <?php  else :?>><?php endif;?><?php echo $this->__($frontEndLabel) ?></label>
                               <div class="input-box">
                               
                                   <?php if($attribute->getFrontendInput()== 'text'):?> 
                                   		<?php // if($idgrupo == 1):  ?>
                                       		<input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-text <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
                                 	 		<?php //elseif($idgrupo == 0):  ?>
                                   			<?php //echo $fieldValue; ?>
                                   		<?php //endif; ?>		
                                   <?php endif; ?>		
                                   
                                   <?php if($attribute->getFrontendInput()== 'textarea'):?>
                                       <textarea class=" textarea <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" cols="15" rows="2" title="<?php echo $this->__($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>"><?php echo $fieldValue; ?></textarea>
                                     
                                   <?php elseif($attribute->getFrontendInput()== 'date'):?>
                                    <input type="text" style="width:110px !important;" class=" input-text <?php echo $fieldRequiredClass; ?> " title="<?php echo $this->__($frontEndLabel); ?>" value="<?php echo $this->helper('clarion_customerattribute/customerattribute')->getFormattedDate($fieldValue); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>">
                                    <img style="" title="Select Date" id="<?php echo $attribute->getAttributeCode(); ?>_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl('images/clarion/customerattribute/grid-cal.gif') ?>">
                                        <script type="text/javascript">
                                        //&lt;![CDATA[
                                            Calendar.setup({
                                                inputField: "<?php echo $attribute->getAttributeCode(); ?>",
                                                ifFormat: "%m-%d-%Y",
                                                showsTime: false,
                                                button: "<?php echo $attribute->getAttributeCode(); ?>_trig",
                                                align: "Bl",
                                                singleClick : true
                                            });
                                        //]]&gt;
                                        </script>
                                     
                                    <?php elseif($attribute->getFrontendInput()== 'boolean'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                    <?php elseif($attribute->getFrontendInput()== 'select'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                    <?php elseif($attribute->getFrontendInput()== 'multiselect'):?>
                                    <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo $this->__($frontEndLabel); ?>"  class=" multiselect <?php if ($attribute->getIsRequired()):?> validate-select required-entry<?php endif; ?> ">
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if (in_array($option['value'], explode(',', $fieldValue))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                   <?php endif;?>
                               </div>
                           </div>
                       </li>
	              <?php endif;?>
	             <?php endforeach;?>
	         </div>
	    <?php endif; ?>
	    
	     <li class="control">
                <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" /><label style="text-transform: uppercase;font-size: 14px;" for="change_password"><?php echo $this->__('Change Password') ?></label>
         </li>
	    
        </ul>
    </div>
    <div class="fieldset" style="display:none;">
        <ul class="form-list">
            <li>
                <div id="idCorrente" class="field">
	                <label for="current_password" class="label-input100 required"><em>*</em><?php echo $this->__('Current Password') ?></label>
                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                    <input type="hidden" class="input-text no-display" name="dummy" id="dummy" />
                    <input type="password" autocomplete="off" title="<?php echo $this->__('Current Password') ?>" class="input-text" name="current_password" id="current_password" />
                </div>
            </li>
            <li>
                <div id="idPassword" class="field form-group3 base-set-icon-secure">
                    <label for="password" class="required label-input100"><em>*</em><?php echo $this->__('New Password') ?></label>
                    <input type="password" autocomplete="off" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password" name="password" id="password" />
                	<div style="padding: 10px;" />
                </div>
             </li>
           	 <li>
                <div id="idPasswordConfirm" class="field">
                    <label for="confirmation" class="required label-input100"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
                    <input type="password" autocomplete="off" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
                	<div style="padding: 10px;" />
                </div>
            </li>
        </ul>
    </div>
   </div>
    
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    	<button data-action="save-customer-address" type="submit" title="<?php echo $this->__('Save') ?>" class="btnContinuar"><span><span><?php echo $this->__('Save') ?></span></span></button>
    	
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function setPasswordForm(arg){
        if(arg){
            $('current_password').up(3).show();
            $('current_password').addClassName('required-entry');
            $('password').addClassName('required-entry');
            $('confirmation').addClassName('required-entry');

        }else{
            $('current_password').up(3).hide();
            $('current_password').removeClassName('required-entry');
            $('password').removeClassName('required-entry');
            $('confirmation').removeClassName('required-entry');
        }
    }

    <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
    <?php endif; ?>
//]]>
</script>
