<style>
.loginPoints a {
	color: #ba1400 !important;
	font-weight: bold;
}

.loginPoints a:HOVER {
	color: #f61a00 !important;
	font-weight: bold;
}

#mw_reward_ok{
	position: absolute;
	margin-left: 135px !important;
	background-color: #939090;
	padding: 0px 0px 0px 0px;
	width: 35px;
	height: 35px;
	margin-right: -18px !important;
	margin-top: 17px !important;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#mw_reward_ok:before {
	content: "\f00c";
    font: normal normal normal 50px/0.9 FontAwesome;
    color: #fff;
    position: relative;
    font-size: 14px;
    bottom: -9px;
    left: 10px;
}


</style>

<?php $quote = Mage::getSingleton('checkout/session')->getQuote();
	  $store_id = Mage::app()->getStore()->getId();
	  $spend_point = $this->getMaxPointsToCheckout();
	  $earn_rewardpoint = (int)$quote->getEarnRewardpoint();
	  $reward_icon = Mage::helper('rewardpoints/data')->getRewardIconHtml($store_id);
	  
$check = version_compare(Mage::getVersion(),'1.4.0.1','>=');?>
<div id="rewardpoints_box">
<form id="rewardpoints-form" action="<?php echo $this->getUrl('rewardpoints/checkout/rewardPointsPost', array('_forced_secure' => $this->getRequest()->isSecure())) ?>"  onsubmit="return false;" method="post">
    <div class="discount discount-codes box" style="background: none repeat scroll 0 0 #FAFAEC;">
        <?php if($check):?><h2 style="background-image: none; padding: 0px 0px 5px 0px;"><?php echo $reward_icon.$this->__('Reward points') ?></h2><?php else:?><h4 style="background-image: : none; padding: 0px;"><?php echo $reward_icon.$this->__('Reward points') ?></h4><?php endif;?>
        <div class="discount-form">
        	<ul id="mw_reward_accordion">
		      <li  class="mw_reward_section">
		     <?php /*?> <a href="#" class="mw_reward_title" style="margin-left:10px;display: block;padding: 0px 5px 5px 10px; text-decoration: none;" <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> ><span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.35;"><?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPoints($earn_rewardpoint,$store_id))?></span><a><?php echo $this->__('View details');?></a><a href="#" class="mw_reward_title" style="margin-left:10px;display: block;padding: 0px 5px 5px 10px; text-decoration: none;" <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> ><span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.35;"><?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPoints($earn_rewardpoint,$store_id))?></span><a><?php echo $this->__('View details');?></a><?php */?>
		        <div <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> ><span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.5;"><?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPointsCartText($earn_rewardpoint,$store_id)." ")?><a id = "mw_view" class="mw_reward_title" style="color: #ba1400 !important;font-weight: bold"href="#"><?php echo $this->__('(Hide)');?></a></span></div>
		        <div  id="reward-points-rules" class="mw_reward_toggle">
		        	<?php foreach($this->getRewardPointsRule() as $rule):?>
		        	<div style="width:100%;font-size: 11px; margin: 0 0 5px 0; overflow: hidden;">
		        		<div style="float:left;"><?php echo $this->__('<span style="float: left;">+</span> <div style="margin: 0px 0px 0px 10px;">%s %s</div>',($rule['qty']>1?$rule['qty']." x":""),$rule['message']);?></div>
		        	</div>
		        	<?php endforeach;?>
		        </div>
		      </li>
		    </ul>
		   
			
        	<?php $rate = $this->getPointPerMoney($store_id);?>
        	<div style="width:100%; padding-top: 5px;">
        	<?php if($this->_getCustomer()->getId()):?>
	        	<div style="float:left;width:100%; border-top: 1px dashed;"">
	        		<div style="margin-top:5px;">
	        			<?php echo $this->__("You have <b>%s</b> available <br>(<b>%s</b> = <b>%s</b>)",Mage::helper('rewardpoints')->formatPointsCartText($this->getCurrentRewardPoints(),$store_id),Mage::helper('rewardpoints')->formatPoints($rate[0],$store_id), $this->formatMoney($rate[1]))?>
	        		</div>
	        		<?php /* ?><label><?php echo $this->__("Slide to specify number of points to redeem")?></label> <?php */?>
	        		
		        		<div id="mw_reward_slider_contaner" class="mw_reward_slider_contaner" style="width:215px; display: none;">
		        			<div id="mw_reward_decr_handle"></div>
		        			<div id="mw_reward_incr_handle"></div>
		        			<div id="mw_slider" class="mw_reward_select" ></div>
		        		</div>
		        		<div class="componentePoints">
			        		<div id="mw_reward_ok"></div>
			        		<div style="padding: 15px 0 5px 0;">
			        			<label for="mw_amount"><?php echo $this->__("Points to redeem")?> </label>
			        			<input style="color:#f6931f; width:50px; text-align:center;font-size: 13px;font-weight: bold;" type="text" name="mw_amount" id="mw_amount" /> 
			        			<label id="mw_label_amount" style="color:#f6931f; font-weight:bold;display:none;"></label>
			        		</div>
			        		<div ><input type="checkbox" name="mw_use_max_points" id="mw_use_max_points" />
				        		<label for="mw_use_max_points" style="padding-left: 5px;">
				        			<?php echo $this->__("Use maximum (<b>%s</b>)",Mage::helper('rewardpoints')->formatPointsCartText($spend_point,$store_id));?>
				        		</label>
			        		</div>
							<div style="font-size:0.8em;"><?php echo $this->__('Reward points note') ?></div>
						</div>
				</div>
		         <?php else:?>
		         <div class="loginPoints" style="text-align: center; margin-top:10px; border-top: 1px dashed;padding-top: 10px;"><span class=""><?php echo $this->__("Please <a href='%s'>LOGIN</a> to use reward points", Mage::getUrl('customer/account/login',array('mw_re_login' => 1)))?></span></div>
	            <?php endif;?>
            </div>
            <div style="clear:both;"></div>
		</div>
	</div>
</form>
</div>
<?php 
$point = $quote->getMwRewardpoint();
$step = Mage::helper('rewardpoints/data')->getPointStepConfig($store_id);
$min = (int)Mage::helper('rewardpoints/data')->getMinPointCheckoutStore($store_id);

?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mw_js/jquery.js') ?>"></script>  
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mw_rewardpoints/accordion.js') ?>"></script>  
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mw_rewardpoints/mw.reward.slider.js') ?>"></script> 
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mw_rewardpoints/mw_popup.js') ?>"></script>  
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mw_rewardpoints/js.js') ?>"></script> 

<script>
jQuery.noConflict();
jQuery(document).ready(function() {
        accordion = new Accordion('mw_reward_accordion', { startHidden: false });
        var time = 10;
		var time_new = 3000;
		var timer;

		var maxPoints = <?php echo $this->getMaxPointsToCheckout()?>;
		if(maxPoints == 0) {
			jQuery('.componentePoints').css('display', 'none');
		}
		
		var mw_sider = new MwRewardSlider(
		        'mw_amount',
		        'mw_reward_slider_contaner',
		        'mw_slider',
		        'mw_reward_decr_handle',
		        'mw_reward_incr_handle',
		        <?php echo $min?>,
		        <?php echo $this->getMaxPointsToCheckout()?>,
		        <?php echo $step?>,
		       'mw_label_amount',
		       'mw_use_max_points'   
		        
		    );
		mw_sider.setPointChange(<?php echo $point?>);
		mw_sider.changeRewardPointCallback = runTimer;

		jQuery('#mw_use_max_points').click(function(){
			if(this.checked){
				mw_sider.setPointChange(<?php echo $this->getMaxPointsToCheckout()?>);
			} else {
				mw_sider.setPointChange(0);
			}
			clearTimeout(timer);
			setTimeout(function(){ updateRewardPoints(); }, time_new);
		});


// 		jQuery('#mw_amount').blur(function() {
// 			jQuery('#mw_reward_ok').css('opacity', '1');
// 		    jQuery('#mw_reward_ok').attr("disabled", false);
// 		    jQuery('#mw_reward_ok').css('pointer-events', 'auto');
// 		});

		
		function runTimer()
		{
			clearTimeout(timer);
			setTimeout(function(){ updateRewardPoints(); }, time);
		};


		jQuery('#mw_reward_ok').live('click', function(event) {
			var mw_amount = jQuery('#mw_amount').val();
			clearTimeout(timer);
			mw_sider.setPointChange(mw_amount);
			setTimeout(function(){ updateRewardPoints(); }, time_new);
		});
		
		function updateRewardPoints()
		{
			var amount = jQuery('#mw_amount').val();
			amount = parseInt(amount/<?php echo $step?>) * <?php echo $step?>;
			if(amount < <?php echo $min?>) amount = 0;

			jQuery('#shopping-cart-totals-contaner').css('display', 'none');
			jQuery('#shopping-cart-totals-please-wait').css('display', 'block');
			jQuery('#mw_reward_incr_handle').attr("disabled", true);
			jQuery('#mw_reward_incr_handle').css('opacity', '0.5');
			jQuery('#mw_reward_incr_handle').css('pointer-events', 'none');

			jQuery('#mw_reward_decr_handle').attr("disabled", true);
			jQuery('#mw_reward_decr_handle').css('opacity', '0.5');
			jQuery('#mw_reward_decr_handle').css('pointer-events', 'none');

			jQuery('#mw_slider').attr("disabled", true);
			jQuery('#mw_slider').css('opacity', '0.5');
			jQuery('#mw_slider').css('pointer-events', 'none');

			jQuery('#mw_reward_slider_contaner').attr("disabled", true);
			jQuery('#mw_reward_slider_contaner').css('opacity', '0.5');
			jQuery('#mw_reward_slider_contaner').css('pointer-events', 'none');

			jQuery('#mw_use_max_points').css('opacity', '0.5');
			jQuery('#mw_use_max_points').attr('disabled','disabled')
			jQuery('#mw_use_max_points').css('pointer-events', 'none');

			jQuery('#mw_amount').attr("disabled", true);
			jQuery('#mw_amount').css('opacity', '0.5');
			jQuery('#mw_amount').css('pointer-events', 'none');

	 		jQuery('#mw_reward_ok').attr("disabled", true);
			jQuery('#mw_reward_ok').css('opacity', '0.5');
	 	    jQuery('#mw_reward_ok').css('pointer-events', 'none');


			new Ajax.Request("<?php echo Mage::getUrl('rewardpoints/checkout/rewardpointspost',array('_secure'=>Mage::app()->getFrontController()->getRequest()->isSecure()))?>", {
				   method: 'post',
 				   postBody: "rewardpoints="+jQuery('#mw_amount').val(),
				   onSuccess: function(data) {
					   jQuery('#shopping-cart-totals-contaner').html(data.responseText); 
					   jQuery('#shopping-cart-totals-contaner').css('display', 'block');
					   jQuery('#shopping-cart-totals-please-wait').css('display', 'none');
					   
					   jQuery('#mw_reward_incr_handle').css('opacity', '1');
					   jQuery('#mw_reward_incr_handle').attr("disabled", false);
					   jQuery('#mw_reward_incr_handle').css('pointer-events', 'auto');

					   jQuery('#mw_reward_decr_handle').css('opacity', '1');
					   jQuery('#mw_reward_decr_handle').attr("disabled", false);
					   jQuery('#mw_reward_decr_handle').css('pointer-events', 'auto');

					   jQuery('#mw_slider').css('opacity', '1');
					   jQuery('#mw_slider').attr("disabled", false);
					   jQuery('#mw_slider').css('pointer-events', 'auto');

					   jQuery('#mw_reward_slider_contaner').css('opacity', '1');
					   jQuery('#mw_reward_slider_contaner').attr("disabled", false);
					   jQuery('#mw_reward_slider_contaner').css('pointer-events', 'auto');

					   jQuery('#mw_use_max_points').css('opacity', '1');
					   jQuery('#mw_use_max_points').removeAttr('disabled','disabled');
					   jQuery('#mw_use_max_points').css('pointer-events', 'auto');

					   jQuery('#mw_amount').css('opacity', '1');
					   jQuery('#mw_amount').attr("disabled", false);
					   jQuery('#mw_amount').css('pointer-events', 'auto');

					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('opacity', '1');
					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').attr("disabled", false);
					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('pointer-events', 'auto');

					   jQuery('.btnPadraoEdicaoCinza').css('opacity', '1');
					   jQuery('.btnPadraoEdicaoCinza').attr("disabled", false);
					   jQuery('.btnPadraoEdicaoCinza').css('pointer-events', 'auto');

					   jQuery('#mw_reward_ok').css('opacity', '1');
			 		   jQuery('#mw_reward_ok').attr("disabled", false);
			 		   jQuery('#mw_reward_ok').css('pointer-events', 'auto');

					}
			});
		}
    });
</script>

