<div class="account-login">
    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
    <form action="<?php echo $this->getUrl('ticketsystem/index/save', array("_secure" => true)); ?>" id="ticketForm" method="post" enctype="multipart/form-data">
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Create New Support Ticket') ?></h2>
            <ul class="form-list">
                <?php if (!Mage::getSingleton("customer/session")->isLoggedIn()): ?>
                    <li>
                        <div class="field">
                            <label for="name" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Name') ?></label>
                            <div class="input-box">
                                <input name="customer_name" id="name" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Name') ?>"   type="text" class="input-text required-entry" />
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="field">
                            <label for="email" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="customer_email" id="mail" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Email') ?>"   type="text" class="input-text required-entry" />
                            </div>
                        </div>
                    </li>      
                <?php endif; ?>    
                <li>
                    <div class="field">
                        <label for="department_id" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Department') ?></label>
                        <div class="input-box">
                            <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Department') ?>" name="department_id" id="department_id">
                                <option value=""><?php echo $this->__('Please Select Department'); ?></option>
                                <?php
                                $department = Mage::getModel('emipro_ticketsystem/ticketdepartment')->getCollection();
                                foreach ($department as $value) {
                                    if ($value["status"] != 0):
                                        ?>
                                        <option value=<?php echo $value["department_id"]; ?>><?php echo $this->__($value["department_name"]); ?></option>
                                        <?php
                                    endif;
                                }
                                ?>	
                            </select>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label for="priority_id" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Priority') ?></label>
                        <div class="input-box">
                            <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Priority') ?>" name="priority_id" id="priority_id">
                                <option value=""><?php echo $this->__('Please Select Priority'); ?></option>
                                <?php
                                $priority = Mage::getModel('emipro_ticketsystem/ticketpriority')->getCollection();
                                foreach ($priority as $value) {
                                    ?>
                                    <option value=<?php echo $value["priority_id"]; ?>><?php echo $this->__($value["priority"]); ?></option>
                                    <?php
                                }
                                ?>

                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label for="orderid" ><?php echo Mage::helper('emipro_ticketsystem')->__('Order Id') ?></label>
                        <div class="input-box">
                            <input name="orderid" id="orderid" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Order Id') ?>"   type="text"  class="input-text" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="field">
                        <label for="subject" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?></label>
                        <div class="input-box">
                            <input name="subject" id="subject" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?>"  class="input-text required-entry" type="text" />
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="message" class="required"><em>*</em><?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?></label>
                    <div class="input-box">
                        <textarea name="message" id="message" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>
                </li>


                <li>
                    <div class="field">
                        <label for="file" ><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Attachment') ?></label>
                        <div class="input-box">
                            <input type="file" name="file" id="file" class="file">
                        </div>
                    </div>
                </li> 
                <li>

                    <input type="hidden" name="customer_id" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getId(); ?>" id="customer_id">
                </li> 

            </ul>


            <div class="buttons-set">

                <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getUrl('ticketsystem/index/tickethistory', array("_secure" => true))) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>   
                <button type="submit" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('emipro_ticketsystem')->__('Submit') ?></span></span></button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
//<![CDATA[
    var ticketForm = new VarienForm('ticketForm', true);
    Validation.add('file', 'Allow Maximum attachment size 4MB', function(v, elm) {
        var maxSize = 1024 * 1024 * 4;
        if (navigator.appName == "Microsoft Internet Explorer")
        {
            if (elm.value)
            {
                var oas = new ActiveXObject("Scripting.FileSystemObject");
                var e = oas.getFile(elm.value);
                var size = e.size;
            }
        }
        else
        {
            if (elm.files[0] != undefined)
            {
                size = elm.files[0].size;
            }
        }
        if (size != undefined && size > maxSize)
        {

            return false;
        }
        return true;
    });

//]]>
</script>


