<?php
$mappingAttributes = $this->getSubMappingAttributeOptions();
if (!$mappingAttributes) {
    return;
}
?>

<table>
    <tbody>
    <?php foreach ($this->getSubMappingAttributeOptions() as $mappingItem) { ?>
        <tr>
            <td>
                <?php echo $this->__($mappingItem['skyhub_label']) ?>
            </td>
            <td>
                <?php
                $isSelectAttribute = $this->getMagentoAttribute()->usesSource();
                if ($isSelectAttribute): ?>
                    <select name="attributes_mapping_options[<?php echo $mappingItem['skyhub_code'] ?>]">
                        <?php foreach ($this->getMagentoAttributeOptions() as $magentoItem) { ?>
                            <option value="<?php echo $magentoItem['value'] ?>" <?php echo($magentoItem['value'] == $mappingItem['magento_value'] ? 'selected' : '') ?>><?php echo $this->__($magentoItem['label']) ?></option>
                        <? } ?>
                    </select>
                <?php else: ?>
                    <input type="text" name="attributes_mapping_options[<?php echo $mappingItem['skyhub_code'] ?>]"
                           value="<?php echo $mappingItem['magento_value'] ?>"/>
                <?php endif; ?>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>