<?php
$_productCollection=$this->getItems();

$_helper = $this->helper('catalog/output');
$athleteHelper = $this->helper('athlete');
$athleteImgHelper = $this->helper('athlete/image');
$imgX = $athleteImgHelper->getListingWidth();
$imgY = $athleteImgHelper->calculateHeight($imgX);
$slider_id = uniqid('athlete_');
$blockClass = '';
$blockTitleSize = $this->getBlockTitleSize();
if ( $this->getBlockTitleSize() == 'big' ) {
	$blockClass = 'product-slider-container-big';
}
$blockClass .= ' product-columns-' . $this->getProductColumns();
?>

<style>
.owl-carousel .owl-item {
	width: 290px !important;
}

</style>

<?php if($this->getItemCount()): ?>
	<div class="product-slider-container category-products <?php echo $blockClass ?>">
		<div class="clearfix title-container">
			<h3><?php echo $this->__('Based on your selection, you may be interested in the following items:') ?></h3>
		</div>
		<div class="slider-container">
		<div class="divBlocos">
			<ul style="margin-right: 50px;" id="slider_<?php echo $slider_id; ?>" class="carousel-slider products-grid clearfix" data-items="<?php echo Mage::helper('athlete/layout')->getSliderItems($this->getProductColumns()) ?>" >
				<?php foreach ($_productCollection as $_product): ?>
					<?php
					$liClass = '';
					if ( $this->helper('athlete')->isNew($_product) ) {
						$liClass = ' new-product';
					}
					if ( $this->helper('athlete')->isOnSale($_product) ) {
						$liClass = ' sale-product';
					}
					?>
					<li class="item <?php echo $liClass ?> padraoCarrossel" style="text-align: center;">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
						<div class="item-wrap">
							<?php echo $this->helper('athlete')->getLabel($_product);  ?>
							<?php echo $athleteImgHelper->getAdditionalImage($_product, $imgX, $imgY ); ?>
							<?php echo '<img class="regular_img" src="'. $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX,$imgY)
								.'" data-srcX2="'. $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX*2, $imgY*2)
								.'" width="'.$imgX.'" height="'.$imgY.'" alt="'. $this->stripTags($this->getImageLabel
									($_product, 'small_image'), null, true) .'" />'; ?>
						<div class="product-hover">
							<?php if( $athleteHelper->getCfg('listing/grid_name') ): ?>
								<h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2><br/>
							<?php endif; ?>
							<?php if( $athleteHelper->getCfg('listing/grid_price') ): ?>
								<?php echo $this->getPriceHtml($_product, true) ?>
							<?php endif; ?>
							
							 <!-- Parcelamento -->
						    <?php if($_product->getTypeId() == 'simple' || $_product->getTypeId() == 'configurable'): ?>
								<?php
								echo '<div class="formatacaoColor2">';
										$desconto = 4;
										$indice = 3;
										$value = ceil($_product->getFinalPrice() / $indice * 100) / 100;
										$value = $value - ($value * $desconto ) / 100;
										$price = Mage::helper('core')->currency($value, true, false);
										echo '<span class="colorPagamento">'. $desconto . '% OFF ' .sprintf('%dx de %s', $indice, $price). '</span><br/>';
								echo '</div>'; ?>
							<?php endif; ?> 
							
						    <?php echo Mage::helper('core/mwrewardpoints')->pointsProductListRewardPoints($_product); ?>
						    
						</div>
						<div class="name">
							<?php if( $athleteHelper->getCfg('listing/hover_rating') && $_product->getRatingSummary() ): ?>
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php endif; ?>

							<div class="actions">
								<?php if( $athleteHelper->getCfg('listing/hover_actions') && !$athleteHelper->getCfg('listing/grid_cart') ): ?>
									<ul class="add-to-links">
										<?php if($_product->isSaleable()): ?>
											<!--  <li><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart icon-<?php echo $athleteHelper->getCfg('product_listing/action_btn_icons', 'athlete_appearance'); ?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></li>  -->
										<?php else: ?>
											<li><span class="availability out-of-stock"><?php echo $this->__('Out of stock') ?></span></li>
										<?php endif; ?>
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
											<li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist icon-<?php echo $athleteHelper->getCfg('product_listing/action_btn_icons', 'athlete_appearance'); ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
										<?php endif; ?>
										<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
											<li><span class="separator">|</span> <a title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $_compareUrl ?>" class="link-compare icon-<?php echo $athleteHelper->getCfg('product_listing/action_btn_icons', 'athlete_appearance'); ?>"><?php echo $this->__('Add to Compare') ?></a></li>
										<?php endif; ?>
									</ul>
								<?php endif; ?>
							</div>
						</div>

							<?php if( $athleteHelper->getCfg('listing/grid_cart') ): ?>
								<div class="btn-cart-container clearfix">
									<?php if($_product->isSaleable()): ?>
										<!-- <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btnAdicionar" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>  -->
									<?php else: ?>
										<span class="availability out-of-stock"><?php echo $this->__('Out of stock') ?></span>
									<?php endif; ?>
								</div>
							<?php endif; ?>

						</div>
						<div  class="btnProdutoCross" ><?php echo $this->__('Add to Cart') ?></div> 
						</a>
					</li>
				<?php endforeach ?>
			</ul>
			</div>
		</div>
	</div>
<?php endif; ?>