<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
$athleteHelper = $this->helper('athlete');
$_cartQty = $this->getSummaryCount(); if ( is_null($_cartQty) ) $_cartQty = 0;
?>

<!-- cart BOF -->
<div class="header-switch header-cart">
	<a class="header-switch-trigger" href="<?php echo $this->getUrl('checkout/cart') ?>">
		<?php echo '<span class="labelCarrinho">'.$this->__('My Cart Item') . '</span><span class="labelCarrinhoFonte" >' . $_cartQty . '</span>'; ?>
		<div>
			<span style="margin-left: 50px;" class="label labelSubtotal">
				<?php echo $this->__('Subtotal:') ?>&nbsp<?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
			</span>
		</div>
	</a>
	<div class="header-dropdown">
		<?php
// 		$promo = $this->getChildHtml('athlete_cart_promotion');
// 		if ( !empty($promo) ) {
// 			echo '<div class="cart-promotion">'.$promo.'</div>';
// 		}
// 		?>
		<?php $_items = $this->getRecentItems() ?>
		<?php if(count($_items)): ?>
			<p class="block-subtitle text-recently titulo_cart"><?php echo $this->__('Recently added item(s)') ?></p>
			<ol id="cart-sidebar" class="mini-products-list scrollCart" >
				<?php foreach($_items as $_item): ?>
					<?php echo $this->getItemHtml($_item) ?>
				<?php endforeach; ?>
			</ol>
			<div class="subtotal">
				<?php if ($this->canApplyMsrp()): ?>
					<span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
				<?php else: ?>
					<span class="label"><?php echo $this->__('Total:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
					<?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
						<br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
					<?php endif; ?>
				<?php endif; ?>
			</div>
			<div class="buttons clearfix">
				<?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
				<button type="button" title="<?php echo $this->__('Checkout') ?>" class="has-spinner btnFinalizarPequeno" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
				<?php endif ?>
				<button type="button" title="<?php echo $this->__('View Cart Product') ?>" class="has-spinner btnPadraoComumCinzaMedio" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><span><span><?php echo $this->__('View Cart Product') ?></span></span></button>
			</div>
		<?php else: ?>
			<p class="a-center"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
		<?php endif ?>
	</div>
</div>
<!-- cart EOF -->