<?php
/**
 * Shipping Estimate extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_ProductPageShipping
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */

/**
 * Estimate shipping form
 *
 */
/* @var $this EcomDev_ProductPageShipping_Block_Estimate_Form */
?>

<style>
.block {
        border-top-color: #4a4a4a !important;
}
</style>

<?php if ($this->isEnabled()): ?>
<div class="block block-shipping-estimate estimateProduct">
 		<div class="block-title">
 			<strong><span style="color: #4a4a4a;font-size: 16px;"><?php echo $this->__('Simulate Shipping') ?></span></strong>
 		</div>
        <div style="font-size:0.8em;"><?php echo $this->__('Observance freight') ?></div>
        <p>
    <div class="block-content">
    <ul class="shipping-estimation-form" id="shipping-estimation-form">
        <?php if ($this->isFieldVisible('country')): ?>
            <li class="item">
                <label for="estimate_country" class="required"><em>*</em><?php echo Mage::helper('ecomdev_productpageshipping')->__('Country') ?></label>
                <div class="input-box">
                    <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect(
                            ($this->getFieldValue('country') ? $this->getFieldValue('country') : $this->getConfig()->getDefaultCountry()),
                            'estimate[country_id]',
                            'estimate_country'
                        );
                    ?>
                </div>
            </li>
        <?php else: ?>
            <input type="hidden" id="estimate_country" name="estimate[country_id]" value="<?php echo $this->htmlEscape($this->getConfig()->getDefaultCountry())?>" />
        <?php endif; ?>
        <?php if ($this->isFieldVisible('region')): ?>
            <li class="item">
                <label for="estimate_region_id"<?php if ($this->isFieldRequired('region')):?> class="required" <?php endif;?>><?php if ($this->isFieldRequired('region')):?><em>*</em><?php endif;?><?php echo $this->__('State/Province') ?></label>
                <div class="input-box">
                    <select id="estimate_region_id" name="estimate[region_id]" title="<?php echo Mage::helper('ecomdev_productpageshipping')->__('State/Province') ?>" style="display:none;"<?php echo ($this->isFieldRequired('region') ? ' class="validate-select"' : '') ?>>
                        <option value=""><?php echo  Mage::helper('ecomdev_productpageshipping')->__('Please select an option') ?></option>
                    </select>
                   <script type="text/javascript">
                   //<![CDATA[
                       $('estimate_region_id').setAttribute('defaultValue',  '<?php echo $this->jsQuoteEscape($this->getFieldValue('region_id')); ?>');
                   //]]>
                   </script>
                   <input type="text" id="estimate_region" name="estimate[region]" value="<?php echo $this->htmlEscape($this->getFieldValue('region')) ?>"  title="<?php echo  Mage::helper('ecomdev_productpageshipping')->__('State/Province') ?>" class="input-text" style="display:none;" />
               </div>
            </li>
            <script type="text/javascript">
            //<![CDATA[
                new RegionUpdater('estimate_country', 'estimate_region', 'estimate_region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
            //]]>
            </script>
        <?php endif; ?>
        <?php if($this->isFieldVisible('city')): ?>
            <li class="item">
                <label for="city"<?php if ($this->isFieldRequired('city')):?> class="required" <?php endif;?>><?php if ($this->isFieldRequired('city')):?><em>*</em><?php endif;?><?php echo  Mage::helper('ecomdev_productpageshipping')->__('City') ?></label>
                <div class="input-box">
                    <input class="input-text<?php if ($this->isFieldRequired('city')):?> required-entry<?php endif;?>" id="estimate_city" type="text" name="estimate[city]" value="<?php echo $this->htmlEscape($this->getFieldValue('city')) ?>" />
                </div>
            </li>
        <?php endif; ?>
        <?php if ($this->isFieldVisible('postcode')): ?>
            <li class="expand" style="width: 40%;">
                	<input placeholder="CEP"  autocomplete="off" maxlength="8" size="8"  class="input100 input-text validate-postcode" type="tel" id="estimate_postcode" name="estimate[postcode]" value="<?php echo $this->htmlEscape($this->getFieldValue('postcode')) ?>" />
            		<div class="border"></div>
            </li>
       <?php endif; ?>
       <?php if ($this->isFieldVisible('coupon_code')): ?>
            <li class="item">
                <label for="estimate_coupon_code"<?php if ($this->isFieldRequired('coupon_code')):?> class="required" <?php endif;?>><?php if ($this->isFieldRequired('coupon_code')):?><em>*</em><?php endif;?><?php echo Mage::helper('ecomdev_productpageshipping')->__('Coupon Code') ?></label>
                <div class="input-box">
                    <input class="input-text <?php if ($this->isFieldRequired('coupon_code')):?> required-entry<?php endif;?>" type="text" id="estimate_coupon_code" name="estimate[coupon_code]" value="<?php echo $this->htmlEscape($this->getFieldValue('coupon_code')) ?>" />
                </div>
            </li>
       <?php endif; ?>
       <?php if ($this->isFieldVisible('cart')): ?>
            <li class="item radio">
                <label for="estimate_cart_yes"><?php echo Mage::helper('ecomdev_productpageshipping')->__('Include Cart Items') ?></label>
                <div class="input-box">
                    <input type="radio" id="estimate_cart_yes" name="estimate[cart]" value="1" <?php if ($this->useShoppingCart()): ?> checked="checked"<?php endif;?> /><?php echo Mage::helper('ecomdev_productpageshipping')->__('Yes') ?>
                    <input type="radio" id="estimate_cart_no" name="estimate[cart]" value="0" <?php if (!$this->useShoppingCart()): ?> checked="checked"<?php endif;?> /> <?php echo Mage::helper('ecomdev_productpageshipping')->__('No') ?>
                </div>
            </li>
       <?php elseif ($this->useShoppingCart()):?>
            <input id="estimate_cart_yes" type="hidden" name="estimate[cart]" value="1" />
       <?php endif; ?>
    </ul>
    <script type="text/javascript">decorateList('shipping-estimation-form');</script>
    <div class="actions">
        <span class="please-wait f-left" id="shipping-estimate-loading-message" style="display:none;">
             <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Please wait...') ?>" title="<?php echo $this->__('Please wait...') ?>" class="v-middle" /> <?php echo $this->__('Please wait...') ?>
        </span>
                        
        <div class="f-right rightCalcular">
            <button type="button" id="idCalcularFrete" title="<?php echo Mage::helper('ecomdev_productpageshipping')->__('Get a Quote') ?>" onclick="estimateProductShipping()" class="btnCalcularFrete"><span><span><?php echo Mage::helper('ecomdev_productpageshipping')->__('Get a Quote') ?></span></span></button>
        </div>
    </div>
    </div>
<br/>
	<!-- <div class="shiipingCart-no-pointer"><?php echo $this->__('Info abount shipping') ?></div>  -->
	<!-- <div class="shiipingCart" onclick="window.location='/perguntas-frequentes'"><?php echo $this->__('Info abount shipping plus') ?></div>  -->
</div>


<div id="shipping-estimate-results" style="display:none">
</div>
<script type="text/javascript">
//<![CDATA[
jQuery.noConflict();
jQuery(document).ready(function () {
	jQuery('#estimate_postcode').keyup(function () { 
	    this.value = this.value.replace(/[^0-9\.]/g,'');
	});
});

function estimateProductShipping()
{
	var estimate = document.getElementById('estimate_postcode').value;
	if(estimate == 0 ) {
		return;
	}
	
    var estimationUrl = '<?php echo $this->jsQuoteEscape(str_replace(array('https:', 'http:'), '', $this->getEstimateUrl()));?>';
    var items = $$(['.shipping-estimation-form input',
                    '.shipping-estimation-form select',
                    '#product_addtocart_form input',
                    '#product_addtocart_form select']);

    var validationResult = true;

    // Check the valid input
    if (!items.map(Validation.validate).all()) {
        window.scrollTo( 0, 300 );
        return;
    }

    var parameters = Form.serializeElements(items, true);
    $('shipping-estimate-loading-message').show();
    $('shipping-estimate-results').hide();
    
    document.getElementById("idCalcularFrete").disabled = true;
	document.getElementById("idCalcularFrete").style.opacity = "0.5";
	document.getElementById("idCalcularFrete").style['pointer-events'] = 'none';
	
    new Ajax.Updater('shipping-estimate-results', estimationUrl, {
        parameters: parameters,
        onComplete: function() {
        	document.getElementById("idCalcularFrete").disabled = false;
     		document.getElementById("idCalcularFrete").style.opacity = "1";
     		document.getElementById("idCalcularFrete").style['pointer-events'] = 'auto';
     		
            $('shipping-estimate-loading-message').hide();
            $('shipping-estimate-results').show();
        }
    });

}
//]]>
</script>
<?php endif;?>