<?php
$_helper = $this->helper('catalog/output');
$athleteHelper = $this->helper('athlete');
$athleteImgHelper = $this->helper('athlete/image');
$imgX = $athleteImgHelper->getListingWidth();
$imgY = $athleteImgHelper->calculateHeight($imgX);
$slider_id = uniqid('athlete_');

$cols = intval($athleteHelper->getCfg('product_info/related_col'));
if ( $cols < 2 || $cols > 4 ) $cols = 3;
?>
<?php if($this->getItems()->getSize()): ?>
	<div  class="product-slider-container category-products product-columns-<?php echo $cols ?>">
		<div class="clearfix title-container">
			<h3><?php echo $this->__('Related Products') ?></h3><div class="slider-nav" id="slider_<?php echo $slider_id; ?>_nav" ><ul><li><a class="prev icon-<?php echo $athleteHelper->getCfg('arrows/products_slider_icons', 'athlete_appearance'); ?>" href="#"></a></li><li><a class="next icon-<?php echo $athleteHelper->getCfg('arrows/products_slider_icons', 'athlete_appearance'); ?>" href="#"></a></li></ul></div>
		</div>
		<div class="slider-container">
		<div class="divBlocos">
			<ul id="slider_<?php echo $slider_id; ?>" class="carousel-slider products-grid clearfix" data-items="<?php echo Mage::helper('athlete/layout')->getSliderItems($cols) ?>" >
				<?php foreach($this->getItems() as $_product): ?>
					<?php
					$liClass = '';
					if ( $this->helper('athlete')->isNew($_product) ) {
						$liClass = ' new-product';
					}
					if ( $this->helper('athlete')->isOnSale($_product) ) {
						$liClass = ' sale-product';
					}
					?>
					<li class="item <?php echo $liClass ?> padraoCarrossel">
						<div class="item-wrap">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
							<?php echo $this->helper('athlete')->getLabel($_product);  ?>
							<?php echo $athleteImgHelper->getAdditionalImage($_product, $imgX, $imgY ); ?>
							<?php echo '<img class="regular_img" src="'. $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX,$imgY)
								.'" data-srcX2="'. $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX*2, $imgY*2)
								.'" width="'.$imgX.'" height="'.$imgY.'" alt="'. $this->stripTags($this->getImageLabel
									($_product, 'small_image'), null, true) .'" />'; ?>
						</a>
						<div style="text-align: center !important;" >
							<?php if( $athleteHelper->getCfg('listing/grid_name') ): ?>
								<h2 class="padraoTitulo"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2><br/>
							<?php endif; ?>
							<?php if( $athleteHelper->getCfg('listing/grid_price') ): ?>
								<?php echo $this->getPriceHtml($_product, true, '-related') ?>
							<?php endif; ?>
						</div>
						<div class="name" >
							<?php if( $athleteHelper->getCfg('listing/hover_rating') && $_product->getRatingSummary() ): ?>
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php endif; ?>

						</div>

							<?php if( $athleteHelper->getCfg('listing/grid_cart') ): ?>
								<div class="btn-cart-container clearfix" style="text-align: center;">
									<?php if($_product->isSaleable()): ?>
										<br/>
										<button type="button" title="<?php echo $this->__('Add') ?>" class="btnAdicionar btn-cart icon-<?php echo $athleteHelper->getCfg('product_listing/action_btn_icons', 'athlete_appearance'); ?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><?php echo $this->__('Add') ?></button>
									<?php else: ?>
										<span class="availability out-of-stock"><?php echo $this->__('Out of stock') ?></span>
									<?php endif; ?>
								</div>
							<?php endif; ?>
							<ul class="add-to-links fundoPadraoLink" style="text-align: center;">
								<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
							</ul>
						</div>
					</li>
				<?php endforeach ?>
			</ul>
			
		</div>
		</div>
	</div>
<?php endif; ?>
