#mw_reward_incr_handle, #mw_reward_decr_handle{
	width: 20px;
	height: 18px;
	float:left;
	margin-top: 2px;
}

#mw_reward_incr_handle{
/* 	background: url("../images/incr.gif") no-repeat scroll 0 0 transparent; */
	position: absolute;
	right: -12px;
	margin: 0px 0 0 !important;
	background-color: #ba1400;
	padding: 0px 0px 0px 0px;
	width: 35px;
	height: 35px;
	margin-right: -25px !important;
	margin-top: -9px !important;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#mw_reward_incr_handle:BEFORE{
	content: "+";
	color: #fff;
	position: relative;
	bottom: -10px;
	left: 14px;
	font-size: 25px;
	bottom: -9px;
	left: 10px;
}


#mw_reward_incr_handle:HOVER{
/* 	background: url("../images/incr_hover.gif") no-repeat scroll 0 0 transparent; */
}

#mw_reward_decr_handle{
/* 	background: url("../images/decr.gif") no-repeat scroll 0 0 transparent; */
/* 	position: absolute; */
/* 	margin-left: -20px; */
	position: absolute;
	margin: 0px 0 0 !important;
	background-color: #ba1400;
	padding: 0px 0px 0px 0px;
	width: 35px;
	height: 35px;
	margin-right: -25px !important;
	margin-top: -9px !important;
	border-radius: 4px;
	bottom: -12px !important;
	left: -37px !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#mw_reward_decr_handle:BEFORE{
	content: "-";
	color: #fff;
	position: relative;
	bottom: -10px;
	left: 14px;
	font-size: 25px;
	bottom: -8px;
	left: 12px;
}

/* #mw_reward_decr_handle:HOVER{ */
/* 	background: url("../images/decr_hover.gif") no-repeat scroll 0 0 transparent; */
/* } */

.mw_reward_select { 
	background: url("../images/slider_handle.gif") no-repeat scroll 0 0 transparent; 
	font-weight: normal; 
	color: #555555;
	min-height: 16px;
	cursor: default;
    height: 2em;
    margin-top: 4px;
    position: absolute;
    width: 0.9em;
    z-index: 2;
}

.mw_reward_slider_contaner{
	background:url(../images/slider_rail.gif) repeat-x scroll 0 0 transparent;
	margin-top: 23px;
	margin-bottom: 5px;
	margin-left:40px;
	padding-right: 10px;
	position: relative;
	min-height: 16px;
}

#mw_reward_ok{
	background-color: #939090;
	padding: 0px 0px 0px 0px;
	width: 35px;
	height: 35px;
	margin-right: -18px !important;
	margin-top: 30px !important;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin-left: 120px;
}

.mw_reward_coultar{
	border: 0px solid !important;
	left: 135px;
	margin: 0px 0 0 !important;
	background-color: #939090;
	padding: 0px 0px 0px 0px;
	width: 100px;
	height: 35px;
	margin-right: -18px !important;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	color: #fff;
	margin-bottom: 10px !important;
}

.mw_reward_coultar:active {
  background-color: #939090;
  box-shadow: 0 5px #939090;
  transform: translateY(4px);
}

#mw_reward_ok:before {
	content: "\f00c";
    font: normal normal normal 50px/0.9 FontAwesome;
    color: #fff;
    position: relative;
    font-size: 14px;
    bottom: -9px;
    left: 10px;
}