<?php
/**
 * Create account form template
 * 
 * @category    design
 * @package     base_default
 * @author      Clarion Magento Team
 */
?>
<?php
/**
 * edit account form template
 *
 * @var $this Mage_Customer_Block_form_edit
 */
?>

<?php 
	$cpf = false; 
	$documentoValor = $this->escapeHtml($this->getCustomer()->getTaxvat());
	$tamanho =  strlen($documentoValor); 
	if($tamanho < 12) {
		$cpf = true;
	}
?>
	
<script>
	jQuery.noConflict();
	jQuery(function(){
		var tam = "<?php echo $tamanho; ?>";
		
		jQuery("#rg_personalizado").hide();
		jQuery('label[for="rg_personalizado"]').css('display', 'none');
		
		if(tam < 12){
			jQuery("#ie_personalizado").hide();
			jQuery('label[for="ie_personalizado"]').css('display', 'none');
			
			jQuery("#idCorrente").removeClass('field form-group2 base-set-icon-secure');
			jQuery("#idCorrente").addClass('field form-group2ajuste base-set-icon-secure');

			jQuery("#idPassword").removeClass('field form-group3 base-set-icon-secure');
			jQuery("#idPassword").addClass('field form-group3ajuste base-set-icon-secure');

			jQuery("#idPasswordConfirm").removeClass('field form-group4 base-set-icon-secure');
			jQuery("#idPasswordConfirm").addClass('field form-group4ajuste base-set-icon-secure');
			return;
		}
	
		if(tam > 12){
			jQuery("#rg_personalizado").hide();
			jQuery('label[for="rg_personalizado"]').css('display', 'none');
		}


	});

</script>
<script>
	jQuery.noConflict();
	jQuery(document).ready(function() {
		var passwordValue = jQuery("#idPassword").val();
		var correntePassValue = jQuery("#current_password").val();
		var confirmationValue = jQuery("#confirmation").val();
		var emailValue = jQuery("#email").val();
		
		if(passwordValue == '') {
			jQuery("label[for=password]").css('display', 'none');
		}

		if(correntePassValue == '') {
			jQuery("label[for=current_password]").css('display', 'none');
		}

		if(confirmationValue == ''){
			jQuery("label[for=confirmation]").css('display', 'none');
		}

		if(emailValue == ''){
			jQuery("label[for=email]").css('display', 'none');
		}
		

		jQuery('.focusLabel input').on('keyup', function() {
			var value = jQuery(this).val();
			if(value != '') {
				jQuery(this).parents("div").find("label[for=" + this.id + "]").show().text();
			} else {
				jQuery(this).parents("div").find("label[for=" + this.id + "]").hide().text();
			}
		});
	});
</script>

<style>
.base-set-icon-email:before {
    content: "\f0e0";
    font: normal normal normal 14px/2 FontAwesome;
}

.base-set-icon-secure:before {
    content: "\f023";
    font: normal normal normal 17px/2 FontAwesome;
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    left: 45px;
    margin-top: 9px;
}

[class*=" form-group2 base-set-icon-"]:before {
    position: absolute;
    top: 553px;
    left: 37px;
}

[class*=" form-group2ajuste base-set-icon-"]:before {
    position: absolute;
    left: 40px;
    margin-top: 8px;
}

[class*=" form-group3 base-set-icon-"]:before {
    position: absolute;
    top: 640px;
    left: 38px;
}

[class*=" form-group3ajuste base-set-icon-"]:before {
    position: absolute;
    left: 40px;
    margin-top: 8px;
}

[class*=" form-group4 base-set-icon-"]:before {
    position: absolute;
    top: 710px;
    left: 40px;
}

[class*=" form-group4ajuste base-set-icon-"]:before {
    position: absolute;
    left: 40px;
    margin-top: 8px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group3 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group4ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group2ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group3ajuste base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}


/* SLIDE THREE */
input[type=checkbox] {
	visibility: hidden;
}

.slideThree {
	width: 140px;
	height: 26px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 50px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 5px;

	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OK';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ALTERAR';
	font: 12px/26px Arial, sans-serif;
	color: red;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 60px;
	height: 20px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 75px;
}

</style>

<div class="page-title">
    <h1><?php echo $this->__('Edit Account Information') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" autocomplete="off">
	<fieldset class="fieldsetPadrao">
    <legend class="legendPadrao" style="text-align: left;"><?php echo $this->__('Account Information') ?></legend>
    <div class="divBlocos">
        <?php echo $this->getBlockHtml('formkey')?>
        <ul class="form-list">
            <li class="fields">
                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getCustomer())->toHtml() ?>
            </li>
            <li>
               <div class="input-box form-group base-set-icon-email focusLabel">
               		<label for="email" class="labelCustom required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <input type="text"  placeholder="*<?php echo $this->__('Email Address') ?>" autocomplete="off" style="maxlength="150" name="email" id="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email" />
                </div>
            </li>
            
        <?php if($cpf == TRUE) : ?>
        	<br/>
	        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
	        <?php if ($_dob->isEnabled()): ?>
	            <li><?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?></li>
	        <?php endif ?>
	        
        <?php endif; ?>	
        
        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <li><?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?></li>
        <?php endif ?>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <li><?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?></li>
        <?php endif ?>
            
        <!-- custom attributes -->
        <?php $attributeCollection = $this->helper('clarion_customerattribute/customerattribute')->getUserDefinedAttribures(); ?>
        <?php if($attributeCollection->count() > 0) : ?>
        
         <div>
             <!-- For all user defined attributes -->
             <?php foreach($attributeCollection as $attribute):?>
                <!-- For all user defined attributes which are set for customer edit account -->
                <?php if($this->helper('clarion_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit($attribute->getAttributeCode())):?>
             
                    <?php $frontEndLabel = $attribute->getStoreLabel($this->helper('clarion_customerattribute/customerattribute')->getStoreId()); ?>
                    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '' ?>
                    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
                    <?php $fieldValue = $this->escapeHtml($this->getCustomer()->$getAttributeCodeFunction()); ?>
                        <li class="fields">
                           <div class="field">
                               <label for="<?php echo $attribute->getAttributeCode(); ?>" <?php if($attribute->getIsRequired()):?>class="required"><em>*</em> <?php  else :?>><?php endif;?><?php echo $this->__($frontEndLabel) ?></label>
                               <div class="input-box">
                                   
                                   <?php if($attribute->getFrontendInput()== 'text'):?>
                                   		<?php if($idgrupo == 1):  ?>
                                       		<input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-text <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
                                   		<?php elseif($idgrupo == 0):  ?>
                                   			<?php echo $fieldValue; ?>
                                   		<?php endif; ?>		
                                   <?php endif; ?>		
                                   
                                   <?php if($attribute->getFrontendInput()== 'textarea'):?>
                                       <textarea class=" textarea <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" cols="15" rows="2" title="<?php echo $this->__($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>"><?php echo $fieldValue; ?></textarea>
                                     
                                   <?php elseif($attribute->getFrontendInput()== 'date'):?>
                                    <input type="text" style="width:110px !important;" class=" input-text <?php echo $fieldRequiredClass; ?> " title="<?php echo $this->__($frontEndLabel); ?>" value="<?php echo $this->helper('clarion_customerattribute/customerattribute')->getFormattedDate($fieldValue); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>">
                                    <img style="" title="Select Date" id="<?php echo $attribute->getAttributeCode(); ?>_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl('images/clarion/customerattribute/grid-cal.gif') ?>">
                                        <script type="text/javascript">
                                        //&lt;![CDATA[
                                            Calendar.setup({
                                                inputField: "<?php echo $attribute->getAttributeCode(); ?>",
                                                ifFormat: "%m-%d-%Y",
                                                showsTime: false,
                                                button: "<?php echo $attribute->getAttributeCode(); ?>_trig",
                                                align: "Bl",
                                                singleClick : true
                                            });
                                        //]]&gt;
                                        </script>
                                     
                                    <?php elseif($attribute->getFrontendInput()== 'boolean'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                    <?php elseif($attribute->getFrontendInput()== 'select'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                    <?php elseif($attribute->getFrontendInput()== 'multiselect'):?>
                                    <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo $this->__($frontEndLabel); ?>"  class=" multiselect <?php if ($attribute->getIsRequired()):?> validate-select required-entry<?php endif; ?> ">
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if (in_array($option['value'], explode(',', $fieldValue))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
                                        
                                   <?php endif;?>
                               </div>
                           </div>
                       </li>
	              <?php endif;?>
	             <?php endforeach;?>
	         </div>
	    <?php endif; ?>
	    
		 <div style="margin-top: 20px;"><strong><?php echo $this->__('Password') ?></strong></div>
	     <li class="control">
	     		<div class="slideThree">
	                <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" />
	                <label for="change_password"></label>
                </div>
         </li>
	    
        </ul>
    </div>
    <div class="fieldset" style="display:none;">
        <ul class="form-list">
            <li>
                <div id="idCorrente" class="field form-group2 base-set-icon-secure focusLabel">
                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                    <label for="current_password" class="labelCustom required"><em>*</em><?php echo $this->__('Current Password') ?></label>
                    	<input type="hidden" class="input-text no-display" name="dummy" id="dummy" />
                    	<input type="password" placeholder="*<?php echo $this->__('Current Password') ?>" autocomplete="off" title="<?php echo $this->__('Current Password') ?>" class="input-text" name="current_password" id="current_password" />
                </div>
            </li>
            <br/>
            <li>
                <div id="idPassword" class="field form-group3 base-set-icon-secure">
                	<label for="password" class="labelCustom required"><em>*</em><?php echo $this->__('New Password') ?></label>
                    <div class="input-box focusLabel">
                        <input type="password" placeholder="*<?php echo $this->__('New Password') ?>" autocomplete="off" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password" name="password" id="password" />
                    </div>
                </div>
             </li>
           	 <li>
                <div id="idPasswordConfirm" class="field form-group4 base-set-icon-secure">
                	<label for="confirmation" class="labelCustom required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
                    <div class="input-box focusLabel">
                        <input type="password" placeholder="*<?php echo $this->__('Confirm New Password') ?>" autocomplete="off" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
   </fieldset>
    
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    	<button data-action="save-customer-address" type="submit" title="<?php echo $this->__('Save') ?>" class="btnPadraoCreateCall"><span><span><?php echo $this->__('Save') ?></span></span></button>
    	
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function setPasswordForm(arg){
        if(arg){
            $('current_password').up(3).show();
            $('current_password').addClassName('required-entry');
            $('password').addClassName('required-entry');
            $('confirmation').addClassName('required-entry');

        }else{
            $('current_password').up(3).hide();
            $('current_password').removeClassName('required-entry');
            $('password').removeClassName('required-entry');
            $('confirmation').removeClassName('required-entry');
        }
    }

    <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
    <?php endif; ?>
//]]>
</script>

<script type="text/javascript">
	jQuery.noConflict();
	jQuery(function(){
		jQuery(".footer").css('display', 'none');
	});
</script>
