<?php
/**
 * Create account form template
 * 
 * @category    design
 * @package     base_default
 * @author      Clarion Magento Team
 */
?>
<?php
/**
 * Create account form template
 *
 * @var $this Mage_Customer_Block_Form_Register
 */
?>
<style>

.footer .footer-newsletter {
	position: relative;
}

.block-login .form-list .field:first-child {
    margin-bottom: 0px !important;
}

.block-login .form-list li {
    margin-bottom: 5px !important;
}

.form-list .field {
    float: left;
    width: 275px;
    margin-bottom: 5px !important;
}

.divBlocos {
    margin: 10px 20px 20px;
}

.fieldsetPadrao {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0 10px;
}

.block-login {
	width: 100%;
}

/* Icones dos formularios */
.base-set-icon-secure:before {
    content: "\f023";
    font: normal normal normal 17px/3 FontAwesome;
}

.base-set-icon-email:before {
    content: "\f0e0";
    font: normal normal normal 14px/2 FontAwesome;
}

.base-set-icon-user:before {
    content: "\f007";
    font: normal normal normal 14px/3 FontAwesome;
}

.base-set-icon-card:before {
    content: "\f09d";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    left: 20px;
    margin-top: 3px;
}

[class*=" form-group-senha base-set-icon-"]:before {
    position: absolute;
    left: 20px;
}

[class*=" form-group-senha2 base-set-icon-"]:before {
    position: absolute;
    left: 20px;
}

[class*=" form-group2 base-set-icon-"]:before {
    position: absolute;
    left: 11px;
    margin-top: 10px;
}

[class*=" form-group3 base-set-icon-"]:before {
    position: absolute;
    left: 11px;
    margin-top: 10px;
}

[class*=" form-group4 base-set-icon-"]:before {
    position: absolute;
    top: 3px;
    left: 11px;
}

[class*=" form-group5 base-set-icon-"]:before {
    position: absolute;
    left: 8px;
    margin-top: 10px;
}

.form-group2 {
    position: relative;
    margin-bottom: 10px;
}

.form-group3 {
    position: relative;
    margin-bottom: 10px;
}

.form-group4 {
    position: relative;
    margin-bottom: 10px;
}

.form-group5 {
    position: relative;
    margin-bottom: 10px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px !important;
    font-family: 'arial';
}

.form-list label {
    padding-bottom: 0px !important;
}

[class*=" form-group2 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group3 base-set-icon-"] input {
    padding-left: 40px !important;
    font-family: 'arial';
}

[class*=" form-group4 base-set-icon-"] input {
    padding-left: 33px;
    font-family: 'arial';
}

[class*=" form-group5 base-set-icon-"]:input {
    padding-left: 33px !important;
    font-family: 'arial';
}

.paddingIncial input {
    padding-left: 33px;
    font-family: 'arial';
}

input:focus {
   	background: #fff !important;
}

label.error { 
	float: left; 
	color: red; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 12px;
	display: block !important;
    height: 10px !important;
    font-weight: 600;
}

</style>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/prototype/validation.js') ?>" ></script>

<script>
	jQuery.noConflict();
	jQuery(document).ready(function() {
		camposLabel();
		function camposLabel() {
			var taxvatValue = jQuery("#taxvat").val();
			var firstnameValue = jQuery("#firstname").val();
			var rgValue = jQuery("#rg_personalizado").val();
			var ieValue = jQuery("#ie_personalizado").val();
			var confirmationValue = jQuery("#confirmation").val();
			var passwordValue = jQuery("#password").val();
			var emailaddressValue = jQuery("#email_address").val();
			
			if(taxvatValue == '') {
				jQuery("label[for=taxvat]").css('display', 'none');
			}

			if(firstnameValue == '') {
				jQuery("label[for=firstname]").css('display', 'none');
			}

			if(rgValue == ''){
				jQuery("label[for=rg_personalizado]").css('display', 'none');
			}

			if(ieValue == ''){
				jQuery("label[for=ie_personalizado]").css('display', 'none');
			}

			if(confirmationValue == ''){
				jQuery("label[for=confirmation]").css('display', 'none');
			}

			if(passwordValue == ''){
				jQuery("label[for=password]").css('display', 'none');
			}

			if(emailaddressValue == ''){
				jQuery("label[for=email_address]").css('display', 'none');
			}

			jQuery('.focusLabel input').on('keyup', function() {
				var value = jQuery(this).val();
				if(value != '') {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").show().text();
				} else {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").hide().text();
				}
			});
		}
	});
</script>

<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/prototype/jquery/jquery-3.1.0.min.js' ?>" ></script>


<script>
var $jq144 = jQuery.noConflict(true);
$jq144(document).ready(function() {

		//jQuery time
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches

		jQuery.validator.addMethod("documento", function (value, element) {
			var tipo =  jQuery("#grupoTipo").val();
			return validaDocumentoPorTipoPessoa(value, tipo);
		}, "N&uacute;mero do documento inv&aacute;lido");
	        
		$jq144(".next").click(function(){
			var validator = jQuery("#form-validate").validate({
				rules:{
					taxvat:{
				        required: true, minlength: 8, documento: true
				    },
					firstname:{
				        required: true
				    },
// 				    rg_personalizado:{
// 				        required: true
// 				    },
				    ie_personalizado:{
				        required: true
				    },
				    day:{
				        required: true
				    },
				    month:{
				        required: true
				    },
				    year:{
				        required: true
				    },
				    email:{
				        required: true
				    },
				    password:{
				        required: true
				    }
				   
		     	},
			    messages:{
			    	  taxvat:{
			            required: "Campo obrigat&oacute;rio",
			            minlength: jQuery.validator.format("Verifique o tamanho")
			          },
			          firstname:{
				            required: "Campo obrigat&oacute;rio"
				      },
// 				      rg_personalizado:{
// 				            required: "Campo obrigat&oacute;rio"
// 				      },
				      ie_personalizado:{
				            required: "Campo obrigat&oacute;rio"
				      },
				      day:{
				            required: "Campo obrigat&oacute;rio"
				      },
				      month:{
				            required: "Campo obrigat&oacute;rio"
				      },
				      year:{
				            required: "Campo obrigat&oacute;rio"
				      },
				      email:{
				            required: "Campo obrigat&oacute;rio",
				            email: "Validar seu email corretamente."
				      },
				      password:{
				            required: "Campo obrigat&oacute;rio"
				      }
			     }
			}).form();

			if(!validator){
				return;
			} 

			if(animating) return false;
			animating = true;

			current_fs = jQuery(this).parent();
			next_fs = jQuery(this).parent().next();
			
			//activate next step on progressbar using the index of next_fs
			$jq144("#progressbar li").eq($jq144("fieldset").index(next_fs)).addClass("active");
			
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		
		$jq144(".pessoaFisica").click(function(){
			if(animating) return false;
			animating = true;
			
			current_fs = jQuery(this).parent();
			next_fs = jQuery(this).parent().next();

			$jq144(".camposCPF").attr("placeholder", "*<?php echo $this->__('Your number CPF') ?>");
			$jq144(".camposCPFFirstName").attr("placeholder", "*<?php echo $this->__('Full Name') ?>");
			$jq144(".inputFirstNameCpf").attr("placeholder", "*<?php echo $this->__('Full Name') ?>");
			
			$jq144("#rg_personalizado").attr("placeholder", "*<?php echo $this->__('Your number RG Custom') ?>");
			$jq144(".camposCNPJFirstName").css('display', 'none');
			$jq144(".camposCPFFirstName").css('display', 'block');
			
			//activate next step on progressbar using the index of next_fs
			$jq144("#progressbar li").eq($jq144("fieldset").index(next_fs)).addClass("active");
	    	$jq144('label[for="ie_personalizado"]').css('display', 'none');
	    	$jq144("#ie_personalizado").hide();
	    	$jq144("#rg_personalizado").hide();
	    	$jq144('#taxvat').attr('maxlength', 11);
	    	$jq144('#rg_personalizado').attr('maxlength', 13);
	    	$jq144('label[for="rg_personalizado"]').css('display', 'none');
// 	    	$jq144(".form-group5ajuste").css('margin-top', '22px');
	    	$jq144(".form-group5").css('margin-top', 20 + 'px');
	    	$jq144(".labelCustom").css('margin-top', 0 +'px');
	    	$jq144("#camposCPFData").show();
	    	$jq144('.labelCNPJ').css('display', 'none');	   
	    	$jq144('.labelCPF').css('display', 'block');	
	    	jQuery('#taxvat').val('');   
	    	jQuery("#firstname").val('');	
	    	jQuery(".error").css('margin', 0 + 'px');

	    	if(animating){
	    		$jq144("#grupoTipo").val(4);
	    	}

			// limpar labels
	    	var taxvatValue = jQuery("#taxvat").val();
			var firstnameValue = jQuery("#firstname").val();
			var rgValue = jQuery("#rg_personalizado").val();
			var ieValue = jQuery("#ie_personalizado").val();
			var confirmationValue = jQuery("#confirmation").val();
			var passwordValue = jQuery("#password").val();
			var emailaddressValue = jQuery("#email_address").val();
			
			if(taxvatValue == '') {
				jQuery("label[for=taxvat]").css('display', 'none');
			}

			if(firstnameValue == '') {
				jQuery("label[for=firstname]").css('display', 'none');
			}

			if(rgValue == ''){
				jQuery("label[for=rg_personalizado]").css('display', 'none');
			}

			if(ieValue == ''){
				jQuery("label[for=ie_personalizado]").css('display', 'none');
			}

			if(confirmationValue == ''){
				jQuery("label[for=confirmation]").css('display', 'none');
			}

			if(passwordValue == ''){
				jQuery("label[for=password]").css('display', 'none');
			}

			if(emailaddressValue == ''){
				jQuery("label[for=email_address]").css('display', 'none');
			}

			jQuery('.focusLabel input').on('keyup', function() {
				var value = jQuery(this).val();
				if(value != '') {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").show().text();
				} else {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").hide().text();
				}
			});

	    	
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		jQuery(".pessoaJuridica").click(function(){
			if(animating) return false;
			animating = true;
			
			current_fs = jQuery(this).parent();
			next_fs = jQuery(this).parent().next();
			
			//activate next step on progressbar using the index of next_fs
			
			jQuery(".camposCNPJ").attr("placeholder", "*<?php echo $this->__('Your number CNPJ') ?>");
			$jq144(".inputFirstNameCnpj").attr("placeholder", "*<?php echo $this->__('Company Name') ?>");
			jQuery(".camposCNPJFirstName").attr("placeholder", "*<?php echo $this->__('Company Name') ?>");
			jQuery("#ie_personalizado").attr("placeholder", "*<?php echo $this->__('Your number IE Custom') ?>");
			$jq144(".camposCPFFirstName").css('display', 'none');
			$jq144(".camposCNPJFirstName").css('display', 'block');

			jQuery(".form-group5ajuste").css('margin-top', '9px');
			jQuery("#progressbar li").eq(jQuery("fieldset").index(next_fs)).addClass("active");
	    	jQuery("#ie_personalizado").show();
	    	jQuery('#taxvat').attr('maxlength', 14);
	    	jQuery('#ie_personalizado').attr('maxlength', 13);
	    	jQuery('#ie_personalizado').css('type', 'tel');
// 	    	jQuery('label[for="ie_personalizado"]').css('display', 'block');
	    	jQuery('label[for="rg_personalizado"]').css('display', 'none');
	    	jQuery('label[for="ie_personalizado"]').css('display', 'none');
	    	jQuery("#rg_personalizado").hide();
// 	    	jQuery('label[for="ie_personalizado"]').css('float', 'left');
	    	jQuery("#ie_personalizado").val('');
	    	jQuery('#taxvat').val('');
	    	jQuery("#firstname").val('');
	    	jQuery("#day").val('');
	    	jQuery("#month").val('');
	    	jQuery("#year").val('');
	    	jQuery("#camposCPFData").hide();
	    	jQuery('.labelCNPJ').css('display', 'block');	   
	    	jQuery('.labelCPF').css('display', 'none');

	    	jQuery("#ie_personalizado").prop('type', 'tel');

	    	if(animating){
	    		jQuery("#grupoTipo").val(5);
	    	}

	    	var taxvatValue = jQuery("#taxvat").val();
	    	if(taxvatValue == '') {
	    					jQuery("label[for=taxvat]").css('display', 'none');
	    				}
	    				
	    	var taxvatValue = jQuery("#taxvat").val();
	    	if(taxvatValue == '') {
	    			jQuery("label[for=taxvat]").css('display', 'none');
	    	}


	    	// limpar labels
	    	var taxvatValue = jQuery("#taxvat").val();
			var firstnameValue = jQuery("#firstname").val();
			var rgValue = jQuery("#rg_personalizado").val();
			var ieValue = jQuery("#ie_personalizado").val();
			var confirmationValue = jQuery("#confirmation").val();
			var passwordValue = jQuery("#password").val();
			var emailaddressValue = jQuery("#email_address").val();
			
			if(taxvatValue == '') {
				jQuery("label[for=taxvat]").css('display', 'none');
			}

			if(firstnameValue == '') {
				jQuery("label[for=firstname]").css('display', 'none');
			}

			if(rgValue == ''){
				jQuery("label[for=rg_personalizado]").css('display', 'none');
			}

			if(ieValue == ''){
				jQuery("label[for=ie_personalizado]").css('display', 'none');
			}

			if(confirmationValue == ''){
				jQuery("label[for=confirmation]").css('display', 'none');
			}

			if(passwordValue == ''){
				jQuery("label[for=password]").css('display', 'none');
			}

			if(emailaddressValue == ''){
				jQuery("label[for=email_address]").css('display', 'none');
			}

			jQuery('.focusLabel input').on('keyup', function() {
				var value = jQuery(this).val();
				if(value != '') {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").show().text();
				} else {
					jQuery(this).parents("div").find("label[for=" + this.id + "]").hide().text();
				}
			});
	    	
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		jQuery(".previous").click(function(){
			
			var validator = jQuery("#form-validate").validate({
			      focusCleanup: true
			});
			validator.resetForm(); 
			
			if(animating) return false;
			animating = true;
			
			current_fs = jQuery(this).parent();
			previous_fs = jQuery(this).parent().prev();
			
			//de-activate current step on progressbar
			jQuery("#progressbar li").eq(jQuery("fieldset").index(current_fs)).removeClass("active");
			
			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale previous_fs from 80% to 100%
					scale = 0.8 + (1 - now) * 0.2;
					//2. take current_fs to the right(50%) - from 0%
					left = ((1-now) * 50)+"%";
					//3. increase opacity of previous_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'left': left});
					previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

			jQuery(".submit").click(function(){
				return false;
			})
});

</script>



<script type="text/javascript">
	jQuery.noConflict();
	jQuery(function(){
		jQuery(".footer").css('display', 'none');
	});
</script>


<style>

/*custom font*/

/*basic reset*/
* {
margin: 0;
padding: 0;
}
html {
height: 100%;
/*Image only BG fallback*/
/*background = gradient + image pattern combo*/
}
body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
/* 	position: relative; */
}
#msform fieldset {
	background: white;
/* 	border: 0 none; */
/* 	border-radius: 3px; */
/* 	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
/* 	padding: 20px 30px; */
/* 	box-sizing: border-box; */
	width: 95%;
	padding-left: 10px;
/*  	margin: 0 5%;  */
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
/* 	margin-bottom: 8px !important; */
	width: 100%;
	padding-left: 33px;
}
/*buttons*/
#msform .action-button {
/* width: 100px; */
/* background: #27AE60; */
/* font-weight: bold; */
/* color: white; */
/* border: 0 none; */
/* border-radius: 1px; */
/* cursor: pointer; */
/* padding: 10px 5px; */
/* margin: 10px 5px; */
}
/* #msform .action-button:hover, #msform .action-button:focus { */
/*  	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;  */
/* } */
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #ba1400;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
/* 	margin-bottom: 30px; */
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 30%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
 background: #ba1400; 
color: white;
}
</style>

<div class="block block-login divBlocosLogin">
 	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
 	<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    <input type="hidden" id="grupoTipo" name="grupoTipo" />
    
   	<div class="block-title">
	</div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.register.extra')?>
    
    <div class="block-title" style="text-align: center;">
			<strong><span><?php echo $this->__('Create my Account') ?></span></strong>
	</div>
    
	<div id="msform">
	<ul id="progressbar">
		<li class="active">Account Setup</li>
		<li>Social Profiles</li>
		<li>Personal Details</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<button type="button" class="pessoaFisica action-button btnPadraoEdicaoCallCinza2" ><?php echo $this->__('Physical Person') ?></button>
		<button type="button" class="pessoaJuridica action-button btnPadraoEdicaoCallCinza2" ><?php echo $this->__('Leal Person') ?></button>
		
		<!-- <input type="text" name="email" placeholder="Email" /> -->
		<!-- <input type="password" name="pass" placeholder="Password" /> -->
		<!-- <input type="password" name="cpass" placeholder="Confirm Password" /> -->
		<!-- <input type="button" name="next" class="next action-button" value="Next" /> -->
	</fieldset>

	<fieldset>
		<h2 class="fs-title"><?php echo $this->__('Personal Information') ?></h2>
		<ul>
		 <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
	     <?php if ($_taxvat->isEnabled()): ?>
	         <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
	     <?php endif ?>
	     <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
	     <?php if ($_gender->isEnabled()): ?>
	           <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
	     <?php endif ?>
	    
	    <li class="fields">
		      <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
	    </li>
	    
	    <!-- custom attributes -->
	     <li class="fields">
<!-- 		    <div class="input-box form-group5 base-set-icon-card" > -->
<!-- 		      	<input type="hidden" /> -->
<!-- 		    </div> -->
		 </li>
	     <?php $attributeCollection = $this->helper('clarion_customerattribute/customerattribute')->getUserDefinedAttribures(); ?>
		 <?php if($attributeCollection->count() > 0) : ?>
		 		<?php foreach($attributeCollection as $attribute):?>
	              
	                <!-- For all user defined attributes which are set for customer create account -->
	                <?php if($this->helper('clarion_customerattribute/customerattribute')->isAttribureForCustomerAccountCreate($attribute->getAttributeCode())):?>
	             
	                    <?php $frontEndLabel = $attribute->getStoreLabel($this->helper('clarion_customerattribute/customerattribute')->getStoreId()); ?>
	                    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
	                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '' ?>
	                    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
	                    <?php $fieldValue = ($this->getFormData()->$getAttributeCodeFunction()) ? ($this->getFormData()->$getAttributeCodeFunction()) : $attribute->getDefaultValue() ?>
								<li class="fields">
									<div class="field paddingIncial focusLabel">
										<label class="labelCustom required" for="<?php echo $attribute->getAttributeCode(); ?>"
											<?php if($attribute->getIsRequired()):?> ><em>*</em> <?php  else :?>><?php endif;?><?php echo $this->__($frontEndLabel) ?></label>

										<div class="input-box">
	                                   <?php if($attribute->getFrontendInput()== 'text'):?>
	                                       <input type="text"
												name="<?php echo $attribute->getAttributeCode(); ?>"
												id="<?php echo $attribute->getAttributeCode(); ?>"
												value="<?php echo $this->escapeHtml($fieldValue); ?>"
												title="<?php echo $this->__($frontEndLabel); ?>"
												class="input-text <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
												
	                                   <?php elseif($attribute->getFrontendInput()== 'textarea'):?>
	                                       <textarea
												class=" textarea <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>"
												cols="15" rows="2"
												title="<?php echo $this->__($frontEndLabel); ?>"
												name="<?php echo $attribute->getAttributeCode(); ?>"
												id="<?php echo $attribute->getAttributeCode(); ?>"><?php echo $this->escapeHtml($fieldValue); ?></textarea>
	                                     
	                                   <?php elseif($attribute->getFrontendInput()== 'date'):?>
	                                    <input type="text"
												style="width: 110px !important;"
												class=" input-text <?php echo $fieldRequiredClass; ?> "
												title="<?php echo $this->__($frontEndLabel); ?>"
												value="<?php echo $this->helper('clarion_customerattribute/customerattribute')->getDefaultValueForDate($fieldValue);?>"
												id="<?php echo $attribute->getAttributeCode(); ?>"
												name="<?php echo $attribute->getAttributeCode(); ?>"> <img
												style="" title="Select Date"
												id="<?php echo $attribute->getAttributeCode(); ?>_trig"
												class="v-middle" alt=""
												src="<?php echo $this->getSkinUrl('images/clarion/customerattribute/grid-cal.gif') ?>">
											<script type="text/javascript">
	                                        //&lt;![CDATA[
	                                            Calendar.setup({
	                                                inputField: "<?php echo $attribute->getAttributeCode(); ?>",
	                                                ifFormat: "%m-%d-%Y",
	                                                showsTime: false,
	                                                button: "<?php echo $attribute->getAttributeCode(); ?>_trig",
	                                                align: "Bl",
	                                                singleClick : true
	                                            });
	                                        //]]&gt;
	                                        </script>
	                                     
	                                    <?php elseif($attribute->getFrontendInput()== 'boolean'):?>
	                                    <select
												id="<?php echo $attribute->getAttributeCode(); ?>"
												name="<?php echo $attribute->getAttributeCode(); ?>"
												title="<?php echo $this->__($frontEndLabel); ?>"
												<?php if ($attribute->getIsRequired()):?>
												class="validate-select required-entry " <?php endif; ?>>
	                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
	                                        <?php foreach ($options as $option):?>
	                                            <option
													value="<?php echo $option['value'] ?>"
													<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
	                                        <?php endforeach;?>
	                                    </select>
	                                        
	                                    <?php elseif($attribute->getFrontendInput()== 'select'):?>
	                                    <select
												id="<?php echo $attribute->getAttributeCode(); ?>"
												name="<?php echo $attribute->getAttributeCode(); ?>"
												title="<?php echo $this->__($frontEndLabel); ?>"
												<?php if ($attribute->getIsRequired()):?>
												class="validate-select required-entry " <?php endif; ?>>
	                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
	                                        <?php foreach ($options as $option):?>
	                                            <option
													value="<?php echo $option['value'] ?>"
													<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
	                                        <?php endforeach;?>
	                                    </select>
	                                        
	                                    <?php elseif($attribute->getFrontendInput()== 'multiselect'):?>
	                                    <select multiple="multiple"
												size="5" id="<?php echo $attribute->getAttributeCode(); ?>"
												name="<?php echo $attribute->getAttributeCode(); ?>[]"
												title="<?php echo $this->__($frontEndLabel); ?>"
												class=" multiselect <?php if ($attribute->getIsRequired()):?> validate-select required-entry<?php endif; ?> ">
	                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
	                                        <?php foreach ($options as $option):?>
	                                            <option
													value="<?php echo $option['value'] ?>"
													<?php if (in_array($option['value'], explode(',', $fieldValue))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
	                                        <?php endforeach;?>
	                                    </select>
	                                        
	                                   <?php endif;?>
	                               </div>
									</div>
								</li>
							<?php endif;?>
		             <?php endforeach;?>
		             
		             <p>&nbsp</p>
		             
		             <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
		             
			         <?php if ($_dob->isEnabled()): ?>
			                <div><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></div>
	          		 <?php endif ?>
		 <?php endif; ?>
		 </ul>
		 <p>&nbsp</p>
		<button type="button" name="next"  class="next validateDadosPessoais calcular action-button btnPadraoEdicaoCallCinzaEscuro2"><?php echo $this->__('Next') ?></button>
		<button type="button" name="previous" class="previous action-button btnPadraoEdicaoCallCinza" ><?php echo $this->__('Back') ?></button>
		<p>&nbsp</p>
		<p>&nbsp</p>
		<p>&nbsp</p>
		<p>&nbsp</p>
	</fieldset>

	<fieldset>
		<h2 class="fs-title"><?php echo $this->__('Login Information') ?></h2>
		<ul class="form-list">
                <li class="fields">
<!--                 	<div align="left" > -->
						<!--<label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label> -->
<!-- 					</div> -->
					<div class="input-box form-group2 base-set-icon-email focusLabel">
						<label for="email_address" class="required labelCustom"><em>*</em><?php echo $this->__('Email Address') ?></label>
						<input type="email" placeholder="*<?php echo $this->__('Email Address') ?>" autocomplete="off" name="email" maxlength="150" id="email_address" style="border: 1px solid;"  value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text" />
					</div>
					<div style="margin-top: 20px;" />
                    <div >
                        <div class="input-box form-group-senha base-set-icon-secure focusLabel">
                        	<label for="password" class="labelCustom required"><em>*</em><?php echo $this->__('Password') ?></label> 
                            <input type="password" placeholder="*<?php echo $this->__('Password') ?>" autocomplete="off" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text validate-password" />
                        </div>
                    </div>
                    <br/>
                    <div>
                        <div class="input-box form-group-senha2 base-set-icon-secure focusLabel">
                        	<label for="confirmation" class="labelCustom required"><em>*</em><?php echo $this->__('Confirm Password') ?></label> 
                            <input type="password" placeholder="*<?php echo $this->__('Confirm Password') ?>" autocomplete="off" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text validate-cpassword" />
                        </div>
                    </div>
                    
                    <div style="margin-top: 20px;" />
                    
                  <!-- <?php if ($this->isNewsletterEnabled()): ?> -->  
	              <!--   <li class="control"> -->  
	                 	 <!--<div class="padraoCheckbox input-box" >  -->  
								<!-- <input style="float: left; margin-top:6px; margin-left: 5px; " type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" /> -->  
								<!-- <label style="margin-top: 20px;" for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label> -->  
						 <!-- </div> -->  
	                   <!--  <?php /* Extensions placeholder */ ?> -->  
	                    <!-- <?php echo $this->getChildHtml('customer.form.register.newsletter')?>-->  
	               <!--  </li> -->  
	               <!--  <?php endif ?> -->  
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
            	<div style="text-align: center;"><?php echo Mage::helper('core/mwrewardpoints')->pointsCreateAccountRewardPoints(); ?></div>
            	<button type="submit" name="submit" style="float: left;" title="<?php echo $this->__('Submit') ?>" class="btnPadraoEdicaoCallCinzaVermelho2"><?php echo $this->__('Submit') ?></button>
            	<button name="previous" type="button" title="<?php echo $this->__('Back') ?>" class="previous btnPadraoEdicaoCallCinza"><?php echo $this->__('Back') ?></button>
            	
	</fieldset>
	</div>
	</form>
	<script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
    //]]>
    </script>
    
</div>

<div style="margin-bottom: 550px;" />