<style>

input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE THREE */
.slideThree {
	width: 114px;
	height: 26px;
	background: #fff;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 50px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 5px;

	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: '0';
	font: 12px/26px Arial, sans-serif;
	color: red;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'TOTAL';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 47px;
	height: 20px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 60px;
}

</style>


<?php $quote = Mage::getSingleton('checkout/session')->getQuote();
	  $store_id = Mage::app()->getStore()->getId();
	  $spend_point = $this->getMaxPointsToCheckout();
	  $earn_rewardpoint = (int)$quote->getEarnRewardpoint();
	  $reward_icon = Mage::helper('rewardpoints/data')->getRewardIconHtml($store_id);
	  
$check = version_compare(Mage::getVersion(),'1.4.0.1','>=');?>

  <div class="wrap-3 inputCart">
    <input type="radio" id="tab-3" name="tabs">
    <label for="tab-3"><div><?php echo $this->__('Reward points') ?></div><div class="cross"></div></label>
    <div class="content">
    		<div id="rewardpoints_box">
                <form id="rewardpoints-form" action="<?php echo $this->getUrl('rewardpoints/checkout/rewardPointsPost', array('_forced_secure' => $this->getRequest()->isSecure())) ?>"  onsubmit="return false;" method="post">
                    <div class="discount discount-codes box" style="background: none repeat scroll 0 0 #FAFAEC;">
                        <?php if($check):?><h2 style="background-image: none; padding: 0px 0px 5px 0px;"><?php echo $reward_icon.$this->__('Reward points') ?></h2><?php else:?><h4 style="background-image: : none; padding: 0px;"><?php echo $reward_icon.$this->__('Reward points') ?></h4><?php endif;?>
                        <div class="discount-form">
                        	<ul id="mw_reward_accordion">
                		      <li  class="mw_reward_section">
                		     <?php /*?> <a href="#" class="mw_reward_title" style="margin-left:10px;display: block;padding: 0px 5px 5px 10px; text-decoration: none;" <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> ><span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.35;"><?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPoints($earn_rewardpoint,$store_id))?></span><a><?php echo $this->__('View details');?></a><a href="#" class="mw_reward_title" style="margin-left:10px;display: block;padding: 0px 5px 5px 10px; text-decoration: none;" <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> ><span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.35;"><?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPoints($earn_rewardpoint,$store_id))?></span><a><?php echo $this->__('View details');?></a><?php */?>
                		        <div <?php if (!sizeof($this->getRewardPointsRule())) echo "style=\"display:none\"";?> >
                		        	<span id="reward-points-rules-title" style="color: #0A263C;line-height: 1.5;">
                		        		<?php echo $this->__("You will be awarded <b>%s</b>",Mage::helper('rewardpoints')->formatPointsCart($earn_rewardpoint,$store_id)." ")?>
                		        		<!-- <button id = "mw_view" class="mw_reward_title mw_reward_coultar"><?php echo $this->__('Hide');?></button>  -->
                		        		<!--   <a id = "mw_view" class="mw_reward_title" style="color: #ba1400 !important;font-weight: bold"href="#"><?php echo $this->__('(Hide)');?></a> -->
                		        	</span>
                		        </div>
                		        <div  id="reward-points-rules" class="mw_reward_toggle">
                		        	<?php foreach($this->getRewardPointsRule() as $rule):?>
                		        	<div style="width:100%;font-size: 11px; margin: 0 0 5px 0; overflow: hidden;">
                		        		<div style="float:left;"><?php echo $this->__('<span style="float: left;">+</span> <div style="margin: 0px 0px 0px 10px;">%s %s</div>',($rule['qty']>1?$rule['qty']." x":""),$rule['message']);?></div>
                		        	</div>
                		        	<?php endforeach;?>
                		        </div>
                		      </li>
                		    </ul>
                		   
                			
                        	<?php $rate = $this->getPointPerMoney($store_id);?>
                        	<div style="width:100%; padding-top: 5px;">
                        	<?php if($this->_getCustomer()->getId()):?>
                	        	<div style="float:left;width:100%; border-top: 1px dashed;"">
                	        		<div style="margin-top:5px;"><?php echo $this->__("You have <b>%s</b> available <br>(<b>%s</b> = <b>%s</b>)",Mage::helper('rewardpoints')->formatPointsCart($this->getCurrentRewardPoints(),$store_id),Mage::helper('rewardpoints')->formatPointsCart($rate[0],$store_id), $this->formatMoney($rate[1]))?></div>
                	        		<?php /* ?><label><?php echo $this->__("Slide to specify number of points to redeem")?></label> <?php */?>
                	        		<div id="mw_reward_slider_contaner" class="mw_reward_slider_contaner" style="width:215px; display:none;">  
                	        			<div id="mw_reward_decr_handle"></div>
                	        			<div id="mw_reward_incr_handle"></div>
                	        			<div id="mw_slider" class="mw_reward_select" ></div>
                	        		</div>
                	        			<div class="componentePoints">
                	        				<div id="mw_reward_ok"></div>
                			        		<div style="margin-top: -40px;">
                					        		<div>
                					        			<input style="color:#f6931f; width:113px; text-align:center;font-size: 13px;font-weight: bold;" type="tel" name="mw_amount" id="mw_amount" /> 
                					        			<label id="mw_label_amount" style="color:#f6931f; font-weight:bold;display:none;"></label>
                					        	    </div>
                			        	    </div>
                							<!-- Slide THREE -->
                							<div class="slideThree">	
                								<input type="checkbox" name="mw_use_max_points" id="mw_use_max_points" />
                								<label for="mw_use_max_points" style="padding-left: 5px;" />
                							</div>
                							<span><?php echo $this->__("Use maximum (<b>%s</b>)",Mage::helper('rewardpoints')->formatPointsCart($spend_point,$store_id));?></span>
                							
                <!-- 	        			<input type="checkbox" name="mw_use_max_points" id="mw_use_max_points" /> -->
                <!--	        			<label for="mw_use_max_points" style="padding-left: 5px;"> -->
                <!--	        				<?php echo $this->__("Use maximum (<b>%s</b>)",Mage::helper('rewardpoints')->formatPointsCart($spend_point,$store_id));?> -->
                <!-- 	        			</label> -->
                						</div>
                						<div style="font-size:0.8em;"><?php echo $this->__('Reward points note') ?></div>
                	        		</div>
                				</div>
                		         <?php else:?>
                		         <?php echo $this->__("<button class=btnPadraoAmarelo onclick=window.location='%s'>LOGIN</button>", Mage::getUrl('customer/account/login',array('mw_re_login' => 1)))?>
                	            <?php endif;?>
                            </div>
                            <div style="clear:both;"></div>
                		</div>
                	</div>
                </form>
                </div>
    </div>
    </div>
   


<?php 
$point = $quote->getMwRewardpoint();
$step = Mage::helper('rewardpoints/data')->getPointStepConfig($store_id);
$min = (int)Mage::helper('rewardpoints/data')->getMinPointCheckoutStore($store_id);
?>

<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/mw_js/jquery.js' ?>" ></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/mw_rewardpoints/accordion.js' ?>" ></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/mw_rewardpoints/mw.reward.slider.js' ?>" ></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/mw_rewardpoints/mw_popup.js' ?>" ></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'js/mw_rewardpoints/js.js' ?>" ></script>

<script>

jQuery.noConflict();

jQuery(document).ready(function() {
        accordion = new Accordion('mw_reward_accordion', { startHidden: false });
		var time = 10;
		var time_new = 3000;
		var timer;

		var maxPoints = <?php echo $this->getMaxPointsToCheckout()?>;
		if(maxPoints == 0) {
			jQuery('.componentePoints').css('display', 'none');
		}
		
		var mw_sider = new MwRewardSlider(
		        'mw_amount',
		        'mw_reward_slider_contaner',
		        'mw_slider',
		        'mw_reward_decr_handle',
		        'mw_reward_incr_handle',
		        <?php echo $min?>,
		        <?php echo $this->getMaxPointsToCheckout()?>,
		        <?php echo $step?>,
		       'mw_label_amount',
		       'mw_use_max_points'   
		        
		    );
		mw_sider.setPointChange(<?php echo $point?>);
		mw_sider.changeRewardPointCallback = runTimer;

		function runTimer()
		{
			clearTimeout(timer);
			setTimeout(function(){ updateRewardPoints(); }, time);
		};

		function updateRewardPoints()
		{
			var amount = jQuery('#mw_amount').val();
			amount = parseInt(amount/<?php echo $step?>) * <?php echo $step?>;
			if(amount < <?php echo $min?>) amount = 0;

			jQuery('#shopping-cart-totals-contaner').css('display', 'none');
			jQuery('#shopping-cart-totals-please-wait').css('display', 'block');
			jQuery('#mw_reward_incr_handle').attr("disabled", true);
			jQuery('#mw_reward_incr_handle').css('opacity', '0.5');
			jQuery('#mw_reward_incr_handle').css('pointer-events', 'none');

			jQuery('#mw_reward_decr_handle').attr("disabled", true);
			jQuery('#mw_reward_decr_handle').css('opacity', '0.5');
			jQuery('#mw_reward_decr_handle').css('pointer-events', 'none');

			jQuery('#mw_slider').attr("disabled", true);
			jQuery('#mw_slider').css('opacity', '0.5');
			jQuery('#mw_slider').css('pointer-events', 'none');

			jQuery('#mw_reward_slider_contaner').attr("disabled", true);
			jQuery('#mw_reward_slider_contaner').css('opacity', '0.5');
			jQuery('#mw_reward_slider_contaner').css('pointer-events', 'none');

			jQuery('#mw_use_max_points').css('opacity', '0.5');
			jQuery('#mw_use_max_points').attr('disabled','disabled')
			jQuery('#mw_use_max_points').css('pointer-events', 'none');

			jQuery('#mw_amount').attr("disabled", true);
			jQuery('#mw_amount').css('opacity', '0.5');
			jQuery('#mw_amount').css('pointer-events', 'none');

			jQuery('.button.button.btn-proceed-checkout.btn-checkout').attr("disabled", true);
			jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('opacity', '0.5');
			jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('pointer-events', 'none');

			jQuery('.btnPadraoEdicaoCinza').attr("disabled", true);
			jQuery('.btnPadraoEdicaoCinza').css('opacity', '0.5');
			jQuery('.btnPadraoEdicaoCinza').css('pointer-events', 'none');

			jQuery('#mw_reward_ok').attr("disabled", true);
			jQuery('#mw_reward_ok').css('opacity', '0.5');
			jQuery('#mw_reward_ok').css('pointer-events', 'none');

			jQuery('.slideThree').attr("disabled", true);
			jQuery('.slideThree').css('opacity', '0.5');
			jQuery('.slideThree').css('pointer-events', 'none');
			

			new Ajax.Request("<?php echo Mage::getUrl('rewardpoints/checkout/rewardpointspost',array('_secure'=>Mage::app()->getFrontController()->getRequest()->isSecure()))?>", {
				   method: 'post',
					   postBody: "rewardpoints="+jQuery('#mw_amount').val(),
			  onSuccess: function(data) {
					   jQuery('#shopping-cart-totals-contaner').html(data.responseText); 
					   jQuery('#shopping-cart-totals-contaner').css('display', 'block');
					   jQuery('#shopping-cart-totals-please-wait').css('display', 'none');
					   
					   jQuery('#mw_reward_incr_handle').css('opacity', '1');
					   jQuery('#mw_reward_incr_handle').attr("disabled", false);
					   jQuery('#mw_reward_incr_handle').css('pointer-events', 'auto');

					   jQuery('#mw_reward_decr_handle').css('opacity', '1');
					   jQuery('#mw_reward_decr_handle').attr("disabled", false);
					   jQuery('#mw_reward_decr_handle').css('pointer-events', 'auto');

					   jQuery('#mw_slider').css('opacity', '1');
					   jQuery('#mw_slider').attr("disabled", false);
					   jQuery('#mw_slider').css('pointer-events', 'auto');

					   jQuery('#mw_reward_slider_contaner').css('opacity', '1');
					   jQuery('#mw_reward_slider_contaner').attr("disabled", false);
					   jQuery('#mw_reward_slider_contaner').css('pointer-events', 'auto');

					   jQuery('#mw_use_max_points').css('opacity', '1');
					   jQuery('#mw_use_max_points').removeAttr('disabled','disabled');
					   jQuery('#mw_use_max_points').css('pointer-events', 'auto');

					   jQuery('#mw_amount').css('opacity', '1');
					   jQuery('#mw_amount').attr("disabled", false);
					   jQuery('#mw_amount').css('pointer-events', 'auto');

					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('opacity', '1');
					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').attr("disabled", false);
					   jQuery('.button.button.btn-proceed-checkout.btn-checkout').css('pointer-events', 'auto');

					   jQuery('.btnPadraoEdicaoCinza').css('opacity', '1');
					   jQuery('.btnPadraoEdicaoCinza').attr("disabled", false);
					   jQuery('.btnPadraoEdicaoCinza').css('pointer-events', 'auto');

					   jQuery('#mw_reward_ok').css('opacity', '1');
					   jQuery('#mw_reward_ok').attr("disabled", false);
					   jQuery('#mw_reward_ok').css('pointer-events', 'auto');

					   jQuery('.slideThree').css('opacity', '1');
					   jQuery('.slideThreek').attr("disabled", false);
					   jQuery('.slideThree').css('pointer-events', 'auto');
					}
			});
		}
		
		jQuery('#mw_reward_ok').live('click', function(event) {
			var mw_amount = jQuery('#mw_amount').val();
			clearTimeout(timer);
			mw_sider.setPointChange(mw_amount);
			setTimeout(function(){ updateRewardPoints(); }, time_new);
		});

// 		jQuery('#mw_amount').live('blur', function(event) {
// 				amount = this.value;
// 				clearTimeout(timer);
// 				mw_sider.setPointChange(amount);
// 				setTimeout(function(){ updateRewardPoints(); }, time_new);
// 		});


		jQuery('#mw_use_max_points').click(function(){
			if(this.checked){
				mw_sider.setPointChange(<?php echo $this->getMaxPointsToCheckout()?>);
			} else {
				mw_sider.setPointChange(0);
			}
			clearTimeout(timer);
			setTimeout(function(){ updateRewardPoints(); }, time_new);
		});
});
</script>

