<div class="section-config active">
<div class="entry-edit-head collapseable">
	<a onclick="Fieldset.toggleCollapse('mcore_mwmodule'); return false;" href="#" id="mcore_mwmodule-head" class="open">MageWorld Extensions</a>
</div>
<input type="hidden" value="1" name="config_state[mcore_mwmodule]" id="mcore_mwmodule-state">

<script type="text/javascript">

var link_activeManual = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/activemanual')?>";
var link_active = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/active')?>";
var link_extendtrial  = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/extendtrial')?>";

var link_remind = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/remind')?>";
var link_spec_remind = "<?php echo  Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/specremind')  ?>";
var link_notdisplay = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/notdisplay') ?>";
var link_spec_notdisplay = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/specnotdisplay') ?>";
var link_hide = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mcore_index/hide')?>";

Event.observe(window, 'load', function() {
		$$('a[id^=mcore_extrial_]').invoke('observe','click',function(field) {
			id = this.id;
			arrid = id.split('_');
			modulename = id.replace("mcore_extrial_","");	
			extendtrial(modulename);
		});

		$$('a[id^=mcore_active_]').invoke('observe','click',function(field){
			id = this.id;
			arrid = id.split('_');
			modulename = id.replace("mcore_active_","");				
			active(modulename,0,"live_site");
		});


		$$('a[id^=mcore_dev_]').invoke('observe','click',function(field){
			id = this.id;
			arrid = id.split('_');
			modulename = id.replace("mcore_dev_","");				
			active(modulename,0,"dev_site");
		});

		$$('a[id^=mcore_remind_]').invoke('observe','click', function(field){
			var module = this.id.replace("mcore_remind_","");			
			new Ajax.Request(link_remind, {
				method: 'post',
				parameters: {"module":module}, 
				onSuccess: function(data){					
						$('mcore_each_notification_'+module).hide();
						if(data.responseText=="hide")
							$('mw_notification').hide();	
				}
				});
		});

		$$('a[id^=mcore_notdisplay_]').invoke('observe','click', function(field){
			var module = this.id.replace("mcore_notdisplay_","");			
			new Ajax.Request(link_notdisplay, {
				method: 'post',
				parameters: {"module":module}, 
				onSuccess: function(data){					
						$('mcore_each_notification_'+module).hide();
						if(data.responseText=="hide")
							$('mw_notification').hide();
				}
				});
		});

		$$('a[id^=mcore_spec_remind_]').invoke('observe','click', function(field){
			var id = this.id.replace("mcore_spec_remind_","");			
			new Ajax.Request(link_spec_remind, {
				method: 'post',
				parameters: {"id":id}, 
				onSuccess: function(data){					
						$('mcore_each_spec_notification_'+id).hide();
						if(data.responseText=="hide")
							$('mw_notification').hide();
				}
				});
		});

		$$('a[id^=mcore_spec_notdisplay_]').invoke('observe','click', function(field){
			var id = this.id.replace("mcore_spec_notdisplay_","");			
			new Ajax.Request(link_spec_notdisplay, {
				method: 'post',
				parameters: {"id":id}, 
				onSuccess: function(data){
						$('mcore_each_spec_notification_'+id).hide();
						if(data.responseText=="hide")
							$('mw_notification').hide();
				}
				});
		});
		
		$$('a[id^=mw_hide]').invoke('observe','click', function(field){
			var module = this.id;			
			new Ajax.Request(link_hide, {
				method: 'post',				 
				onSuccess: function(data){
						$('mw_soap').hide();
						window.location.reload();	
				}
				});
		});
	    
		
	});

function extendtrial(modulename)
{	
		$('loading-mask').show();
		new Ajax.Request(link_extendtrial, {
			method: 'post',
			parameters: {"module":modulename}, 
			onSuccess: function(data){				
				if(data.responseText)
					{																		
						$$('#row_mcore_mwmodule_'+modulename+' .value ')[0].update(data.responseText);																
						window.location.reload();					
					}				 
				$('loading-mask').hide();
			},
			onFailure: function(data){
				var notice= $('mw_mcore_notice_'+modulename)|| "";
				if(notice.length == 0)
					{
						
						$$('#row_mcore_mwmodule_'+modulename+' .value')[0].insert('<div id="mw_mcore_notice_'+modulename+'" class="mw_mcore_notice">Error occured when trying to extend trial.</div>');
					}
					else
					{
						$('mw_mcore_notice_'+modulename+'').innerHTML = 'Error occured when trying to extend trial.';
					}         
					$('loading-mask').hide();
			}
			});
}

function active(modulename,haslink,sitetype)
	{	
			var notice= $('mw_mcore_notice_'+modulename)|| "";
			if(notice.length!=0)
			{
				$('mw_mcore_notice_'+modulename).update("");
			}
	
			mw_link = haslink;
				
			if(!sitetype.length)
				site = "live_site";
			else
				site = sitetype;			
			
			var ordernumber ="";
			if(site=="live_site")
				ordernumber =prompt("ACTIVATE FOR ONE MAGENTO INSTALLATION\nOur license permits you to activate the extension on ONLY ONE Magento installation.\nMake sure you are activating the extension on your LIVE site.\n\nPlease enter your order number or offline activation key:","");
			else
				ordernumber =prompt("ACTIVATE FOR DEVELOPMENT SITE\n\nPlease enter your order number or offline activation key:","");
				
			if(!ordernumber.length)
				orderid = "";
			else
				orderid = ordernumber.trim();

			if(isNumber(orderid))
			{		
				$('loading-mask').show();
				if(orderid.length == 32)
				{		
					var keygen = orderid;				
					new Ajax.Request(link_activeManual, {
						method: 'post',
						parameters: {'module':modulename,'keygen':keygen,'site':site}, 
						onSuccess: function(data){													
							if(data.responseText.search("successfully")!=-1)
							{	
								alert(data.responseText.split(".")[0]);	
								location.reload();
							}
							else
							{	
								if(mw_link==1)
								{
									alert(data.responseText.split(".")[0]);
								}													
								var notice= $('mw_mcore_notice_'+modulename)|| "";
								if(notice.length==0)
								{
									$$('#row_mcore_mwmodule_'+modulename+' .value')[0].insert('<div id="mw_mcore_notice_'+modulename+'" class="mw_mcore_notice">'+data.responseText+'</div>');
								}
								else
								{
									$('mw_mcore_notice_'+modulename).update(data.responseText);
								}
								
							}	
							$('loading-mask').hide();
						},
						onFailure: function(data){
							if(mw_link==1)
							{
								alert('Error occured when trying to activate order.');
							}
							var notice= $('mw_mcore_notice_'+modulename) || "";
							 if(notice.length==0)
								{
									 $$('#row_mcore_mwmodule_'+modulename+' .value')[0].insert('<div id="mw_mcore_notice_'+modulename+'" class="mw_mcore_notice">Error occured when trying to activate order.</div>');
								}
								else
								{
									$('mw_mcore_notice_'+modulename+'').innerHTML = 'Error occured when trying to activate order.';									
								}  
								$('loading-mask').hide();
						}
						});
				}
				else
				{
					new Ajax.Request(link_active, {
						method: 'post',
						parameters: {'orderid':orderid,'module':modulename,'site':site}, 
						onSuccess: function(data){						
							if(data.responseText.search("successfully")!=-1)
							{	
								alert(data.responseText.split(".")[0]);	
								location.reload();
								
							}
							else
							{
								
								if(mw_link==1)
								{
									alert(data.responseText.split(".")[0]);
								}
								var notice= $('mw_mcore_notice_'+modulename)|| "";
								if(notice.length==0)
								{
									$$('#row_mcore_mwmodule_'+modulename+' .value')[0].insert('<div id="mw_mcore_notice_'+modulename+'" class="mw_mcore_notice">'+data.responseText+'</div>');
								}
								else
								{
									$('mw_mcore_notice_'+modulename).update(data.responseText);
								}
							}						
							$('loading-mask').hide();
						},
						onFailure: function(data){	
							if(mw_link==1)
							{	
								alert('Error occured when trying to activate order.');
							}				
							var notice= $('mw_mcore_notice_'+modulename) || "";
							 if(notice.length==0)
								{
									 $$('#row_mcore_mwmodule_'+modulename+' .value')[0].insert('<div id="mw_mcore_notice_'+modulename+'" class="mw_mcore_notice">Error occured when trying to activate order.</div>');
								}
								else
								{
									$('mw_mcore_notice_'+modulename+'').innerHTML = 'Error occured when trying to activate order.';
								}  					           
								$('loading-mask').hide();
						}
						});
				}
			}
}

function isNumber(orderNumber)
{
	
	var arrchar = ["-","_","0","1","2","3","4","5","6","7","8","9","q","w","e","r","t","y","u","i","o","p","a","s","d","f","g","h","j","k","l","z","x","c","v","b","n","m"];	
	if(!orderNumber.length)
		orderNumber = "";
	if(orderNumber.trim() != "" )
	{
		orderNumber = orderNumber.toLowerCase();		
		for(i=0; i< orderNumber.length; i++)
		{
			var kt = false;
			for(j=0; j<arrchar.length; j++)
			{
				if(arrchar[j]==orderNumber[i])
					kt = true;
					continue;
			}
			if(kt == false)
			{			
				alert("Your order id is invalid!");	
				return false;
			}
		}
	}
	else
	{	
		alert("Your order id is invalid!");	
		return false;
	}
	return true;
}

</script>

<fieldset id="mcore_mwmodule" class="config collapseable">
	<legend>MageWorld Extensions</legend>
	<table cellspacing="0" class="form-list">
		<tbody>
		
		<?php
			$extension_info = $this->getExtensionInfo();
			if($extension_info)
			foreach ($extension_info as $extension)
			{ 
				$real_ex = strtolower($extension);
					?>
				<tr id="row_mcore_mwmodule_<?php echo $real_ex; ?>">
					<td class="label">
						<label for="mcore_mwmodule_<?php echo $real_ex; ?>"> <?php echo  Mage::helper('mcore')->getModuleName($extension) ?><br><?php echo  $this->__('Version:').Mage::helper('mcore')->getModuleVersion($extension) ?></label>
					</td>
					<?php if($this->getStatus($extension)=="trial"):?>
						<td class="value"><font class="mw_text_trial"><?php echo $this->__('Your license is currently in Trial Mode')?></font>
						<p class="note">
						<span>
							<?php echo Mage::helper('mcore')->showTimeCheckStatus($extension,"detail"); ?>
							<br>
							<a id="mcore_active_<?php echo $real_ex; ?>" class="mw_active"><?php echo $this->__('Activate for Live site')?></a> 
							
							<span style="padding:5px;">|</span>	
						    <a id="mcore_dev_<?php echo $real_ex; ?>" class="mw_dev"><?php echo $this->__('Activate for Development')?></a> 
						   
						    <span style="padding:5px;">|</span>	
						    <a class="mw_buy" href="<?php echo Mage::helper('mcore')->getModuleUrl($extension);?>" target="_blank"><?php echo $this->__('Buy this module')?></a>					 
						   
						   <span style="padding:5px;">|</span>	
						    <a class="mw_guide" href="http://www.mage-world.com/wiki/index.php?title=License-activation" target="_blank"><?php echo $this->__('Activation Guide')?></a>					 
						   
		 				</span>
		 				</p>
		 				</td>	
	 				<?php endif; ?>
	 				
	 				<?php if($this->getStatus($extension)=="activated"):?>
 							<td class="value"><font class="mw_text_activated"><?php echo $this->__('Your license is currently activated in Live Mode')?></font></td>
 					<?php endif;?>
 					
 					<?php if($this->getStatus($extension)=="disable"):?>
 						<td class="value"><font class="mw_text_disable"><?php echo $this->__('Disabled')?></font>
 						<p class="note"><span>
				                   		 			<?php echo Mage::helper('mcore')->showTimeCheckStatus($extension,"detail"); ?>
				                   		 			<br>				                   		 			
				                   		 			<a id="mcore_active_<?php echo $real_ex; ?>" class="mw_active"><?php echo $this->__('Activate for Live site')?></a> 				                   		 			 
				                   		 			
				                   		 			<span style="padding:5px;">|</span>				                   		 			
					  								<a id="mcore_dev_<?php echo $real_ex; ?>" class="mw_dev"><?php echo $this->__('Activate for Development')?></a> 
				                   		 			 
				                   		 			<span style="padding:5px;">|</span>				                   		 			
				                   		 			<a class="mw_buy" href="<?php echo Mage::helper('mcore')->getModuleUrl($extension);?>" target="_blank"><?php echo $this->__('Buy this module')?></a>
				                   		 			
				                   		 			<span style="padding:5px;">|</span> 
				                   		 			<a id="mcore_extrial_<?php echo $real_ex; ?>" class="mw_extend_trial"><?php echo $this->__('Extend 7 days trial')?></a>
				                   		 		
				                   		 			<span style="padding:5px;">|</span>	
						    						<a class="mw_guide" href="http://www.mage-world.com/wiki/index.php?title=License-activation" target="_blank"><?php echo $this->__('Activation Guide')?></a>					 
						   
				                   		 								                         	
							                     </span></p>
						</td>
 					<?php endif;?>
 					
 					<?php if($this->getStatus($extension)=="dev"):?>
 					 <td class="value"><font class="mw_text_dev"><?php echo $this->__('Your license is currently in Development Mode')?></font>
 					 <p class="note"><span>
				                   		 			<?php echo Mage::helper('mcore')->showTimeCheckStatus($extension,"detail"); ?>
				                   		 			<br> 
				                   		 			<a id="mcore_active_<?php echo $real_ex; ?>" class="mw_active"><?php echo $this->__('Activate for Live site')?></a> 
				                   		 			<span style="padding:5px;">|</span>	
						    						<a class="mw_guide" href="http://www.mage-world.com/wiki/index.php?title=License-activation" target="_blank"><?php echo $this->__('Activation Guide')?></a>					 
						   
				                   		 			</p>
				        </td>
 					<?php endif;?>
 					
 					<?php if($this->getStatus($extension)=="devdis"):?>
 						<td class="value"><font class="mw_text_disable"><?php echo $this->__('Disabled')?></font>
 								<p class="note"><span>
				                   		 			<?php echo Mage::helper('mcore')->showTimeCheckStatus($extension,"detail"); ?>
				                   		 			<br>				                   		 			
				                   		 			<a id="mcore_active_<?php echo $real_ex; ?>" class="mw_active"><?php echo $this->__('Activate for Live site')?></a> 				                   		 			 
				                   		 			
				                   		 			<span style="padding:5px;">|</span>				                   		 			
					  								<a id="mcore_dev_<?php echo $real_ex; ?>" class="mw_dev"><?php echo $this->__('Activate for Development')?></a> 
				                   		 			 
				                   		 			<span style="padding:5px;">|</span>				                   		 			
				                   		 			<a class="mw_buy" href="<?php echo Mage::helper('mcore')->getModuleUrl($extension);?>" target="_blank"><?php echo $this->__('Buy this module')?></a>
				                   		 			
				                   		 			<span style="padding:5px;">|</span> 
				                   		 			<a id="mcore_extrial_<?php echo $real_ex; ?>" class="mw_extend_trial"><?php echo $this->__('Extend 7 days trial')?></a>
				                   		 			
				                   		 			<span style="padding:5px;">|</span>	
						    						<a class="mw_guide" href="http://www.mage-world.com/wiki/index.php?title=License-activation" target="_blank"><?php echo $this->__('Activation Guide')?></a>					 
						   
				                   		 								                         	
							                     </span></p>
					   </td>
 					<?php endif;?>
 			
	 			</tr>
 		<?php 
			}
		?>
 			
			</tr>
 		</tbody>
 	</table>
 </fieldset>



<script type="text/javascript">//&lt;![CDATA[
        Fieldset.applyCollapse('mcore_mwmodule');
        //]]&gt;</script>
		</div>

