<?php
/**
 * Nwdthemes Productslider Extension
 *
 * @package     Productslider
 * @author      Nwdthemes <mail@nwdthemes.com>
 * @link        http://nwdthemes.com/
 * @copyright   Copyright (c) 2014. Nwdthemes
 * @license     http://themeforest.net/licenses/terms/regular
 */

/**
count
title
columns
random

slider_autoscroll
slider_scroll_items
slider_rewind
slider_slide_speed
slider_stop_on_hover
slider_navigation
slider_pagination
slider_pagination_numbers
slider_rtl

slide_item_img_width
slide_item_name
slide_item_price
slide_item_rating
slide_item_cart
slide_item_wishlist
slide_item_compare
 */

$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$psHelper = Mage::helper('productslider');
$slider_id = uniqid('nwd_ps_');

?>

<style>
/* 	.owl-theme .owl-controls .owl-buttons div{  */
/* 		opacity: 1 !important; */
/* 	} */
</style>

<?php if($_productCollection->count()): ?>
<div class="productslider-container <?php echo ( $this->getCfg('slider/rtl') == 'true' ? 'productslider-container-rtl' : '' ); ?> category-products">
	<?php if ($this->getShowTitle() == 'true') : ?>
		<div class="clearfix title-container">
			<h2 class="tituloGaleria"><?php echo $this->__($this->getTitle());?></h2>
		</div>
	<?php endif; ?>
    <ul id="<?php echo $slider_id; ?>" class="owl-carousel productslider-col-<?php echo $this->getColumns() ?> clearfix"
        data-items="<?php echo $psHelper->getSliderItems($this->getColumns()) ?>"
        data-autoscroll="<?php echo $this->getCfg('slider/autoscroll'); ?>"
        data-scroll="<?php echo $this->getCfg('slider/scroll_items'); ?>"
        data-rewind="<?php echo $this->getCfg('slider/rewind'); ?>"
        data-slidespeed="<?php echo $this->getCfg('slider/slide_speed'); ?>"
        data-stoponhover="<?php echo $this->getCfg('slider/stop_on_hover'); ?>"
        data-navigation="<?php echo $this->getCfg('slider/navigation'); ?>"
        data-pagination="<?php echo $this->getCfg('slider/pagination'); ?>"
        data-paginationnumbers="<?php echo $this->getCfg('slider/pagination_numbers'); ?>"
        data-rtl="<?php echo $this->getCfg('slider/rtl'); ?>"
	>
    <?php foreach ($_productCollection as $_product): ?>
	    <li class="item">
	    	<a href="<?php echo $_product->getProductUrl() ?>" style="line-height: normal; color: none;" >
	    <div class="itemFix realceItemHome">
			    <h2 class="product-name" style="text-align: center;">
			    	<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
			    </h2>
		    	<div style="text-align: center;">
		    		
		    			
		    			
					    <img  style="max-width: 100%;"  
					    	  src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" 
					    	  
					    	  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					    <?php echo $this->helper('athlete')->getLabel($_product);  ?>
				    
			    </div>
			    <div class="product-information" style="text-align: center; min-height: 0px;">
				    <?php if ($this->getCfg('slide_item/name')) : ?>
				    <?php endif; ?>
				    <?php if($_product->getRatingSummary() && $this->getCfg('slide_item/rating')): ?>
					    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
				    <?php endif; ?>
				    <?php if ($this->getCfg('slide_item/price')) : ?>
				        <?php echo $this->getPriceHtml($_product, true) ?>
				    <?php endif; ?>
				    <!-- Parcelamento -->
				    <?php if($_product->getTypeId() == 'simple' || $_product->getTypeId() == 'configurable'): ?>
						<?php
						echo '<div class="formatacaoColor2">';
// 								$desconto = 4;
// 								$indice = 3;
// 								$value = ceil($_product->getFinalPrice() / $indice * 100) / 100;
// 								$value = $value - ($value * $desconto ) / 100;
// 								$price = Mage::helper('core')->currency($value, true, false);
// 								echo '<span class="colorPagamento">'. $desconto . '% OFF ' .sprintf('%dx de %s', $indice, $price). '</span><br/>';
								echo '<span class="colorPagamento"> Parcelamento sem juros </span><br/>';
						echo '</div>'; ?>
					<?php endif; ?> 
				     <?php echo Mage::helper('core/mwrewardpoints')->pointsProductListRewardPoints($_product); ?>
			    </div>
			    <div class="actions" style="text-align: center;">
				    <?php if ($this->getCfg('slide_item/cart')) : ?>
					    <?php if($_product->isSaleable()): ?>
						    <button type="button" style="display: none;" title="<?php echo $this->__('Add') ?>" class="has-spinner-menu links-a btnPadraoCreateCall icon-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add') ?></span></span></button>
					    <?php else: ?>
						    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					    <?php endif; ?>
				    <?php endif; ?>
				    <ul class="add-to-links" style="display: none;">
					    <?php if ($this->helper('wishlist')->isAllow() && $this->getCfg('slide_item/wishlist')) : ?>
						    <li><button onclick="location.href='<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>';" class="has-spinner-menu links-a btnPadraoEdicaoCinza"><?php echo $this->__('Wishlist') ?></button></li>
					    <?php endif; ?>
				    </ul>
			    </div>
		    </div>
		    </a>
	    </li>
    <?php endforeach ?>

   </ul>
</div>
<?php endif; ?>
