<?php

/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Customaddress
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
 
 ?>
 
 <script>
	jQuery.noConflict();
	jQuery(function(){
			jQuery('.camposCNPJFirstName').css('display', 'none');
			jQuery('.camposCPFFirstName').css('display', 'none');
	});

</script>
 
 <style>
.base-set-icon-user:before {
    content: "\f007";
    font: normal normal normal 14px/3 FontAwesome;
}

[class*=" form-group base-set-icon-"]:before {
    position: absolute;
    left: 45px;
    margin-top: 3px;
}

[class*=" form-group base-set-icon-"] input {
    padding-left: 33px !important;
    font-family: 'arial';
}

.base-set-icon-telephone:before {
    content: "\f095";
    font: normal normal normal 14px/2 FontAwesome;
}

[class*=" form-group-telephone base-set-icon-"]:before {
    position: absolute;
    left: 43px;
    margin-top: 10px;
}

[class*=" form-group-telephone base-set-icon-"] input {
    padding-left: 33px !important;
    font-family: 'arial';
}

.base-set-icon-cellphone:before {
    content: "\f095";
    font: normal normal normal 14px/2 FontAwesome;
}

.labelCNPJ {
	display: none;
}

.base-set-icon-cep:before {
    content: "\f041";
    font: normal normal normal 14px/3 FontAwesome;
}

[class*=" form-group-cep base-set-icon-"]:before {
    position: absolute;
    left: 45px;
    margin-top: 3px;
}

[class*=" form-group-cep base-set-icon-"] input {
    padding-left: 33px !important;
    font-family: 'arial';
}

.base-set-icon-item:before {
    content: "\f111";
    font: normal normal normal 11px/3.6 FontAwesome;
}

[class*=" form-group-item base-set-icon-"]:before {
    position: absolute;
    left: 45px;
    margin-top: 3px;
}

[class*=" form-group-item base-set-icon-"] input {
    padding-left: 33px !important;
    font-family: 'arial';
}
</style>
 
 <script>
	jQuery.noConflict();
	jQuery(document).ready(function() {

		jQuery(".camposCPFFirstName").attr("placeholder", "*<?php echo $this->__('Full Name') ?>");
		
		var telephoneValue = jQuery("#telephone").val();
		var faxValue = jQuery("#fax").val();
		var zipValue = jQuery("#zip").val();
		var street1Value = jQuery("#street_1").val();
		var street2Value = jQuery("#street_2").val();
		var street3Value = jQuery("#street_3").val();
		var street4Value = jQuery("#street_4").val();
		var cityValue = jQuery("#city").val();
		
		if(telephoneValue == '') {
			jQuery("label[for=telephone]").css('display', 'none');
		}

		if(faxValue == '') {
			jQuery("label[for=fax]").css('display', 'none');
		}

		//
		if(zipValue == ''){
			jQuery("label[for=zip]").css('display', 'none');
		}

		if(street1Value == ''){
			jQuery("label[for=street_1]").css('display', 'none');
		}

		if(street2Value == ''){
			jQuery("label[for=street_2]").css('display', 'none');
		}

		if(street3Value == ''){
			jQuery("label[for=street_3]").css('display', 'none');
		}

		if(street4Value == ''){
			jQuery("label[for=street_4]").css('display', 'none');
		}

		if(cityValue == ''){
			jQuery("label[for=city]").css('display', 'none');
		}

		jQuery('.focusLabel input').on('keyup', function() {
			var value = jQuery(this).val();
			if(value != '') {
				jQuery(this).parents("div").find("label[for=" + this.id + "]").show().text();
			} else {
				jQuery(this).parents("div").find("label[for=" + this.id + "]").hide().text();
			}
		});
	});
</script>

<script type="text/javascript">
jQuery.noConflict();
jQuery(function(){
		jQuery(".footer").css('display', 'none');
});
</script>



<?php 
	$helper = Mage::helper('customaddress');
	$helper->checkStates();
	$storeCode = Mage::app()->getStore()->getLocaleCode();
?>

<?php 
    $defaultBilling = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();
    $defaultBillingOriginal = $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($defaultBilling));
    $defaultBillingValidacao =  str_replace("<br/>","", $defaultBillingOriginal);
    $defaultBillingValidacao = trim($defaultBillingValidacao);
    
    $defaultShipping = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping();
    $defaultShippingOriginal = $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($defaultShipping));
    $defaultShippingValidacao =  str_replace("<br/>","", $defaultShippingOriginal);
    $defaultShippingValidacao = trim($defaultShippingValidacao);
    
    if($defaultBillingValidacao != '' ){
        Mage::getSingleton('core/session')->setBillingContentValue($defaultBillingValidacao);
    }
    
    if($defaultShippingValidacao != '' ){
        Mage::getSingleton('core/session')->setShippingContentValue($defaultShippingValidacao);
    }

?>

	<?php $_billing = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling() ?>
	<?php $_shipping = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping() ?>
        
	<?php $cobranca = false; ?>
    <?php $entrega = false; ?>
	
	<?php if(($defaultBillingValidacao == '') && ($defaultShippingValidacao == '') && ($_billing == '')): ?>
    		<?php $cobranca = true; ?>
    		<?php $entrega = false; ?>
	<?php endif; ?> 

	<?php if(($_shipping == '')  && ($_billing != '')): ?>
			<?php $cobranca = false; ?>
    		<?php $entrega = true; ?>
	<?php endif; ?>


   <?php if($this->isDefaultShipping()): ?>
	 	<?php $cobranca = false; ?>
         <?php $entrega = true; ?>
    <?php endif; ?>
    
    <?php if($this->isDefaultBilling()): ?>
    	  <?php $entrega = false; ?>
         <?php $cobranca = true; ?>
    <?php endif; ?>
    
     <?php if($_billing == $_shipping): ?>
    	 <?php $entrega = false; ?>
         <?php $cobranca = true; ?>
     <?php endif; ?>

<script type="text/javascript">
	var jQuery = jQuery.noConflict();
	jQuery(document).ready(function() {
		jQuery('.state_autocomplete').addClass('validate-select');
		jQuery('.state_autocomplete').addClass('required-entry');
	});
	function getStates() {
		return 	JSON.parse('<?php echo json_encode($_SESSION['states']) ?>');
	}
</script>


<div class="page-title" style="height: 45px;" >
	    <?php if($cobranca): ?>
	         <h2 class="text-center"><?php echo $this->__('Default Billing Address Select') ?></h2>
	    <?php endif; ?>
	    
	    <?php if($entrega): ?>
          <h2 class="text-center"><?php echo $this->__('Default Shipping Address Select') ?></h2>
	    <?php endif; ?>
</div>


<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate">

    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    <div id="blocoEndereco"></div>
	<div class="divBlocos">   
        <ul class="form-list">
            <li class="fields">
                <?php echo $this->getNameBlockHtml() ?>
            </li>
            <?php if ($helper->getCompany() == 1) { ?>
            <li class="wide">
                <label for="company"><?php echo $this->__('Company') ?></label>
                <div class="input-box">
                    <input type="text" name="company" id="company" title="<?php echo $helper->__('Company') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $helper->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                </div>
            </li>
            <?php } ?>
            
            <li class="fields">
                <div class="field focusLabel">
                    <div class="input-box form-group-telephone focusLabel">
                    	<label for="telephone" class="required labelCustom"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <input type="tel"  placeholder="*<?php echo $this->__('Telephone') ?>" name="telephone"<?php echo $helper->addMask(17, $storeCode);?> value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="inputMask input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" />
                    </div>
                </div>
                <div class="field focusLabel">
                    <div class="input-box form-group-telephone focusLabel">
                    	<label for="fax" class="labelCustom"><?php echo $this->__('Cellphone') ?></label>
                        <input type="tel" name="fax" placeholder="<?php echo $this->__('Fax') ?>" id="fax"<?php echo $helper->addMask(17, $storeCode);?> title="<?php echo $helper->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" class="inputMask input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
                    </div>
                </div>
            </li>
        </ul>
      </div>
      </br>
	  <div class="divBlocos">       
        <ul class="form-list">
        	<li class="fields">        		
                <div class="field">
                     <div class="input-box form-group-cep focusLabel">
                    	<label for="zip" class="required labelCustom"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <input placeholder="*<?php echo $this->__('Zip/Postal Code') ?>" type="tel"<?php echo $helper->getAutoComplete('zip_autocomplete', true, false) . $helper->addZipMask($storeCode);?> name="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text  validate-zip-international<?php echo $helper->getAutoComplete(' zip_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                    </div>
                </div>
        	</li>
            <li class="fields">
            	<div class="field">
                    <div class="input-box form-group-item focusLabel">
                    	<label for="street_1" class="required labelCustom"><em>*</em><?php echo $helper->__('Address') ?></label>
                        <input type="text" placeholder="*<?php echo $helper->__('Address') ?>" title="<?php echo $helper->__('Address') ?>" name="street[]" id="street_1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street1_autocomplete');?>" />
                    </div>
				</div>
				<div class="field">
                    <div class="input-box form-group-item focusLabel">
                    	<label for="street_2" class="required labelCustom"><em>*</em><?php echo $helper->__('Number') ?></label>
                        <input type="text" placeholder="*<?php echo $helper->__('Number') ?>" title="<?php echo $helper->__('Number') ?>" name="street[]" id="street_2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input-text required-entry" />
                    </div>
				</div>
			</li>
			<li class="fields">
            	<div class="field">
                     <div class="input-box form-group-item focusLabel">
                    	<label for="street_3" class="required labelCustom"><em>*</em><?php echo $helper->__('Region') ?></label>
                        <input type="text" placeholder="*<?php echo $helper->__('Region') ?>"  title="<?php echo $helper->__('Region') ?>" name="street[]" id="street_3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' street3_autocomplete');?>" />
                    </div>
				</div>
				<div class="field ">
                     <div class="input-box form-group-item focusLabel">
                    	<label for="street_4" class="labelCustom"><?php echo $helper->__('Complement') ?></label>
                        <input type="text" placeholder="*<?php echo $helper->__('Complement') ?>" title="<?php echo $helper->__('Complement') ?>" name="street[]" id="street_4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input-text" />
                    </div>
				</div>
			</li>
            <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
            <li class="wide">
                <div class="input-box form-group-item base-set-icon-item focusLabel">
                	<label for="vat_id" class="labelCustom"><?php echo $this->__('VAT Number') ?></label>
                    <input type="text" placeholder="*<?php echo $this->__('VAT Number') ?>" name="vat_id" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" id="vat_id" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                </div>
            </li>
            <?php endif; ?>
            <li class="fields">
                <div class="field">
                     <div class="input-box form-group-item focusLabel">
                    	<label for="city" class="required labelCustom"><em>*</em><?php echo $this->__('City') ?></label>
                        <input type="text" placeholder="*<?php echo $this->__('City') ?>"  name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text<?php echo $helper->getAutoComplete(' city_autocomplete ') . $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                    </div>
                </div>
                <div class="field">
                    <label class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                    <div class="input-box">
                        <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select required-entry<?php echo $helper->getAutoComplete(' state_autocomplete');?>" style="display:none;">
                           <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                        </select>
                        <script type="text/javascript">
                        //<![CDATA[
                            $('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                        //]]>
                        </script>
                        <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text required-entry<?php echo $helper->getAutoComplete(' state_autocomplete') . $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
                    </div>
                </div>
            </li>
            <li class="fields"<?php if ($helper->getCountry() == 0) { echo ' style="display:none;"'; } ?>>
                <div class="field">
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <div class="input-box">
                        <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                </div>
            </li>
            <li>
                <?php if($cobranca): ?>
 					<input type="hidden" name="default_billing" value="1" /> 
            	 <?php endif; ?>
            </li>
            <li>
                <?php if($entrega): ?>
                    <input type="hidden" name="default_shipping" value="1" />
                <?php endif; ?>
            </li>
        </ul>
    </div>
    <div class="divBlocos">
        <p class="required" style="padding: 0 0 0;"><?php echo $this->__('* Required Fields') ?></p>
        <button data-action="save-customer-address" type="submit" title="<?php echo $this->__('Save Address') ?>" class="btnPadraoCreateCall"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
		<p>&nbsp</p>
		<button type="button" class="has-spinner btnPadraoEdicaoCallCinza"  onclick="window.location='<?php echo $this->escapeUrl($this->getBackUrl()) ?>';"><?php echo $this->__('Back') ?></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
//]]>
</script>
