<?php 
/**
 * @name         :  Apptha QR Code for Magento
 * @version      :  1.0
 * @since        :  Magento 1.5
 * @author       :  Apptha - http://www.apptha.com
 * @copyright    :  Copyright (C) 2011 Powered by Apptha
 * @license      :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Date:  Nov 19 2011
 * 
 * */?>
<?php $frontimg = $this->getFrontendImage();?>
<?php if($frontimg){ ?>
<div class="block block-qrcode estimateProduct">
 	<div class="block-title padraoProdutoFonte"> 
		<strong><span style="font-size: 16px !important"><?php echo $this->__('QR Code') ?></span></strong> 
	</div>
	<div class="block-content">
		<?php $url = str_ireplace( 'http:', 'https:', $this->getFrontendImage() ); ?>
		<?php echo $url ?>
     </div> 
</div>
<?php }?>
         