<div class="homepage">
	<?php echo $this->getLayout()->createBlock('page/html')->setTemplate('page/html/slider.phtml')->toHtml(); ?>
	<div><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homepage-hunter-mobile')->toHtml() ?></div>
	<div style="display: block;">
		<?php echo $this->getLayout()->createBlock('page/html')->setTemplate('page/html/informacao_entrega_pagamento_boleto.phtml')->toHtml(); ?>
	</div>
	<div><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pt001m2-pagamentos')->toHtml() ?></div>
	<div><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pt001m2-galeria-produtos')->toHtml() ?></div>
</div>