<style>
#tudoPg {
	width: 100%;
}

#tudoPg1 {
	position:relative;
	width: 30%;
	margin-left: 10px;
}
#tudoPg2 {
	position: relative;
	width:  30%;
}

#tudoPg3 {
	position: relative;
	width:  30%;
}

.estiloPg {
	text-transform: uppercase;
	color: #000;
	font-size: 10px;
    font-weight: 720;
}

.estiloPg2 {
	text-transform: uppercase;
	color: #808080;
	font-size: 10px;
    font-weight: 720;
}

#logo_home_mobile ul > li a {
	line-height: 10px !important;
}


#logo_home_mobile ul {
    margin:0;
    padding:0;
    display:inline-block;
    margin-top: 5px;
}

#logo_home_mobile ul > li{
	float:left;
	padding:1px 1px;
	list-style-type:none;
}

.estiloPg:after{content:""; display:block; clear:both}

</style>

<div id="logo_home_mobile">
	<ul id="tudoPg" style="text-align: center;">
		<li id="tudoPg1">
			<a href="/frete-gratis">
				<div>
					<i class="fa fa-truck" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Tracking Title Shipping') ?></span>
				</div>
				<div>
					<span class="estiloPg2"><?php echo $this->__('Tracking Title Description') ?></span>
				</div>
			</a>
		</li>
		<li id="tudoPg2" style="line-height: 9px;">
				<div>
					<i class="fa fa-barcode" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Barcode Title') ?></span>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Barcode Description') ?></span>
				</div>
		</li>
		<li id="tudoPg3" style="line-height: 9px;">
			<a href="/hunter-points">
				<div>
					<i class="fa fa-trophy" style="font-size: 50px; color: #000"></i>
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Hunterpoints Title') ?></span> 
				</div>
				<div>
					<span class="estiloPg"><?php echo $this->__('Hunterpoints Description') ?></span>
				</div>
				<div>
					<span class="estiloPg2"><?php echo $this->__('Hunterpoints More') ?></span>
				</div>
			</a>
		</li>
	</ul>
</div>