<style>
	.mobile {
		color: #000 !important;
		width: 100%;
		left: -10px;
		background-color: #ba1400;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
		overflow-x: hidden;
	}

	.mobile .links .title, #custom-texts .title, .payment-methods .title {
		font-size: 16px;
		margin-bottom: 10px;
		padding-top: 10px;
		display: block;
		text-transform: uppercase;
		font-family: "Open Sans", Arial, sans-serif;
	}
	
	.mobile #footerCustom ul li a:after {
		display: inline-block;
		content: "\f054";
		font: normal normal normal 20px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -6px;
	}
	
	.mobile #footerCustom ul li a {
		display: block;
		position: relative;
		border-radius: 2px;
		text-decoration: none;
		margin: 2px 0;
		border-bottom-width: 0.5px;
		padding-left: 15px;
		background-color: #c74232;
	}
	
	.mobile #footerCustom a {
		color: rgba(255,255,255,0.9);
	}
	
	.mobile .links ul {
		list-style: none;
		margin: 0 0 10px;
		padding: 0;
		font-family: "Open Sans", Arial, sans-serif;
	}
	
	.mobile .links li {
		border-bottom: none !important;
	}
	
	
	<!-- TESTE -->
	

body {
  overflow: hidden;
}

	
</style>

<div class="footerBackground">
	<div class="wrap-1">
      <div class="wrap-1 inputFooter">
        	<input type="radio" id="tab-1" name="tabs">
        	<label for="tab-1"><div><?php echo $this->__('About Hunter') ?></div><div class="cross"></div></label>
       		<div class="content">
        		<div class="links">
            		<ul class="first last">
            			<li class="first odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL About the Company') ?>"><?php echo $this->__('About Company') ?></a></li>
            			<li class="even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Privacy Policy') ?>" target="_self"><?php echo $this->__('Privacy Policy') ?></a></li>
            			<li class="odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Blog') ?>" target="_blank"><?php echo $this->__('Blog') ?></a></li>
            			<li class="odd divMargemTam">
            				<div style="text-align: center;" class="title"><?php echo $this->__('Logistic operator') ?></div>
            				<div onclick="javascript:vopenabcommpratika()" style="text-align: center;">
            					<img src="<?php echo $this->getSkinUrl('images/logistico/pratika.jpg')?>" 
            				 	  	 title="<?php echo $this->__('Pratika Logistica') ?>" alt="<?php echo $this->__('Pratika Logistica') ?>" width="70" />
            				</div>
            			</li>
            			<li class="odd divMargemTam">
            				<div style="text-align: center;" class="title divMargemTam"><?php echo $this->__('Shipping Company') ?></div>
        					<div style="text-align: center;">
        						<img src="<?php echo $this->getSkinUrl('images/transportadora/correios-logo.jpg')?>" width="150" />
        					</div>
            			</li>
            			
            			<li class="odd divMargemTam">
            				<div class="title divMargemTam"><?php echo $this->__('Safety') ?></div>
        					<div onclick="javascript:vopenabcommselo()">
        							<img style="margin-top: 4px;" 
        								 alt="<?php echo $this->__('Silver Profissional') ?>" 
        								 title="<?php echo $this->__('Silver Profissional') ?>" 
        								 src="<?php echo $this->getSkinUrl('images/selos/certificado-ecommerce-prata.png')?>" 
        								 width="71px" />
        					</div>
            			</li>
            			
            			<li class="odd divMargemTam">
            				<div onclick="javascript:vopenabcomm()">
							<img style="margin-top: 4px;" 
								 alt="<?php echo $this->__('Association abcomm') ?>" 
								 title="<?php echo $this->__('Association abcomm') ?>" 
								 src="<?php echo $this->getSkinUrl('images/selos/selo_empresa_associada.png')?>" 
								 width="55px" />
							</div>
            			</li>
            			
            			<li class="odd divMargemTam">
            				<div onclick="javascript:vopenw()">
							<img alt="McafeeSecure" title="McafeeSecure" 
        							src="<?php echo $this->getSkinUrl('images/seguranca/McafeeSecure.jpg')?>" 
        							width="95px" />
        					</div>
            			</li>
            			
            			<li class="odd divMargemTam">
            				<div onclick="javascript: vopenabcommkonduto()">
							<img alt="Konduto" 
								 title="Konduto" 
								 src="<?php echo $this->getSkinUrl('images/seguranca/selo-konduto.jpg')?>" 
								 width="90px" />
        					</div>
            			</li>
            			<li class="odd divMargemTam">
            				<div onclick="window.open('https://www.sitelock.com/verify.php?site=hunterforcesuplementos.com.br','SiteLock','width=400,height=400,left=160,top=170');" href="#">
								<img class="img-responsive" title="SiteLock" alt="SiteLock" src="//shield.sitelock.com/shield/hunterforcesuplementos.com.br" />
							</div>
            			</li>
            			
            			<li class="odd divMargemTam">
            				<span id="siteseal">
							<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=wwbsWnfgaO7RNmip7QXPDRWWJPW4khDgnyQ3rf5NB7vplwHJad8bQPl0nTlL" async=""></script>
							</span>
            			</li>
            		</ul>
        		</div>
        	</div>
    	</div>
  </div>

  <div class="wrap-2 inputFooter">
    <input type="radio" id="tab-2" name="tabs">
    <label for="tab-2"><div><?php echo $this->__('Help and Support.') ?></div><div class="cross"></div></label>
    <div class="content">
		<div class="links">
			<ul class="first last">
				<li class="first odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Register') ?>" target="_self"><?php echo $this->__('Register') ?></a></li>
				<li class="even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL How to buy') ?>" target="_self"><?php echo $this->__('How to buy') ?></a></li>
				<li class="odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Delivery and Freight') ?>" target="_self"><?php echo $this->__('Delivery and Freight') ?></a></li>
				<li class="even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Payments') ?>" target="_self"><?php echo $this->__('Payments') ?></a></li>
				<li class="odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Exchange of Returns') ?>" target="_self"><?php echo $this->__('Exchange of Returns') ?></a></li>
				<li class="even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Consumer rights') ?>" target="_self"><?php echo $this->__('Consumer rights') ?></a></li>
				<li class="last even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Contact us') ?>" target="_self"><?php echo $this->__('Contact us') ?></a></li>
			</ul>
		</div>
	</div>
  </div>

  <div class="wrap-3 inputFooter">
    <input type="radio" id="tab-3" name="tabs">
    <label for="tab-3"><div><?php echo $this->__('Customers area.') ?></div><div class="cross"></div></label>
    <div class="content">
		<div class="links">
			<ul class="first last">
				<li class="first odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Service Channels') ?>" target="_self"><?php echo $this->__('Service Channels') ?></a></li>
				<li class="odd"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Loyalty') ?>" target="_self"><?php echo $this->__('Loyalty') ?></a></li>
				<li class="even"><a class="has-spinner-menu links-a" href="<?php echo $this->__('URL Common questions') ?>" target="_self"><?php echo $this->__('Common questions') ?></a></li>
			</ul>
		</div>
	</div>
  </div>
  
  <div class="wrap-4 inputFooter">
    <input type="radio" id="tab-4" name="tabs">
    <label for="tab-4"><div><?php echo $this->__('About Payments') ?></div><div class="cross"></div></label>
    <div class="content">
    	<ul class="first last">
    		<div><?php echo $this->__('About Cards') ?></div>
        	<li class="first odd espacamentoTitulo" style="text-align: center;">
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_visa.gif')?>" height="25" />
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_mastercard.gif')?>" height="25" />
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/elo.png')?>" height="25" /> 
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/amex.gif')?>" height="25" /> 
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_diners.gif')?>" height="25" />  
            </li>
            
        </ul>
        <br/>
        <ul class="first last">
            <div><?php echo $this->__('About Billet') ?></div>
            <li class="first odd">
            	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_boleto.gif')?>" />  
            </li>
        </ul>
    </div>
  </div>
</div>

<p><a class="voltarTopo" style="display: block;"><i class="icon-angle-up"></i></a></p>
<p><a class="whatsappBotao" target="_blank" href="<?php echo $this->__('Call WhatsApp') ?>">
	<img src="<?php echo $this->getSkinUrl('images/botao-whatsapp-hunterforce-1.png')?>" width="60" />
</a></p>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mcaffe/mcaffe.js') ?>" async=""></script> 
<script type="text/javascript">
	function vopenw() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
	                sw = window.open('https://www.mcafeesecure.com/verify?host=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	function vopenabcomm() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
	                sw = window.open('http://abcomm.org/certificado.php?url=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	function vopenabcommselo() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	                sw = window.open('http://certificados.comschool.com.br/hunterforce', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	
	function vopenabcommvindi() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('https://www.vindi.com.br/sobre', 'CRSN_Splash', tbar);
	    sw.focus();
	}
	
	function vopenabcommpratika() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('http://www.pratikalogistica.com.br/servicos', 'CRSN_Splash', tbar);
	    sw.focus();
	}
	
	function vopenabcommkonduto() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('https://www.konduto.com/pt', 'CRSN_Splash', tbar);
	    sw.focus();
	}
</script>