<div class="my-account divMargemPreco">
<div class="dashboard">
	<div class="col2-set">
		<div class="col-1">
			<div class="info-box">
				<h3 class="box-title"><?php echo $this->__('Installment') ?></h3>
		            <div class="box-content" style="background: transparent;">
		            	 <div class="std">
							<?php
								$vezes = 6;
								
								echo '<div>';
								for ($indice = 1; $indice <= 10; $indice++) {
										$value = ceil($_product->getFinalPrice() / $indice * 100) / 100;
										$price = Mage::helper('core')->currency($value, true, false);
										echo '<span>'.sprintf('%dx de %s', $indice, $price). ' sem juros</span><br/>';
								}
								echo '</div> <br/>';
							?>
						</div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>