<style>
.mobile #footerCustom {
		color: #000;
		width: 100%;
		position: relative;
		background-color: #fff;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	    padding-bottom: 10px;
		
	}
	
	.mobile .links .title, #custom-texts .title, .payment-methods .title {
		font-size: 16px;
		margin-bottom: 10px;
		padding-top: 10px;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
	}
	
	.mobile #footerCustom a {
		color: rgba(255,255,255,0.9);
	}
	
	.mobile .links ul {
		list-style: none;
		margin: 0 0 10px;
		padding: 0;
	}
</style>
<div class="mobile">
<div id="footerCustom" style="margin-top: -52px;">
<div id="wrapper">
<div id="custom-texts">
<div id="custom-text-3" class="component custom-text">
<div class="header">&nbsp;</div>
<div class="legend"><b style="padding-left: 15px;" class="title">Forma de pagamento</b></div>
<div class="content">
<div class="links">
<ul class="first last">

<li class="first odd espacamentoTitulo" style="text-align: center;">
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_visa.gif')?>" height="25" />
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_mastercard.gif')?>" height="25" />
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/elo.png')?>" height="25" /> 
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/amex.gif')?>" height="25" /> 
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_diners.gif')?>" height="25" />  
	<img  title="" src="<?php echo $this->getSkinUrl('images/pagamentos/logos/fp_boleto.gif')?>" height="25" />  
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
