<style>
.mobile #segurancaCustom {
	color: #ba1400 !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.mobile #segurancaCustom ul li a {
    display: block;
    position: relative;
    border-radius: 2px;
    text-decoration: none;
    margin: 2px 0;
    border-bottom-width: 0.5px;
    padding-left: 15px;
}

#segurancaCustom ul {
    width:100px;
    height:auto;
    margin:0;
    padding:0;
    display:inline-block;
}

.mobile .title {
	font-size: 16px;
	margin-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}

.fundoSeguranca {
	background: #fff;
	margin-bottom: -5px;
}

.divMargemTam {
	margin-top: 20px;
}

</style>

<div class="mobile fundoSeguranca">
	<div id="segurancaCustom">
		<div class="info-two info-content clearfix">
			<div>
				<div><strong style="text-align: center;" class="title"><?php echo $this->__('Logistic operator') ?></strong></div>
				<div onclick="javascript:vopenabcommpratika()" style="text-align: center;">
					<img src="<?php echo $this->getSkinUrl('images/logistico/pratika.jpg')?>" 
				 	  	 title="<?php echo $this->__('Pratika Logistica') ?>" alt="<?php echo $this->__('Pratika Logistica') ?>" width="70" />
				</div>
			</div>
			
			<div>
				<div><strong style="text-align: center;" class="title divMargemTam"><?php echo $this->__('Shipping Company') ?></strong></div>
					<div style="text-align: center;" >
						<img src="<?php echo $this->getSkinUrl('images/transportadora/transfolha.jpg')?>" width="150" />
					</div>
					<div style="text-align: center;">
						<img src="<?php echo $this->getSkinUrl('images/transportadora/correios-logo.jpg')?>" width="150" />
					</div>
			</div>
			<div style="text-align: center;">
				<div><strong class="title divMargemTam"><?php echo $this->__('Safety') ?></strong></div>
					<div onclick="javascript:vopenabcommselo()">
							<img style="margin-top: 4px;" 
								 alt="<?php echo $this->__('Silver Profissional') ?>" 
								 title="<?php echo $this->__('Silver Profissional') ?>" 
								 src="<?php echo $this->getSkinUrl('images/selos/certificado-ecommerce-prata.png')?>" 
								 width="71px" />
					</div>
					<div onclick="javascript:vopenabcomm()">
							<img style="margin-top: 4px;" 
								 alt="<?php echo $this->__('Association abcomm') ?>" 
								 title="<?php echo $this->__('Association abcomm') ?>" 
								 src="<?php echo $this->getSkinUrl('images/selos/selo_empresa_associada.png')?>" 
								 width="55px" />
					</div>
					<div onclick="javascript:vopenw()">
							<img alt="McafeeSecure" title="McafeeSecure" 
							src="<?php echo $this->getSkinUrl('images/seguranca/McafeeSecure.jpg')?>" 
							width="95px" />
					</div>
					<div onclick="javascript: vopenabcommkonduto()">
							<img alt="Konduto" 
								 title="Konduto" 
								 src="<?php echo $this->getSkinUrl('images/seguranca/selo-konduto.jpg')?>" 
								 width="90px" />
					</div>
					<div onclick="window.open('https://www.sitelock.com/verify.php?site=hunterforcesuplementos.com.br','SiteLock','width=400,height=400,left=160,top=170');" href="#">
								<img class="img-responsive" title="SiteLock" alt="SiteLock" src="//shield.sitelock.com/shield/hunterforcesuplementos.com.br" />
					</div>
					<div style="margin-left: 15px; margin-top: 2px;">
						<span id="siteseal">
							<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=wwbsWnfgaO7RNmip7QXPDRWWJPW4khDgnyQ3rf5NB7vplwHJad8bQPl0nTlL" async=""></script>
							</span>
					</div>
			</div>
		</div>
	</div>
</div>

<p><a class="voltarTopo" style="display: block;"><i class="icon-angle-up"></i></a></p>
<p><a class="whatsappBotao" target="_blank" href="<?php echo $this->__('Call WhatsApp') ?>">
	<img src="<?php echo $this->getSkinUrl('images/botao-whatsapp-hunterforce-1.png')?>" width="60" />
</a></p>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mcaffe/mcaffe.js') ?>" async=""></script> 
<script type="text/javascript">
	function vopenw() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
	                sw = window.open('https://www.mcafeesecure.com/verify?host=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	function vopenabcomm() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=700,height=535';
	                sw = window.open('http://abcomm.org/certificado.php?url=hunterforcesuplementos.com.br', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	function vopenabcommselo() {
	                tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	                sw = window.open('http://certificados.comschool.com.br/hunterforce', 'CRSN_Splash', tbar);
	                sw.focus();
	            }
	
	function vopenabcommvindi() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('https://www.vindi.com.br/sobre', 'CRSN_Splash', tbar);
	    sw.focus();
	}
	
	function vopenabcommpratika() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('http://www.pratikalogistica.com.br/servicos', 'CRSN_Splash', tbar);
	    sw.focus();
	}
	
	function vopenabcommkonduto() {
	    tbar = 'location=no,status=yes,resizable=yes,scrollbars=yes,width=1100,height=535';
	    sw = window.open('https://www.konduto.com/pt', 'CRSN_Splash', tbar);
	    sw.focus();
	}
</script>