 <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
 </script>
    
<style>
	/* DEMO 2 */
	 .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .estiloSlider {
    	background: -moz-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(77,0,0,1)), color-stop(50%, rgba(255,0,0,1)), color-stop(100%, rgba(77,0,0,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ie10+ */
		background: linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D0000', endColorstr='#4D0000',GradientType=1 ); /* ie6-9 */
    }
    
    .button_sliding_bg {
	    color: #FFF;
	    font-size: 14px;
	    font-weight: bold;
	    text-transform: uppercase;
	    display: inline-block;
	    text-align: center;
		position: absolute;
		opacity: 0.6;
	}

	.button {
	  background-color: #ff2207;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  border: none;
	  color: #FFFFFF;
	  cursor: pointer;
	  display: inline-block;
	  font-family: 'Open Sans', Arial, Helvetica;
	  font-size: 5vw; 
	  padding: 1% 1%;
	  text-align: center;
	  text-decoration: none;
	  margin-top: 25%;
	  font-weight: 800;
	}
	
	.glow {
        -webkit-animation-duration: 1s;
        -webkit-animation-name: glow;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-name: glow;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    
    }
    
    @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px yellow; }
        to { text-shadow: 0 0 10px yellow; }
    }
	
/* 	@-webkit-keyframes glowing { */
/* 	  0% { background-color: #ba1400; -webkit-box-shadow: 0 0 3px #ba1400; } */
/* 	  50% { background-color: #ff2207; -webkit-box-shadow: 0 0 3px #ff2207; } */
/* 	  100% { background-color: #ff9e07; -webkit-box-shadow: 0 0 3px #ff9e07; } */
/* 	} */
	
/* 	@-moz-keyframes glowing { */
/* 	  0% { background-color: #ba1400; -moz-box-shadow: 0 0 3px #ba1400; } */
/* 	  50% { background-color: #ff2207; -moz-box-shadow: 0 0 3px #ff2207; } */
/* 	  100% { background-color: #ff9e07; -moz-box-shadow: 0 0 3px #ff9e07; } */
/* 	} */
	
/* 	@-o-keyframes glowing { */
/* 	  0% { background-color: #ba1400; box-shadow: 0 0 3px #ba1400; } */
/* 	  50% { background-color: #ff2207; box-shadow: 0 0 3px #ff2207; } */
/* 	  100% { background-color: #ff9e07; box-shadow: 0 0 3px #ff9e07; } */
/* 	} */

/* 	@keyframes glowing { */
/* 	  0% { background-color: #ba1400; box-shadow: 0 0 3px #ba1400; } */
/* 	  50% { background-color: #ff2207; box-shadow: 0 0 3px #ff2207; } */
/* 	  100% { background-color: #ff9e07; box-shadow: 0 0 3px #ff9e07; } */
/* 	} */
	
/* 	.button { */
/* 	  -webkit-animation: glowing 500ms infinite; */
/* 	  -moz-animation: glowing 500ms infinite; */
/* 	  -o-animation: glowing 500ms infinite; */
/* 	  animation: glowing 500ms infinite; */
/* 	}	 */
</style>
<div class="swiper-container horizontal">
  <div class="swiper-wrapper">
    <div class="swiper-slide estiloSlider" >
    	<a href="/whey-zero-isolado-black-skull"><img style="width: 100%" src="<?php echo $this->getSkinUrl('images/home_slider/hunteforce_promocao_whey_zero_isolado_baixo_carboidrato_gordura_blackskull_refil_837g.jpg')?>" onclick="window.location.href='/whey-zero-isolado-black-skull'"/></a>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination horizontal"></div>
</div>


<!-- Initialize Swiper -->
<script>

  var swiper = new Swiper('.swiper-container.horizontal', {
    pagination: '.swiper-pagination.horizontal',
    direction: 'horizontal',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 30,
    autoplay: 5000,
    spaceBetween: 30,
    mousewheelControl: true,
    loop: true
  });

</script>
		