<style>
.mobileSocial #footerSocial {
		width: 100%;
		padding: 10px 10px;
		left: -10px;
		position: relative;
		background-color: #f0f0f0;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
		text-align: center;
		  overflow-x: hidden;
	}
	
	.mobileSocial .links .title, #custom-texts .title, .payment-methods .title {
		font-size: 16px;
		margin-bottom: 10px;
		padding-top: 10px;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
	}
	
	.mobileSocial #footerSocial {
		padding-bottom: 10px;
		margin: 0 auto;
		color: #000;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}
	
	.mobileSocial #footerSocial ul li a {
		display: inline;
		padding: 5px;
		font-size: 12px;
		position: relative;
		border-radius: 2px;
		text-decoration: none;
		margin: 2px 0;
	}
	
	.mobileSocial #footerSocial a {
		color: #000;
	}
	
	.mobileSocial .links ul {
		list-style: none;
		margin: 0 0 10px;
		padding: 0;
	}
	.espacamento {
	    padding-right: 10px;
	}
	
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #ffff66;
  }
  to {
    box-shadow: 0 0 10px 10px #ffff66;
  }
}
</style>
<div class="mobileSocial">
	<div id="footerSocial">
<!-- 		<span class="espacamento"> -->
<!--			<a href="tel:6365783604" rel="external" data-role="button"><i class="fa fa-whatsapp" style="font-size: 30px;"></i></a> -->
<!-- 		</span>  -->
		<span class="espacamento">
			<a title="facebook" target="_blank" href="https://www.facebook.com/hunterforcesuplementos"><i class="fa fa-facebook-square" style="font-size: 30px;"></i></a>
		</span> <span class="espacamento">
			<a target="_blank" href="<?php echo $this->__('URL twitter') ?>"><i class="fa fa-twitter-square" style="font-size: 30px;"></i></a>
		</span> 
		<span class="espacamento">
			<a target="_self" title="<strong><?php echo $this->__('Contact us') ?>" href="mailto:<?php echo $this->__('Contact email') ?>" itemprop="email"><i class="fa fa-envelope" style="font-size: 29px;"></i></a>
		</span>
		<span class="espacamento">
			<a target="_blank" href="<?php echo $this->__('URL Youtube') ?>"><i class="fa fa-youtube-play" style="font-size: 30px;"></i></a>
		</span>
		<span class="espacamento">
			<a target="_blank" href="<?php echo $this->__('URL Instagram') ?>"><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
		</span>
		<div>
			<ul style="margin-top: 25px;">
				<li><a href="tel:01131355886 " rel="external" data-role="button"><i class="fa fa-phone-square" style="font-size: 30px;"></i> <span style="font-size: 29px;"><?php echo $this->__('Number Phone') ?></strong></span></a></li>
			</ul>
		</div>
	</div>
</div>