<?php
$ticketId = $this->getRequest()->getParam('id');
$collection = Mage::getModel('emipro_ticketsystem/ticketsystem')->load($ticketId);
$status = $collection->getStatusId();

$ticketStatus = Mage::getModel('emipro_ticketsystem/ticketstatus')->load($status);
$ticketPriority = Mage::getSingleton('emipro_ticketsystem/ticketpriority')->load($collection->getPriorityId());
$ticketDepatment = Mage::getSingleton('emipro_ticketsystem/ticketdepartment')->load($collection->getDepartmentId());

$currentDate = date('Y-m-d H:i', time());
$orders = Mage::getModel('sales/order')->load($collection->getOrderid(), "increment_id");
$customer_name = $collection->getCustomerName();
if ($collection->getCustomerId()) {
    $customer_name = Mage::helper('emipro_ticketsystem')->getCustomerName($collection->getCustomerId());
}
$admin = Mage::getSingleton('admin/session')->getUser();
$admin_name = $admin->getFirstname() . " " . $admin->getLastname();

$assignee = Mage::getSingleton('admin/user')->load($collection->getAssignAdminId());
$assignee_name = $assignee->getFirstname() . " " . $assignee->getLastname();
?>
<script>
//<![CDATA[
    function reply()
    {
        editForm.submit($('edit_form').action + 'back/edit/');
    }

    function assign1()
    {
        editForm.submit($('edit_form').action + 'assign/edit/');
    }
//]]>
</script>
<div class="box-rigth" style="width:100%!importnat">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Information') ?></h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Status') ?></label></td>
                    <td class="value"><strong><?php echo $ticketStatus->getStatus(); ?></strong></td>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Priority') ?></label></td>
                    <td class="value"><strong><?php echo $this->__($ticketPriority->getPriority()); ?></strong></td>
                </tr> 
                <tr>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket ID') ?></label></td>
                    <td class="value"><strong><?php echo $collection->getTicketId(); ?></strong></td>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Order ID') ?></label></td>
                    <td class="value"><strong>
                            <?php if ($collection->getOrderid()): ?>
                                <a target="_blank" href="<?php echo $this->getUrl('adminhtml/sales_order/view/order_id/' . $orders->getEntityId()) ?>"><?php echo $collection->getOrderid(); ?></a>
                            <?php endif; ?>
                        </strong></td>
                </tr>  
                <tr>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Customer Name') ?></label></td>
                    <td class="value"><strong>
                            <?php if ($collection->getCustomerId()): ?>
                                <a target="_blank" href="<?php echo $this->getUrl('adminhtml/customer/edit/id/' . $collection->getCustomerId()) ?>"><?php echo $customer_name; ?></a>
                            <?php else: ?>
                                <?php echo $customer_name; ?>
                            <?php endif; ?>
                        </strong></td>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Created Date') ?></label></td>
                    <td class="value"><strong><?php echo $this->formatDate($collection->getdate(), "medium", true); ?></strong></td>
                </tr>  
                <tr>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Department') ?></label></td>
                    <td class="value"><strong><?php echo $this->__($ticketDepatment->getDepartmentName()); ?></strong></td>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Assignee') ?></label></td>
                    <td class="value"><strong><?php echo $assignee_name; ?></strong></td>
                </tr>  
                <tr>
                    <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Subject') ?></label></td>
                    <td class="value"><strong><?php echo $collection->getSubject(); ?></strong></td>
                    <?php if (!$collection->getCustomerId()): ?>
                        <td class="label"><label><?php echo Mage::helper('emipro_ticketsystem')->__('Email') ?></label></td>
                        <td class="value"><strong><?php echo $collection->getCustomerEmail(); ?></strong></td>
                    <?php endif; ?>
                </tr>
            </table>
        </div>
    </div>
    <div class="box-left"  >
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo $this->__('Post Reply'); ?></h4>
        </div>
        <div class="fieldset" >
            <span class="field-row" >
                <label class="normal" for="message"><?php echo Mage::helper('sales')->__('Message') ?></label>
                <textarea name="message" rows="3" cols="5" style="height:12em; width:99%;" id="message"><?php echo Mage::getSingleton('core/session')->getTicketmessage(); ?></textarea>
            </span>
            <span class="field-row" >
                <label class="normal" for="status"><?php echo Mage::helper('sales')->__('Set Ticket Status') ?></label>
                <?php ?>
                <select class="validate-select" title="<?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Status') ?>" name="status">
                    <?php echo $status_options = Mage::helper("emipro_ticketsystem")->getStatusOptionsForAdmin($status); ?>
                </select>
            </span>
            <span class="field-row" >
                <label class="normal" for="file"><?php echo Mage::helper('emipro_ticketsystem')->__('Ticket Attachment') ?></label>
                <input type="file" name="file" id="file">
            </span>

            <div class="field-row" style="margin-left:80%;margin-top:15px;">
                <?php if ($status != 2) { ?>
                    <button  style="" 	 class="scalable save" type="button" onclick="reply()"title="Reply" id="replay"><span><span><span><?php echo $this->__('Reply'); ?></span></span></span></button>
                <?php } else { ?>
                    <button  style="" 	 class="scalable save" type="button" onclick="reply()" title="Reopen" id="replay"><span><span><span><?php echo $this->__('Reopen'); ?></span></span></span></button>
                <?php } ?>
            </div>
            <span class="field-row" >
                <input type="hidden" name="ticket_id" id="ticket_id" value=<?php echo $ticketId; ?>>
                <input type="hidden" name="name" id="name" value="<?php echo $admin_name; ?>">

                <input type="hidden" name="date" id="date" value="<?php echo $currentDate; ?>" >
            </span>
        </div>    
    </div>

    <div class="box-right"  >
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo $this->__('Assign to another admin'); ?></h4>
        </div>
        <div class="fieldset" >
            <span class="field-row" >
                <label class="normal" for="admin_id"><?php echo Mage::helper('sales')->__('Select Name') ?></label>
                <select  title="<?php echo Mage::helper('emipro_ticketsystem')->__('Please select name') ?>" name="admin_id">
                    <option value=""><?php echo $this->__("Please Select"); ?></option>
                    <?php
                    $admin_user = Mage::getModel('admin/user')->getCollection()->getData();
                    foreach ($admin_user as $value):
                        ?>
                        <option value="<?php echo $value["user_id"]; ?>" style="text-transform: capitalize;"><?php echo $value["firstname"] . " " . $value["lastname"]; ?></option>
                    <?php endforeach; ?>		
                </select>
            </span>
            <span class="field-row" >
                <label class="normal" for="assign_msg"><?php echo Mage::helper('sales')->__('Message') ?></label>
                <textarea name="assign_msg" rows="3" cols="5" style="height:6em; width:99%;" id="assign_msg"></textarea>
            </span>


            <div class="field-row" style="margin-left:80%">
                <button  style="" 	 class="scalable save" type="button" onclick="assign1()" title="Assign" id="assign"><span><span><span><?php echo $this->__('Assign'); ?></span></span></span></button>

            </div>
            <span class="field-row" >
                <input type="hidden" name="ticket_id" id="ticket_id" value=<?php echo $ticketId; ?>>
                <input type="hidden" name="name" id="name" value="<?php echo $admin_name; ?>">
                <input type="hidden" name="date" id="date" value="<?php echo $currentDate; ?>" >
                <input type="hidden" name="assign_status" id="assign_status" value="<?php echo $status; ?>" >
                <input type="hidden" name="customer_id" id="customer_id" value="<?php echo $collection->getCustomerId(); ?>" >	
            </span>
        </div>    
    </div>

    <div class="clear"></div>
    <?php
    $conversation = Mage::getModel('emipro_ticketsystem/ticketconversation')->getCollection();
    $conversation->getSelect()->join(array("ticket" => Mage::getConfig()->getTablePrefix() . "ticket_status"), "main_table.status_id=ticket.status_id")->where("main_table.ticket_id=" . $ticketId)->order("main_table.conversation_id DESC");
    foreach ($conversation->getData() as $value) {
        $attachment = Mage::getModel('emipro_ticketsystem/ticketattachment')->getCollection();
        $attachment->addFieldToFilter("conversation_id", $value["conversation_id"]);
        $attachments = $attachment->getData();
        ?>
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-account " Style="float:right"><span style="margin-right:6px;color:#DCDCDC"><?php echo $this->__($value["status"]); ?> </span><?php echo $this->formatDate($value["date"], "medium", true); ?></h4>
                <h4 class="icon-head head-account" style="text-transform: capitalize;"><?php echo $value["name"]; ?></h4>
            </div>
            <div class="fieldset">
                <?php
                if ($value["message_type"] == "official") {
                    $admin_info = Mage::getSingleton('admin/user')->load($value["current_admin"]);
                    $assingee_name = $admin_info->getFirstname() . " " . $admin_info->getLastname();
                    ?>
                    <strong><?php echo $this->__('Assign to'); ?> <span style="text-transform: capitalize;"><?php echo $assingee_name; ?></span></strong>
                <?php } ?>

                <div><?php echo nl2br($value["message"]); ?></div>
                <?php if (count($attachments)): ?>
                    <?php foreach ($attachments as $attachment): ?>
                        <div  style="padding:5px">
                            <span><b><?php echo $attachment['current_file_name']; ?> </b></span>
                            <a style="margin-left:10px;" href="<?php echo $this->getUrl('*/*/checkAttachmentLink', array('ticket_id' => $value['ticket_id'], 'conversation_id' => $value["conversation_id"], 'attach_id' => $attachment['attachment_id'])) ?>" >Download</a>		
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <?php
    }
    ?>
</div>
