<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);

$athleteHelper = $this->helper('athlete');
$helper = $this->helper('athlete/image');
$imgX = 60;
$imgY = $helper->calculateHeight($imgX);
?>
<li class="item clearfix">
	<?php if ($this->hasProductUrl()): ?>
		<a href="<?php echo $this->getProductUrl()?>" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image">
			<?php echo '<img src="'. $this->getProductThumbnail()->resize($imgX,$imgY)
				.'" data-srcX2="'. $this->getProductThumbnail()->resize($imgX*2, $imgY*2)
				.'" width="'.$imgX.'" height="'.$imgY.'" alt="'.$this->escapeHtml($this->getProductName()).'" />'; ?>
		</a>
	<?php else: ?>
		<span class="product-image">
			<?php echo '<img src="'. $this->getProductThumbnail()->resize($imgX,$imgY)
				.'" data-srcX2="'. $this->getProductThumbnail()->resize($imgX*2, $imgY*2)
				.'" width="'.$imgX.'" height="'.$imgY.'" alt="'.$this->escapeHtml($this->getProductName()).'" />'; ?>
		</span>
	<?php endif; ?>
	<div class="product-details">
		<a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>"
		   onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');"
		   class="btn-remove icon-<?php echo $athleteHelper->getCfg('header_dropdown/top_dropdown_buttons_icon', 'athlete_appearance'); ?>"><?php echo $this->__('Remove This Item') ?></a>
		<?php if ($isVisibleProduct): ?>
			<a href="<?php echo $this->getConfigureUrl() ?>" title="<?php echo $this->__('Edit item') ?>"
			   class="btn-edit icon-<?php echo $athleteHelper->getCfg('header_dropdown/top_dropdown_buttons_icon', 'athlete_appearance'); ?>"><?php echo $this->__('Edit item') ?></a>
		<?php endif ?>
		<p class="product-name"><?php if ($this->hasProductUrl()): ?><a
				href="<?php echo $this->getProductUrl() ?>"><?php endif; ?><?php echo $this->escapeHtml($this->getProductName()) ?><?php if ($this->hasProductUrl()): ?></a><?php endif; ?>
		</p>
		<!-- Ocultar -->
		 <?php if ($isVisibleProduct): ?>
		    <strong><?php echo $this->getQty() ?></strong> x
		<?php endif ?>
		
		<?php if ($canApplyMsrp): ?>

			<span class="map-cart-sidebar-item"><?php echo $this->__('See price before order confirmation.'); ?></span>

		<?php else: ?>

			<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
				<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
					<?php echo $this->__('Excl. Tax'); ?>:
				<?php endif; ?>
				<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
					<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?>
				<?php else: ?>
					<!-- Ocultar -->
					<?php if ($isVisibleProduct): ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
					<?php else: ?>	
						<span class="nobr"><small><?php echo $this->__('Gift Item') ?></small></span>
					<?php endif; ?>
				<?php endif; ?>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>
					<br/>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
						<small>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="nobr"><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
								<br/>
							<?php endforeach; ?>
						</small>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><small><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></small></span>
							<br/>
						<?php endforeach; ?>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
						<small>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="nobr"><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
								<br/>
							<?php endforeach; ?>
						</small>
					<?php endif; ?>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>
							:<br/> <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition()); ?></span>
					<?php endif; ?>
				<?php endif; ?>
			<?php endif; ?>

			<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
				<?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
				<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
					<br/><?php echo $this->__('Incl. Tax'); ?>:
				<?php endif; ?>
				<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
					<?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
				<?php else: ?>
					<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
				<?php endif; ?>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>
					<br/>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
						<small>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="nobr"><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'], true, true); ?></span>
								<br/>
							<?php endforeach; ?>
						</small>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="nobr"><small><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></small></span>
							<br/>
						<?php endforeach; ?>
					<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
						<small>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="nobr"><?php echo $tax['title']; ?>
									: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'], true, true); ?></span>
								<br/>
							<?php endforeach; ?>
						</small>
					<?php endif; ?>
					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
						<span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
							:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
					<?php endif; ?>
				<?php endif; ?>
			<?php endif; ?>

		<?php endif; //Can apply MSRP ?>

		<?php if ($_options = $this->getOptionList()): ?>
			<dl class="item-options">
				<?php foreach ($_options as $_option) : ?>
					<dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
					<dd>
						<?php if (is_array($_option['value'])): ?>
							<?php echo nl2br(implode("\n", $_option['value'])) ?>
						<?php else: ?>
							<?php echo $_option['value'] ?>
						<?php endif; ?>
					</dd>
				<?php endforeach; ?>
			</dl>
		<?php endif; ?>
	</div>
</li>