<br/>
<div class="calccep">
    <input type="number" min="0" maxlength="8"  pattern="[0-9]{5}[0-9]{3}" id="postcode" name="estimate_postcode" value="" /> 
    <button type="button" class="button btn-calcularCep" onclick="calcep();">Calcular CEP</button>
    <p>
    <div id="cep-valor"></div>
</div>

<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function() {
	if ( $('postcode').value == '' ) $('postcode').value = "<?php echo Mage::getModel('core/cookie')->get('cep-correios'); ?>";
	calcep();
});

function calcep() {
    var cep = $('postcode').value;
    if ( cep.length > 7 ) {
        document.cookie = "cep-correios="+cep+"; -1";
        var urlAjax = location.href; var validarUrl = /^https:\/\//;
        if ( urlAjax.match( validarUrl ) ) {
            urlAjax = '<?php echo Mage::getBaseUrl("link", true)."autocep/ajax" ?>';
        } else {
            urlAjax = '<?php echo $this->getUrl("autocep/ajax") ?>';
        }
        //verifica valor do cep via ajax
        <?php $_product = $this->getProduct(); ?>
        new Ajax.Request( urlAjax, {method: 'POST',
            parameters: {cepDestino: $('postcode').value, cepOrigem: '<?php echo Mage::getStoreConfig('shipping/origin/postcode'); ?>', cepPeso: '<?php echo $_product->getWeight(); ?>' },
            evalScripts: true,
            onLoading: function(transport) {
                $('cep-valor').update('<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif');?>" /> <span style="color: #888;"><?php echo $this->__('Loading...') ?></span>');
            },
            onComplete: function(transport) {},
            onSuccess: function(transport) {
            if (200 == transport.status) {
                try {
                    var res = transport.responseText.evalJSON();
                    $('cep-valor').update( res.sedex.tipo+": R$"+res.sedex.valor);
                } catch(e) {
                    alert( e.message );
                }
            }
        },
        onFailure: function() { /*$('cep-valor').update( 'naodeu' ); */ }
        });
    }
}
//]]>
</script>
