<div class="input-box">
     <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
</div>
            
<script type="text/javascript">
//<![CDATA[
    new MaskedInput('#telephone', '(99)99999-9999');
//]]>
</script>
           