<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_currentAttribute = Mage::getSingleton('core/app')->getRequest()->getParam('attr');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>

<style class="cp-pen-styles">

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  border: 2px solid #ba1400 !important;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  margin-left: 32px;
  margin-top: 21px;
}

</style>

<form id="search_mini_form" action="<?php echo $_helper->getResultUrl() ?>" method="get"
    class="searchautocomplete UI-SEARCHAUTOCOMPLETE"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">

    <div class="search">
        <?php if ($_filterType == 'category'): ?>
        <div class="nav-search-in">
            <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
            <span class="nav-down-arrow"></span>
            <select name="cat" class="category UI-CATEGORY">
                <option value="0"><?php echo $this->__('All') ?></option>
                <?php foreach ($this->getCategories() as $_category): ?>
                <option value="<?php echo $_category->getId() ?>" <?php if ($_currentCategory == $_category->getId()): ?>selected<?php endif ?>>
                    <?php echo $_category->getName() ?>
                </option>
                <?php endforeach ?>
            </select>
        </div>
        <?php elseif ($_filterType == 'attribute'): ?>
            <div class="nav-search-in">
                <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
                <span class="nav-down-arrow"></span>
                <select name="attr" class="category UI-CATEGORY">
                    <option value="0"><?php echo $this->__('All') ?></option>
                    <?php foreach ($this->getAttributes() as $_code => $_name): ?>
                    <option value="<?php echo $_code ?>" <?php if ($_currentAttribute == $_code): ?>selected<?php endif ?>>
                        <?php echo $_name ?>
                    </option>
                    <?php endforeach ?>
                </select>
            </div>
        <?php endif ?>

		<div style="display: block;">
		        <input id="search" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" class="searchTerm UI-SEARCH UI-NAV-INPUT" maxlength="<?php echo $_helper->getMaxQueryLength();?>" />
		        <input class="searchButton" type="submit"/>
		</div>
        <div class="searchautocomplete-loader UI-LOADER">
            <div id="g01"></div>
            <div id="g02"></div>
            <div id="g03"></div>
            <div id="g04"></div>
            <div id="g05"></div>
            <div id="g06"></div>
            <div id="g07"></div>
            <div id="g08"></div>
        </div>
        
        <div style="display:none" id="search_autocomplete" class="UI-PLACEHOLDER search-autocomplete searchautocomplete-placeholder"></div>
    </div>
</form>