<?php
    $order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
    $addtional = $order->getPayment()->getAdditionalInformation();
?>

<?php if(isset($addtional['link'])){ ?>
	<div class="page-title">
	    <h3>BOLETO BANCÁRIO</h3>
	</div>
    <span><a href="<?php echo $addtional['link'] ?>" target="_blank">Clique aqui</a> para imprimir o boleto bancário</span>
<?php } ?>

